.encabezadoTitulo
{
    background: #262626;
    color: white;
    text-align: center;
}

.perfilEncabezado /*Texto en el encabezado que indica el perfil del usuario*/
{
    color: white !important;
    background: rgba(250,97,21,1);
    background: -moz-linear-gradient(top, rgba(250,97,21,1) 0%, rgba(238,132,21,1) 74%, rgba(232,153,21,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,97,21,1)), color-stop(74%, rgba(238,132,21,1)), color-stop(100%, rgba(232,153,21,1)));
    background: -webkit-linear-gradient(top, rgba(250,97,21,1) 0%, rgba(238,132,21,1) 74%, rgba(232,153,21,1) 100%);
    background: -o-linear-gradient(top, rgba(250,97,21,1) 0%, rgba(238,132,21,1) 74%, rgba(232,153,21,1) 100%);
    background: -ms-linear-gradient(top, rgba(250,97,21,1) 0%, rgba(238,132,21,1) 74%, rgba(232,153,21,1) 100%);
    background: linear-gradient(to bottom, rgba(250,97,21,1) 0%, rgba(238,132,21,1) 74%, rgba(232,153,21,1) 100%);
}

.textoPerfil /*Texto en el encabezado que indica el perfil del usuario*/
{
    font-size: 12pt;
    overflow: hidden;
}

.botonPerfil, .botonPerfil:disabled
{
    border: solid 2px white;
    background: transparent;
    color: white;
    opacity: 1.0;
}

.botonPerfil:hover:disabled
{
    border: solid 2px white;
    background: transparent;
    color: white;
    opacity: 1.0;
    cursor: text;
}

.botonPerfil:hover
{
    border: solid 2px white;
    background: white;
    color: rgb(250, 97, 21);
}

.barraNavegacion
{
    background: rgba(255,255,255,1);

    border-width:  5px 0px 5px 0px;
    border-style: solid;
    border-color: rgb(250, 97, 21);
    color: #262626;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    position: relative;
}

.barraNavegacionBoton  /*Boton de hamburguesa de la barra de navegacion en xs*/
{
    background: rgb(250, 97, 21);
}

.barraNavegacionHamburguesa /*Color de las barras en el boton de hamburguesa*/
{
    background: white;
}


.barraNavegacion .navbar-nav > li > a /*Opciones principales de la barra de navegación*/
{ 
    background: transparent !important;
    color: #262626;
    font-size: 16pt;
}

.barraNavegacion .navbar-nav > li:hover > a /*en las opciones principales de la barra de navegación*/
{ 
    color: rgb(250, 97, 21);
    cursor: pointer !important;
    border-right: solid 2px rgb(250, 97, 21) !important;
}

.dropdownOpcion /*Opciones de los dropdown list*/
{
    color: white !important;
    border-bottom: solid 1px white;
    margin-left: 3px;
    margin-right: 3px;
}

.dropdownOpcion:hover, .dropdownOpcion:focus, .dropdownOpcion:active  /*Hover en las opciones de las dropdown list*/
{
    background-color: white !important;
    color: rgb(250, 97, 21) !important;
    cursor: hand !important;
}

.barraNavegacionDropdown /*fondo de despliegue de los dropdown list */
{
    background: rgba(250,97,21,1);
    background: -moz-linear-gradient(top, rgba(250,97,21,1) 0%, rgba(238,132,21,1) 74%, rgba(232,153,21,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,97,21,1)), color-stop(74%, rgba(238,132,21,1)), color-stop(100%, rgba(232,153,21,1)));
    background: -webkit-linear-gradient(top, rgba(250,97,21,1) 0%, rgba(238,132,21,1) 74%, rgba(232,153,21,1) 100%);
    background: -o-linear-gradient(top, rgba(250,97,21,1) 0%, rgba(238,132,21,1) 74%, rgba(232,153,21,1) 100%);
    background: -ms-linear-gradient(top, rgba(250,97,21,1) 0%, rgba(238,132,21,1) 74%, rgba(232,153,21,1) 100%);
    background: linear-gradient(to bottom, rgba(250,97,21,1) 0%, rgba(238,132,21,1) 74%, rgba(232,153,21,1) 100%);
    
    margin-top: -5px !important;
    margin-bottom: 5px !important;
}

@media (max-width: 767px)
{    
    .barraNavegacion .navbar-nav > li > a /*Modificación de las opcines principales en la barra de navegación*/
    {
        border: solid 2px rgb(250, 97, 21);
        margin-bottom:5px;
    }
    
    .barraNavegacion .navbar-nav > li:hover > a /*Hover de las opciones principales en la barra de navegación*/
    {
        margin-bottom:3px;
        background: rgb(250, 97, 21) !important;
        color: white;
    }
    
    .dropdownOpcion /*Opciones de las dropdown list*/
    {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.claseSeccion
{
    margin-top: 14px;
    border-right: solid 2px #262626;
}

.claseLogoSM
{
    margin-left: -30px;
    max-height: 76px !important;
    max-width: 240 !important;
}

.claseLogoXS
{
    margin-left: -15px;
    max-height: 50px !important;
    max-width: 170 !important;
}

.mayuscula
{
    text-transform: uppercase;
}

.minuscula
{
    text-transform: lowercase;
}

.columna
{
    display: inline;
    display: block;
    background: yellow;
}

.encabezadoArriba
{
    padding-right: 25px;
    padding-left: 10px;
    position:fixed;
    top: 0;
    z-index:  100000000000;
    width: 100%;
}

/*-----Reportar bug--------*/
.BugButton
{
    position: absolute;
    top: 400px;
    right: 0px !important;
    height: 30px !important;

    -ms-transform: rotate(-90deg); /* IE 9 */
    -ms-transform-origin: right bottom; /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: right bottom; /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    transform-origin: right bottom;

    /*
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    */
    z-index: 10000;
}

.AddonBugButton
{
    background-color: #01DF01;
    color: #B40404 !important;
    font-weight: bold;
    font-size:14px;
}

.BtnBugButton
{
    background-color: #B40404; 
    color: #01DF01 !important; 
    font-weight: bold;  
    font-size:14px;
}

.renglonBug
{
    background: rgba(180, 4, 4, 0.2);
}

.renglonBug:hover
{
    background: rgba(180, 4, 4, 0.2) !important;
}

.bordeBug
{
    border: solid 2px #262626;
    padding: 5px;
    max-height: 100px;
    overflow: scroll;
}
