<div ng-controller="MaqueoControlador as maqueo">
    <div class="row">
        <div class="col-md-11 col-xs-10">
            <div class="table-responsive TablaUnidadNegocio">
                <table class="table table-hover table-striped table-condensed">
                    <thead class="TituloTabla">
                      <tr>
                        <th><button class="btn btn-block botonOrdenar" ng-click="CambiarOrdenarMaqueo('Nombre')"><b>Nombre </b><b ng-if="ordenarMaqueo === 'Nombre'" class="fa fa-arrow-up"></b>  <b ng-if="ordenarMaqueo === '-Nombre'" class="fa fa-arrow-down"></b></button></th>
                        <th><button class="btn botonOrdenar" ng-click="CambiarOrdenarMaqueo('CostoUnidad')"><b>Costo Unidad </b><b ng-if="ordenarMaqueo === 'CostoUnidad'" class="fa fa-arrow-up"></b>  <b ng-if="ordenarMaqueo === '-CostoUnidad'" class="fa fa-arrow-down"></b></button></th>
                        <th><button class="btn botonOrdenar" ng-click="CambiarOrdenarMaqueo('Margen')"><b>Margen </b><b ng-if="ordenarMaqueo === 'Margen'" class="fa fa-arrow-up"></b>  <b ng-if="ordenarMaqueo === '-Margen'" class="fa fa-arrow-down"></b></button></th>
                        <th><button class="btn botonFalso"><b>Colores</b></button></th>
                        <th><button class="btn botonFalso"><b>Editar</b></button></th>
                        <th><button class="btn botonFalso"><b>Activo</b></button></th>
                      </tr>
                    </thead>
                    <tbody >
                      <tr ng-repeat="maqueo in maqueo | orderBy:[ordenarMaqueo,'Nombre'] | filter:buscarMaqueo">
                          <td>
                              {{maqueo.Nombre}}
                               <span ng-if="maqueo.PorDefecto" class="fa fa-asterisk" data-toggle="tooltip" data-placement="bottom" title="Maqueo por defecto"></span>
                          </td>
                          
                          <td>${{maqueo.CostoUnidad}}</td>
                          
                          <td>${{maqueo.Margen}}</td>

                           <td class="text-center">
                                <a  class="BotonOperacion" href="" data-toggle="modal" data-target="#DetalleMaqueoColores" ng-click="VerGrupoColorMaqueo(maqueo.Grupo)">
                                    <span class="fa fa-eye fa-2x" ></span>
                                </a>
                            </td>
                            
                            <td class="text-center">
                                <a ng-if="permisoUsuario.maqueo.editar" class="BotonOperacion" href="" data-toggle="modal" data-target="#" ng-click="AbrirServicio('Editar', maqueo)">
                                    <span class="fa fa-pencil fa-2x" ></span>
                                </a>

                                <span ng-if="!permisoUsuario.maqueo.editar" class="fa fa-pencil fa-2x botonRegistroDeshabilitado"></span>
                            </td>
                            

                            <td class="text-center">
                                <div class="checkbox">
                                    <label>
                                        <input  ng-disabled="!permisoUsuario.maqueo.activar" ng-model="maqueo.Activo" type="checkbox" value="" ng-click="ActivarDesactivarMaqueo(maqueo)">
                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    </label>
                                </div>
                            </td>

                      </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-2 col-md-1">
             <button ng-disabled="!permisoUsuario.maqueo.agregar"  class="btn btn-block botonOperacion fa fa-plus text-center" data-toggle="tooltip" data-placement="bottom" title="Agregar Tipo Módulo" ng-click="AbrirServicio('Agregar', null)"></button>
             
             <br><br>
             <!-- Boton buscar -->
            <div class="dropdown">
                
                <button class="btn btn btn-block botonOperacion fa fa-search text-center" data-toggle="dropdown" ></button>
                    
                <ul class="dropdown-menu dropdown-menu-right operacionPanel">

                    <li style="width: 225px; height: 35px !important;">

                        <form role="buscar" style="max-width: 200px; height: 25px !important;">
                            <div class="input-group" >
                              <input  type="text" class="form-control operacionPanelEntrada" placeholder="Buscar" style="margin-left: 5px; width: 175px;" ng-model="buscarMaqueo">
                              <span class="input-group-btn" style="width: 25px;">
                                <button class="btn operacionPanelBoton" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                              </span>
                            </div>
                        </form>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
                     
    <!------------------------------------ Modales -------------------------------------------------------------------->
    <!---- Agregar y editar muestrario -->
    <div class="modal fade" id="maqueoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
        <br>    <br>   <br>
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <!-- encabezado del modal -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="margenModal">
                            <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close" ng-click="CerrarMaqueoForma()"><span aria-hidden="true">&times;</span></button>
                            <h3 class="text-center" ng-if="operacion === 'Agregar'">Agregar Maqueo</h3>
                            <h3 class="text-center" ng-if="operacion === 'Editar'">Editar Maqueo</h3>
                            <hr class="separador">
                        </div>
                    </div>
                </div>
                <br>

                <form class="modal-body" name="maqueoForma">
                <!-- Datos -->
                    <div class="row">
                        <!-- Nombre -->
                        <div class="col-sm-6">
                             <div class="entrada2">
                                <input ng-pattern="erNombreGeneral" type="text" required class="{{claseMaqueo.nombre}} form-control" name="nombre" ng-model="nuevoMaqueo.Nombre"/>
                                <label>Nombre</label>
                            </div>
                        </div>
                        
                        <br class="hidden-sm hidden-md hidden-lg">
                        <div class="col-sm-6">
                            <button class="btn btn-block {{claseMaqueo.color}}" ng-click="CambiarMostrarColorMaqueo()">
                                Colores: 
                                <b ng-if="nuevoMaqueo.Grupo.Nombre.length > 0">{{nuevoMaqueo.Grupo.Nombre}}</b>
                                <b  ng-if="nuevoMaqueo.Grupo.Nombre.length == 0">Selecciona uno</b>
                                <b>{{mostrarColorMaqueo.texto}}</b>
                            </button>
                        </div>
                    </div> 
                    
                    <br ng-show="mostrarColorMaqueo.mostrar">
                    <div class="row" ng-show="mostrarColorMaqueo.mostrar">
                       
                        <div class="col-xs-12">
                           <div class="panelOculto">
                                <input type="text" class="buscar input-md form-control" placeholder="Buscar" ng-model="buscarGrupoMaqueo"/>
                                <br>
                                <div class="panel panel-default  tablaDropdowlist" >
                                    <table class="table table-hover table-responsive">
                                      <tbody  style="cursor: pointer">
                                        <tr ng-repeat="grupo in grupo | filter: { Nombre:buscarGrupoMaqueo} | orderBy:'Nombre'" ng-show="grupo.Activo">

                                          <td >
                                              {{grupo.Nombre}}
                                          </td>
                                          
                                          <td class="text-center">
                                            <a  class="BotonOperacion" href="" data-toggle="modal" data-target="#DetalleMaqueoColores" ng-click="VerGrupoColorMaqueo2(grupo)">
                                                <span class="fa fa-eye fa-2x" ></span>
                                            </a>
                                          </td>

                                          <td>
                                            <span class="pull-right">
                                               <a style="margin-left:10px" class="BotonOperacion" href=""  ng-click="SeleccionarGrupo(grupo)">
                                                    <span class="fa fa-check fa-2x"></span>
                                                </a>
                                              </span>
                                           </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <br>
                    <div style="margin-top:10px"></div>
                   
                    <div class="row">
                        <!-- Costo unidad -->
                        <div class="col-sm-6">
                             <div class="entrada2">
                                <input ng-pattern="erNumeroDecimal" type="text" required class="{{claseMaqueo.costo}} form-control" name="costo" ng-model="nuevoMaqueo.CostoUnidad"/>
                                <label>Costo Unidad</label>
                            </div>
                        </div>
                        
                        <br class="hidden-sm hidden-md hidden-lg">
                        <div class="hidden-sm hidden-md hidden-lg" style="margin-top:10px"></div>
                        <!-- Margen -->
                        <div class="col-sm-6">
                             <div class="entrada2">
                                <input ng-pattern="erNumeroDecimal" type="text" required class="{{claseMaqueo.precio}} form-control" name="precio" ng-model="nuevoMaqueo.Margen"/>
                                <label>Margen</label>
                            </div>
                        </div>
                        
                    </div> 
                    <br>
                    
                    <!--Por defecto -->
                    <div class="row">
                      <!-- activo -->
                       <div class="col-sm-6">
                             <label class="btn checkBoxActivo">Maqueo PorDefecto <input type="checkbox" class="badgebox" ng-model="nuevoMaqueo.PorDefecto"><span class="badge">&check;</span></label>
                         </div>
                         
                         <br class="hidden-sm hidden-md hidden-lg">
                         
                         <!-- por defecto -->
                        <div class="col-sm-6">
                             <label class="btn checkBoxActivo">Maqueo Activo<input type="checkbox" class="badgebox" ng-model="nuevoMaqueo.Activo"><span class="badge">&check;</span></label>
                         </div>
                        
                    </div> 
                    <br>
                    <!-------- mensaje de error ---->
                    <div class="row">
                        <div class="col-xs-12">
                            <div ng-repeat="error in mensajeError">
                                <span class="textoError">{{error}}</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!---- botones de operacion --->
                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn botonCancelar btn-block" data-dismiss="modal" aria-label="Close" ng-click="CerrarMaqueoForma()">CANCELAR</button>
                        </div>
                        
                        <div class="col-xs-6">
                            <button ng-disabled="terminar" focus class="btn botonAvanzar btn-block" ng-click="TerminarMaqueo(maqueoForma.nombre.$invalid, maqueoForma.costo.$invalid, maqueoForma.precio.$invalid)">TERMINAR</button>
                        </div>
                    </div>
                    <br> 
                </form>
            </div>
            <br><br><br>
        </div>
    </div>
    
    <!-------------- Detalles los colores ----------->
    <div class="modal fade " id="DetalleMaqueoColores">
        <br>    <br>   <br>
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <!-- encabezado del modal -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="margenModal">
                            <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="text-center">Colores - {{grupoDetalle.Nombre}}</h3>
                            <hr class="separador">
                        </div>
                    </div>
                </div>
                
                <!-- cuerpo del modal -->
                <div class="modal-body">
                    <!-- Opciones de unidad de negocio -->
                        
                    <h4>Colores</h4><br>
                    <!-- Colores -->
                    <div class="row">
                        <div class="col-sm-12">
                            
                            <table class="table table-hover">
                                <thead class="TituloTabla">
                                  <tr>
                                    <th><button class="btn botonOrdenar"><b>Color</b></button></th>
                                    <th><button class="btn botonOrdenar"><b>Nombre</b></button></th>
                                    <th><button class="btn botonFalso"><b>Activo</b></button></th>
                                  </tr>
                                </thead>
                                <tbody ng-repeat="color in grupoDetalle.Color | orderBy:'Nombre'">
                                  <tr>
                                    <td>
                                        
                                        <a ng-if="color.Imagen.length > 0" class="BotonOperacion" href="" data-toggle="modal" data-target="#ImagenColorMaqueo" ng-click="VerColorMaqueo(color)">
                                            
                                            <img class="imagenTabla" ng-src="data:image/PNG;base64,{{color.Imagen}}"/>
                                            
                                        </a>

                                        <span ng-if="color.Imagen.length == 0" class="fa fa-picture-o fa-2x botonRegistroDeshabilitado"></span>
                                        
                                    </td>
                                    
                                    <td>{{color.Nombre}}</td>

                                    <td class="text-center">
                                        <span class="fa fa-check-square-o fa-2x" ng-if="color.Activo"></span>
                                        <span class="fa fa-square-o fa-2x" ng-if="!color.Activo"></span>
                                    </td>

                                  </tr>
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
                       
    <!-------------- Imagen expandida-------------->
    <div class="modal fade" id="ImagenColorMaqueo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <br>    <br>   <br>
        <div class="modal-dialog">
            <div class="modal-content">
              
               <div class="row">
                  
                    <div class="col-xs-12">
                        <div class="margenModal">
                            <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="text-center">Color - {{colorModal.Nombre}}</h3>
                            <hr class="separador">
                        </div>
                    </div>
                </div>
                
                <div class="modal-body">
                   
                    <div class="row">
                        <div class="col-xs-12">
                            <img  class="img-responsive center-block" ng-src="data:image/PNG;base64,{{colorModal.Imagen}}"/>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    <!-- Desactivar Modal -->
    <div class="modal fade" id="modalActivarDesactivarMaqueo" data-keyboard="false" data-backdrop="static">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                
                <div class="modal-body">
                    <br>
                    <div class="panel panel-default modalMensaje">
                        <br>
                        <b>{{mensajeAdvertencia}}</b>
                        <br><br>

                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn botonCancelar" data-dismiss="modal" aria-label="Close" ng-click="CancelarEstatusActivoMaqueo()">No</button>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn botonAvanzar" data-dismiss="modal" aria-label="Close" ng-click="ConfirmarActualizarMaqueo()">Si</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                
            </div>
        </div>
    </div> 
    
    <!-- Modal para mensajes -->
    <div class="modal fade" id="mensajeMaqueo">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                
                <div class="modal-body">
                    <div class="panel panel-default modalMensaje">
                        <br>
                        <b>{{mensaje}}</b>

                        <br><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn  botonAvanzar" data-dismiss="modal" aria-label="Close">Aceptar</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                
            </div>
        </div>
    </div>             
    
                        
</div>

     