<div ng-controller="ColorMaqueoControlador as ColorMaqueo">
    <div class="row">
        <div class="col-md-11 col-xs-10">
            <div class="table-responsive TablaUnidadNegocio">
                <table class="table table-hover table-striped table-condensed">
                    <thead class="TituloTabla">
                      <tr>
                        <th><button class="btn botonOrdenar" ng-click="CambiarOrdenar('Nombre')"><b>Nombre </b><b ng-if="ordenarPorGrupoColor === 'Nombre'" class="fa fa-arrow-up"></b>  <b ng-if="ordenarPorGrupoColor === '-Nombre'" class="fa fa-arrow-down"></b></button></th>
                        <th><button class="btn botonFalso"><b>Detalles</b></button></th>
                        <th><button class="btn botonFalso"><b>Editar</b></button></th>
                        <th><button class="btn botonFalso"><b>Activo</b></button></th>
                      </tr>
                    </thead>
                    <tbody >
                      <tr ng-repeat="grupo in grupo | orderBy:[ordenarPorGrupoColor, 'Nombre'] | filter:{Nombre:buscarGrupoColor}">
                        <td>{{grupo.Nombre}}</td>
                        
                        <td class="text-center">
                            <a  class="BotonOperacion" href="" data-toggle="modal" data-target="#DetalleMaqueoColor" ng-click="VerGrupoColor(grupo)">
                                <span class="fa fa-eye fa-2x"></span>
                            </a>
                        </td>

                        <td class="text-center">
                            <a ng-if="permisoUsuario.maqueo.editar" class="BotonOperacion" href="" data-toggle="modal" data-target="#" ng-click="AbrirGrupoColor('Editar', grupo)">
                                <span class="fa fa-pencil fa-2x"></span>
                            </a>

                            <span ng-if="!permisoUsuario.maqueo.editar" class="fa fa-pencil fa-2x botonRegistroDeshabilitado"></span>
                        </td>

                        <td class="text-center">
                            <div class="checkbox">
                                <label>
                                    <input ng-disabled="!permisoUsuario.maqueo.activar" ng-model="grupo.Activo" type="checkbox" value="" ng-click="ActivarDesactivarGrupoColor(grupo)">
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                </label>
                            </div>
                        </td>

                      </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-2 col-md-1">
             <button ng-disabled="!permisoUsuario.maqueo.agregar"  class="btn btn-block botonOperacion fa fa-plus text-center" data-toggle="tooltip" data-placement="bottom" title="Agregar Muestario de Color" ng-click="AbrirGrupoColor('Agregar', null)"></button>
             
             <br><br>
             <!-- Boton buscar -->
            <div class="dropdown">
                
                <button class="btn btn btn-block botonOperacion fa fa-search text-center" data-toggle="dropdown" ></button>
                    
                <ul class="dropdown-menu dropdown-menu-right operacionPanel">

                    <li style="width: 225px; height: 35px !important;">

                        <form role="buscar" style="max-width: 200px; height: 25px !important;">
                            <div class="input-group" >
                              <input  type="text" class="form-control operacionPanelEntrada" placeholder="Buscar" style="margin-left: 5px; width: 175px;" ng-model="buscarGrupoColor">
                              <span class="input-group-btn" style="width: 25px;">
                                <button class="btn operacionPanelBoton" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                              </span>
                            </div>
                        </form>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
                     
     <!------------------------------------ Modales -------------------------------------------------------------------->
                      
    <!---- Modal para Agregar-editar Grupo Color Cubierta -->
    <div class="modal fade" id="colorMaqueoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
        <br>    <br>   <br>
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <!-- encabezado del modal -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="margenModal">
                            <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close" ng-click="CerrarGrupoColorModal()"><span aria-hidden="true">&times;</span></button>
                            <h3 class="text-center" ng-if="operacion === 'Agregar'">Agregar Muestrario Color</h3>
                            <h3 class="text-center" ng-if="operacion === 'Editar'">Editar Muestrario Color</h3>
                            <hr class="separador">
                        </div>
                    </div>
                </div>
                <br>

                <form class="modal-body" name="colorCubiertaForma">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <!-- Nombre -->
                             <div class="entrada2">
                                <input ng-pattern="erNombreGeneral" type="text" required class="{{claseGrupoColor.nombre}} form-control" name="nombre" ng-model="nuevoGrupo.Nombre"/>
                                <label>Nombre</label>
                            </div>
                        </div>
                            
                        <br class="hidden-sm hidden-md hidden-lg"><br class="hidden-sm hidden-md hidden-lg">
                        <!-- Activo -->
                       <div class="col-xs-12 col-sm-6">
                             <label class="btn checkBoxActivo">Muestrario Activo <input type="checkbox" class="badgebox" ng-model="nuevoGrupo.Activo"><span class="badge">&check;</span></label>
                        </div>
                        <br>

                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-xs-12 subtituloModal">
                            <b>¿Qué colores pertenecen a este muestrario?</b>
                        </div>

                        <br><br>
                        <div class="col-xs-12">
                            <button class="btn btn-block {{claseGrupoColor.color}}" ng-click="CambiarMostrarColor()">Colores {{mostrarColor.texto}}</button>
                        </div>
                        <br><br>

                        <div ng-show="mostrarColor.mostrar">
                            <div class="col-xs-12">
                               <div class="panelOculto">
                                    <input type="text" class="buscar input-md form-control" placeholder="Buscar" ng-model="buscarColor"/>
                                    <br>
                                    <div class="panel panel-default  tablaDropdowlist" >
                                        <table class="table table-hover table-responsive">
                                          <tbody  style="cursor: pointer">
                                            <tr ng-repeat="color in color | filter: { Nombre:buscarColor} | orderBy:'Nombre'" ng-show="color.Activo && color.show">
                                              
                                              
                                              <td>
                                                <a ng-if="color.Imagen.length > 0" class="BotonOperacion" href="" data-toggle="modal" data-target="#ImagenGrupoColorMaqueoModal" ng-click="VerColor(color)">

                                                    <img class="imagenTabla" ng-src="data:image/PNG;base64,{{color.Imagen}}"/>

                                                </a>

                                                <span ng-if="color.Imagen.length == 0" class="fa fa-picture-o fa-2x botonRegistroDeshabilitado"></span>
                                              </td>
                                              
                                              <td >
                                                  {{color.Nombre}}
                                              </td>
                                              
                                              <td>
                                                <span class="pull-right">
                                                   <a style="margin-left:10px" class="BotonOperacion" href=""  ng-click="AgregarColor(color)">
                                                        <span class="fa fa-plus fa-2x"></span>
                                                    </a>
                                                  </span>
                                               </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row" ng-if="nuevoGrupo.Color.length > 0">
                        <div class="col-xs-12 subtituloModal">
                            <b>Colores Agregados</b>
                        </div>
                        <br> <br>
                        <div class="col-xs-12">
                            <div class="piezaPorComponenteTabla">
                                <table class="table table-hover">
                                    <thead class="TituloTabla">
                                      <tr>
                                        <th><button class="btn botonOrdenar"><b>Color</b></button></th>
                                        <th><button class="btn botonOrdenar"><b>Nombre</b></button></th>
                                        <th><button class="btn botonFalso"><b>Quitar</b></button></th>
                                      </tr>
                                    </thead>
                                    <tbody ng-repeat="color in nuevoGrupo.Color | orderBy:'Nombre'">
                                      <tr>
                                        
                                        <td>
                                            <a ng-if="color.Imagen.length > 0" class="BotonOperacion" href="" data-toggle="modal" data-target="#ImagenGrupoColorMaqueoModal" ng-click="VerColor(color)">

                                                <img class="imagenTabla" ng-src="data:image/PNG;base64,{{color.Imagen}}"/>

                                            </a>

                                            <span ng-if="color.Imagen.length == 0" class="fa fa-picture-o fa-2x botonRegistroDeshabilitado"></span>
                                        </td>
                                        
                                         <td>{{color.Nombre}}</td>

                                        <td class="text-center">
                                            <a class="BotonOperacion" href="" data-toggle="modal" data-target="#" ng-click="QuitarColor(color)">
                                                <span class="fa fa-times fa-2x"></span>
                                            </a>
                                        </td>

                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                  
                    <br>
                    <!-------- mensaje de error ---->
                    <div class="row">
                        <div class="col-xs-12">
                            <div ng-repeat="error in mensajeError">
                                <span class="textoError">{{error}}</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!---- botones de operacion --->
                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn botonCancelar btn-block" data-dismiss="modal" aria-label="Close" ng-click="CerrarGrupoColorModal()">CANCELAR</button>
                        </div>
                        
                        <div class="col-xs-6">
                            <button ng-disabled="terminar" focus class="btn botonAvanzar btn-block" ng-click="TerminarColorCubierta(colorCubiertaForma.nombre.$invalid)">TERMINAR</button>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
            <br><br><br>
        </div>
    </div>
                      
    <!-------------- Detalles del grupo ----------->
    <div class="modal fade " id="DetalleMaqueoColor">
        <br>    <br>   <br>
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <!-- encabezado del modal -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="margenModal">
                            <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="text-center">Detalles del Muestrario {{grupoActualizar.Nombre}}</h3>
                            <hr class="separador">
                        </div>
                    </div>
                </div>
                
                <!-- cuerpo del modal -->
                <div class="modal-body">
                    <!-- Opciones de unidad de negocio -->
                        
                    <h4>Colores</h4><br>
                    <!-- Colores -->
                    <div class="row">
                        <div class="col-sm-12">
                            
                            <table class="table table-hover">
                                <thead class="TituloTabla">
                                  <tr>
                                    <th><button class="btn botonOrdenar"><b>Color</b></button></th>
                                    <th><button class="btn botonOrdenar"><b>Nombre</b></button></th>
                                    <th><button class="btn botonFalso"><b>Activo</b></button></th>
                                  </tr>
                                </thead>
                                <tbody ng-repeat="color in grupoActualizar.Color | orderBy:'Nombre'">
                                  <tr>
                                    <td>
                                        
                                        <a ng-if="color.Imagen.length > 0" class="BotonOperacion" href="" data-toggle="modal" data-target="#ImagenGrupoColorMaqueoModal" ng-click="VerColor(color)">
                                            
                                            <img class="imagenTabla" ng-src="data:image/PNG;base64,{{color.Imagen}}"/>
                                            
                                        </a>

                                        <span ng-if="color.Imagen.length == 0" class="fa fa-picture-o fa-2x botonRegistroDeshabilitado"></span>
                                        
                                    </td>
                                    
                                    <td>{{color.Nombre}}</td>

                                    <td class="text-center">
                                        <span class="fa fa-check-square-o fa-2x" ng-if="color.Activo"></span>
                                        <span class="fa fa-square-o fa-2x" ng-if="!color.Activo"></span>
                                    </td>

                                  </tr>
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
                       
    <!-------------- Imagen expandida-------------->
    <div class="modal fade" id="ImagenGrupoColorMaqueoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <br>    <br>   <br>
        <div class="modal-dialog">
            <div class="modal-content">
              
               <div class="row">
                  
                    <div class="col-xs-12">
                        <div class="margenModal">
                            <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="text-center">Color - {{colorModal.Nombre}}</h3>
                            <hr class="separador">
                        </div>
                    </div>
                </div>
                
                <div class="modal-body">
                   
                    <div class="row">
                        <div class="col-xs-12">
                            <img  class="img-responsive center-block" ng-src="data:image/PNG;base64,{{colorModal.Imagen}}"/>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>  
                        
    <!-- Desactivar Modal -->
    <div class="modal fade" id="modalActivarDesactivarConfigurarMaqueoColor" data-keyboard="false" data-backdrop="static">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                
                <div class="modal-body">
                    <br>
                    <div class="panel panel-default modalMensaje">
                        <br>
                        <b>{{mensajeAdvertencia}}</b>
                        <br><br>

                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn botonCancelar" data-dismiss="modal" aria-label="Close" ng-click="CancelarEstatusActivoGrupoColor()">No</button>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn botonAvanzar" data-dismiss="modal" aria-label="Close" ng-click="ConfirmarActualizarGrupoColor()">Si</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                
            </div>
        </div>
    </div> 
    
    <!-- Modal para mensajes -->
    <div class="modal fade" id="mensajeConfigurarMaqueoColor">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                
                <div class="modal-body">
                    <div class="panel panel-default modalMensaje">
                        <br>
                        <b>{{mensaje}}</b>

                        <br><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn  botonAvanzar" data-dismiss="modal" aria-label="Close">Aceptar</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                
            </div>
        </div>
    </div>  
                        
</div>

     