<div ng-controller="CostoConsumoPresupuesto" class="container" style="margin-left: 45px; margin-right: 45px !important; padding: 0px">
       
    <!-- configuración -->
    <div class="btnVertical">
       
       <button class="btn" ng-click="AbrirConfiguracion()">
           <span class="fa fa-cog"></span>
           <span> Configuaración</span>
       </button>
       
    </div>
    
   
   <!-- Título -->
   <div class="row">
       <div class="col-xs-12">
           <h3>Reporte de Costo - Consumo</h3>
       </div>
   </div>
   <br>
    
    
    <!-- Ver por -->
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="checkbox checkboxOperativo itemPresupuesto" style="margin-left: 0px; border-bottom-width: 0px; color: black" >
                <label style="width:100%">
                    <input  value="combinacion" ng-model="verPor" type="radio" name="ver" style="display: none" ng-change="CambiarVerPor()">
                    <i class="ratioBtn {{ verPor ==  'combinacion' ? 'fa fa-dot-circle-o checked' : 'fa fa-circle-o'}} "></i>
                    <span>Ver por combinación</span>
                </label>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-6">
            <div class="checkbox checkboxOperativo itemPresupuesto" style="margin-left: 0px; border-bottom-width: 0px; color: black" >
                <label style="width:100%">
                    <input  value="modulo" ng-model="verPor" type="radio" name="ver" style="display: none" >
                    <i class="ratioBtn {{ verPor ==  'modulo' ? 'fa fa-dot-circle-o checked' : 'fa fa-circle-o'}} "></i>
                    <span>Ver por módulo</span>
                </label>
            </div>
        </div>
    </div>
    <br>
    
    <!-- Puerta -->
    <div class="row">
        <div class="col-sm-6">
          
          <label>Puerta</label>
          <div class="dropdown">

                <button class="dropdown-toggle  dropdownlistModal" data-toggle="dropdown" style="height: 33px">
                    <span ng-show="puertaSel">{{puertaSel.Puerta}} ({{puertaSel.Muestrario}})</span>
                    <span ng-show="!puertaSel">Ninguna</span>
                    <span class="pull-right">
                        <span class="caret "></span>
                    </span>
                </button>

                <ul class="dropdown-menu listaOpcionesDropdownList" style="min-width: 100%">
                   <li>
                       <a  href="" class="dropdownOpcionModal" ng-click="CambiarPuerta('ninguna')">
                            <span>NINGUNA</span>
                        </a>
                    </li>
                    
                    <li ng-repeat="puerta in puerta | orderBy:['Puerta', 'Muestrario']">
                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarPuerta(puerta)">
                            <span>{{puerta.Puerta}} ({{puerta.Muestrario}})</span>
                        </a>
                    </li>
                </ul>

            </div>
           
        </div>
    </div>
    <br>
    
    <!-- Ver por combinación -->
    
    <!-- consumo -->
     <div class="row" style="margin-bottom: 16px">
        <div class="col-xs-12">
            <div class="btnStatusProyecto form-control"  style="overflow:hidden !important;  font-weight: normal; height: 34px;" ng-click="acordion.consumo = !acordion.consumo" ng-class="{Seleccionado: acordion.consumo}"> 
                <span class="fa fa-chevron-right" style="width:20px;" ng-if="!acordion.consumo"></span>
                <span class="fa fa-chevron-up" style="width:20px;" ng-if="acordion.consumo"></span>
                Consumo
            </div>
        </div>
    </div>
    
    <form class="contenedorAcordio" style="margin-top: -20px"  ng-show="acordion.consumo">
       
        
        <!-- combinacion -->
        <div class="row " ng-if="verPor == 'combinacion'">
            <div class="col-xs-12">
               <br>
               <div class="table-responsive" style="overflow: scroll; max-height: 500px;">
                   <table class="table table-hover">
                        <thead class="TituloTabla"  style="background:  rgb(250, 97, 21); border-color:  rgb(250, 97, 21); color:white">
                          <tr>
                            <!--<th><span class=""><b>Combinación</b></span></th>-->
                            <th><span class=""><b>Material</b></span></th>
                            <th class="text-center"><span><b>Grueso</b></span></th>
                            <th class="text-center"><span><b>Consumo (pie<sup>2</sup>)</b></span></th>
                            <th class="text-center"><span><b>+Desperdico (pie<sup>2</sup>)</b></span></th>
                          </tr>
                       </thead>

                       <tbody ng-repeat="combinacion in combinacion | orderBy:['CombinacionMaterialId']" ng-show="combinacion.Ver">

                          <tr>
                              <td class="text-center"   rowspan="combinacion.Material.length "  colspan="4" style="background: lightgray; color: black"><b>{{combinacion.Nombre}}</b></td>
                           </tr>

                           <tr ng-repeat="material in combinacion.Material | orderBy:['TipoMaterialId', 'Material', 'GruesoN'] track by $index" ng-show="material.Consumo > 0">

                                <td>{{material.Material}}</td>
                                <td class="text-center">{{material.Grueso}}</td>
                                <td class="text-center">{{material.Consumo | decimal}}</td>
                                <td class="text-center" >{{material.ConsumoDesperdicio | decimal}}</td>

                           </tr>


                       </tbody>

                   </table>

               </div>

            </div>
        </div>
        
        <!-- módulo -->
        <div ng-show="verPor == 'modulo'">
           
            <br>
           <!-- filtros tipo módulo,  modulo -->
           <div class="row">
                
               <!-- tipo módulo -->    
               <div class="col-sm-6" >

                  <label>Tipo de Módulo</label>
                  <div class="dropdown">

                        <button class="dropdown-toggle  dropdownlistModal" data-toggle="dropdown" style="height: 33px; ">
                           {{filtroModulo.TipoModulo.Nombre}} 
                            <span class="pull-right">
                                <span class="caret "></span>
                            </span>
                        </button>

                        <ul class="dropdown-menu listaOpcionesDropdownList" style="min-width: 100%">
                           <li>

                               <a  href="" class="dropdownOpcionModal" ng-click="CambiarTipoModuloFiltro('Ninguno')">
                                    <span>NINGUNO</span>
                                </a>
                            </li>

                            <li ng-repeat="tipo in tipomodulo | orderBy:['Nombre'] ">
                                <a  href="" class="dropdownOpcionModal" ng-click="CambiarTipoModuloFiltro(tipo)">
                                    <span>{{tipo.Nombre}}</span>
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>

                <!--  módulo -->    
               <div class="col-sm-6" >

                  <label>Módulo</label>
                  <div class="dropdown">

                        <button class="dropdown-toggle  dropdownlistModal" data-toggle="dropdown" style="height: 33px;" ng-disabled="!filtroModulo.TipoModulo.TipoModuloId">
                           {{filtroModulo.Modulo.Nombre}} 
                            <span class="pull-right">
                                <span class="caret "></span>
                            </span>
                        </button>

                        <ul class="dropdown-menu listaOpcionesDropdownList" style="min-width: 100%">
                           <li>

                               <a  href="" class="dropdownOpcionModal" ng-click="CambiarModuloFiltro('Ninguno')">
                                    <span>NINGUNO</span>
                                </a>
                            </li>

                            <li ng-repeat="modulo in modulofiltro | orderBy:['Nombre'] | filter:{TipoModuloId:filtroModulo.TipoModulo.TipoModuloId }">
                                <a  href="" class="dropdownOpcionModal" ng-click="CambiarModuloFiltro(modulo)">
                                    <span>{{modulo.Nombre}}</span>
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>

            </div>
            
            <br>
           
           <!-- radio button total - unitario -->
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="checkbox checkboxOperativo itemPresupuesto" style="margin-left: 0px; border-bottom-width: 0px; color: black" >
                        <label style="width:100%">
                            <input  value="total" ng-model="consumoRadio" type="radio" name="consumoRadio" style="display: none" >
                            <i class="ratioBtn {{ consumoRadio ==  'total' ? 'fa fa-dot-circle-o checked' : 'fa fa-circle-o'}} "></i>
                            <span>Consumo Total</span>
                        </label>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="checkbox checkboxOperativo itemPresupuesto" style="margin-left: 0px; border-bottom-width: 0px; color: black" >
                        <label style="width:100%">
                            <input  value="unitario" ng-model="consumoRadio" type="radio" name="consumoRadio" style="display: none" ng-disabled="verPor == 'combinacion'">
                            <i class="ratioBtn {{ consumoRadio ==  'unitario' ? 'fa fa-dot-circle-o checked' : 'fa fa-circle-o'}} "></i>
                            <span>Consumo Unitario</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Módulo -->
        <div class="row" ng-show="verPor == 'modulo'">
            <div class="col-xs-12">
               <br>
               <div class="table-responsive" style="overflow: scroll; max-height: 500px;">
                   <table class="table table-hover">
                        <thead class="TituloTabla"  style="background:  rgb(250, 97, 21); border-color:  rgb(250, 97, 21); color:white">
                          <tr>
                            <th><span class=""><b>Combinación</b></span></th>
                            <th><span class=""><b>Material</b></span></th>
                            <th class="text-center"><span><b>Grueso</b></span></th>
                            <th class="text-center"><span><b>Consumo (pie<sup>2</sup>)</b></span></th>
                            <th class="text-center"><span><b>+Desperdicio (pie<sup>2</sup>)</b></span></th>
                          </tr>
                       </thead>

                       <tbody ng-repeat="modulo in modulo |filter:{TipoModuloId: filtroModulo.TipoModulo.TipoModuloId, Nombre:filtroModulo.Modulo.Nombre} | orderBy:['NombreTipoModulo', 'Nombre', 'AnchoNumero', 'AltoNumero', 'ProfundoNumero']">
                       
                           <tr>
                              <td class="text-center"   rowspan="modulo.Combinacion.length "  colspan="5" style="background: lightgray; color: black">
                                  <b>({{modulo.Cantidad}}) {{modulo.NombreTipoModulo}} - {{modulo.Nombre}} <span style="margin-left: 10px">{{modulo.Ancho}}" {{modulo.Alto}}" {{modulo.Profundo}}"</span></b> 
                                  
                                  <button class="btn BotonOperacion tabla pull-right" style="margin-top: -8px">
                                      <span class="fa fa-puzzle-piece" ng-click="VerPiezasModulo(modulo)"></span>
                                  </button>
                              </td>
                              
                           </tr>

                           <tr ng-repeat="combinacion in modulo.Combinacion | orderBy:['CombinacionMaterialId']">

                              <td style="background: #F2F2F2; color: black">
                                  <b>{{combinacion.Nombre}} </b> 
                              </td>

                              <!-- Material -->
                              <td style="padding: 0px">
                                  <table style=" width: 100%; margin-bottom: 0px !important" class="table">
                                    <tr ng-repeat="material in combinacion.Material | orderBy:['TipoMaterialId', 'Material', 'GruesoN'] track by $index" ng-show="material.ConsumoUnitario > 0">
                                        <td>{{material.Material}}</td>
                                     </tr>
                                 </table>
                              </td>

                              <!-- Grueso -->
                              <td style="padding: 0px">
                                 <table style=" width: 100%; margin-bottom: 0px !important" class="table">
                                     <tr ng-repeat="material in combinacion.Material | orderBy:['TipoMaterialId', 'Material', 'GruesoN'] track by $index" ng-show="material.ConsumoUnitario > 0">
                                           <td class="text-center">{{material.Grueso}}</td>
                                     </tr>
                                 </table>
                              </td>

                              <!-- Consumo -->
                              <td class="text-center" style="padding: 0px">
                                 <table style=" width: 100%; margin-bottom: 0px !important" class="table">
                                     <tr class="text-center" ng-repeat="material in combinacion.Material | orderBy:['TipoMaterialId', 'Material', 'GruesoN'] track by $index" ng-show="material.ConsumoUnitario > 0">
                                           <td class="text-center">{{consumoRadio == 'unitario' ?  material.ConsumoUnitario : material.ConsumoTotal | decimal}}</td>
                                     </tr>
                                 </table>
                              </td>

                              <!-- Consumo Desperdicio -->
                              <td class="text-center" style="padding: 0px">
                                 <table  style=" width: 100%; margin-bottom: 0px !important" class="table">
                                     <tr class="text-center" ng-repeat="material in combinacion.Material | orderBy:['TipoMaterialId', 'Material', 'GruesoN'] track by $index" ng-show="material.ConsumoUnitario > 0">
                                           <td class="text-center" >{{consumoRadio == 'unitario' ? material.ConsumoDesperdicioUnitario : material.ConsumoDesperdicioTotal | decimal}}</td>
                                     </tr>
                                 </table>
                              </td>

                           </tr>

                       </tbody>

                   </table>

               </div>

            </div>
        </div>
        
    </form>
    
    <!-- Costo -->
     <div class="row" style="margin-bottom: 16px">
        <div class="col-xs-12">
            <div class="btnStatusProyecto form-control"  style="overflow:hidden !important;  font-weight: normal; height: 34px;" ng-click="acordion.costo = !acordion.costo" ng-class="{Seleccionado: acordion.costo}"> 
                <span class="fa fa-chevron-right" style="width:20px;" ng-if="!acordion.costo"></span>
                <span class="fa fa-chevron-up" style="width:20px;" ng-if="acordion.costo"></span>
                Costo
            </div>
        </div>
    </div>
    
    <form class="contenedorAcordio" style="margin-top: -20px"  ng-show="acordion.costo">
       
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="checkbox checkboxOperativo itemPresupuesto" style="margin-left: 0px; border-bottom-width: 0px; color: black" >
                    <label style="width:100%">
                        <input  value="total" ng-model="costoRadio" type="radio" name="costoRadio" style="display: none" >
                        <i class="ratioBtn {{ costoRadio ==  'total' ? 'fa fa-dot-circle-o checked' : 'fa fa-circle-o'}} "></i>
                        <span>Costo Total</span>
                    </label>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="checkbox checkboxOperativo itemPresupuesto" style="margin-left: 0px; border-bottom-width: 0px; color: black" >
                    <label style="width:100%">
                        <input  value="unitario" ng-model="costoRadio" type="radio" name="costoRadio" style="display: none" ng-disabled="verPor == 'combinacion'">
                        <i class="ratioBtn {{ costoRadio ==  'unitario' ? 'fa fa-dot-circle-o checked' : 'fa fa-circle-o'}} "></i>
                        <span>Costo Unitario</span>
                    </label>
                </div>
            </div>
        </div>
        
       <!-- combinacion -->
       <div class="row" ng-if="verPor == 'combinacion'">
            <div class="col-xs-12">
               <br>
               <div class="table-responsive" style="overflow: scroll; max-height: 500px;">
                   <table class="table table-hover">
                        <thead class="TituloTabla"  style="background:  rgb(250, 97, 21); border-color:  rgb(250, 97, 21); color:white">
                          <tr>
                            <th><span class=""><b>Combinación</b></span></th>
                            <th class="text-center"><span><b>Costo</b></span></th>
                            <th class="text-center"><span><b>+Desperdicio</b></span></th>
                            <th class="text-center"><span><b>+Consumible</b></span></th>
                            <th class="text-center"><span><b>+Margen</b></span></th>
                          </tr>
                       </thead>

                       <tbody>
        
                           <tr  ng-repeat="combinacion in combinacion | orderBy:['CombinacionMaterialId']" ng-show="combinacion.Ver">

                                <td>{{combinacion.Nombre}}</td>
                                <td class="text-center">{{combinacion.Costo | currency}}</td>
                                <td class="text-center">{{combinacion.CostoDesperdicio | currency}}</td>
                                <td class="text-center">{{combinacion.CostoConsumible | currency}}</td>
                               <td class="text-center">{{combinacion.CostoMargen | currency}}</td>
                           </tr>

                       </tbody>

                   </table>

               </div>

            </div>
        </div>
        
        <!-- Módulo -->
        <div class="row" ng-if="verPor == 'modulo'">
            <div class="col-xs-12">
               <br>
               <div class="table-responsive" style="overflow: scroll; max-height: 500px;">
                   <table class="table table-hover">
                        <thead class="TituloTabla"  style="background:  rgb(250, 97, 21); border-color:  rgb(250, 97, 21); color:white">
                          <tr>
                            <th><span class=""><b>Combinación</b></span></th>
                            <th class="text-center"><span><b>Costo c/u</b></span></th>
                            <th class="text-center"><span><b>+Desperdicio</b></span></th>
                            <th class="text-center"><span><b>+Consumible</b></span></th>
                            <th class="text-center"><span><b>+Margen</b></span></th>
                          </tr>
                       </thead>

                       <tbody ng-repeat="modulo in modulo | orderBy:['NombreTipoModulo', 'Nombre', 'AnchoNumero', 'AltoNumero', 'ProfundoNumero']">
                       
                           <tr>
                              <td class="text-center"   rowspan="modulo.Combinacion.length "  colspan="5" style="background: lightgray; color: black">
                                  <b>({{modulo.Cantidad}}) {{modulo.NombreTipoModulo}} - {{modulo.Nombre}} <span style="margin-left: 10px">{{modulo.Ancho}}" {{modulo.Alto}}" {{modulo.Profundo}}"</span></b> 
                              </td>
                           </tr>
        
                           <tr ng-repeat="combinacion in modulo.Combinacion | orderBy:['CombinacionMaterialId']">
                                <td>{{combinacion.Nombre}}</td>
                                <td class="text-center">
                                    {{(costoRadio == 'unitario' ? combinacion.CostoUnitario : costoRadio == 'total' ? combinacion.CostoTotal : 0) | currency}}
                                </td>
                                <td class="text-center">
                                     {{(costoRadio == 'unitario' ? combinacion.CostoDesperdicioUnitario : costoRadio == 'total' ? combinacion.CostoDesperdicioTotal : 0) | currency}}
                                </td>
                                <td class="text-center">
                                     {{(costoRadio == 'unitario' ? combinacion.CostoConsumibleUnitario : costoRadio == 'total' ? combinacion.CostoConsumibleTotal : 0) | currency}}
                                </td>
                                <td class="text-center">
                                     {{(costoRadio == 'unitario' ? combinacion.CostoMargenUnitario : costoRadio == 'total' ? combinacion.CostoMargenTotal : 0) | currency}}
                                </td>
                           </tr>

                       </tbody>

                   </table>

               </div>

            </div>
        </div>
                
    </form>
    
   
    <!--  Separador -->
    <div class="row">
        <div class="col-xs-12">
            <div style="width: 100%; height: 2px; background: lightgray"></div>
        </div>
    </div>
    <br>
    
     <!-- Accesorio -->
     <div class="row" style="margin-bottom: 16px">
        <div class="col-xs-12">
            <div class="btnStatusProyecto form-control"  style="overflow:hidden !important;  font-weight: normal; height: 34px;" ng-click="acordion.accesorio = !acordion.accesorio" ng-class="{Seleccionado: acordion.accesorio}"> 
                <span class="fa fa-chevron-right" style="width:20px;" ng-if="!acordion.accesorio"></span>
                <span class="fa fa-chevron-up" style="width:20px;" ng-if="acordion.accesorio"></span>
                Accesorio
            </div>
        </div>
    </div>
    
    <form class="contenedorAcordio" style="margin-top: -20px"  ng-show="acordion.accesorio">

       <!-- Tabla Accesorios -->
       <div class="row" >
            <div class="col-xs-12">
               <br>
               <div class="table-responsive" style="overflow: scroll; max-height: 500px;">
                   <table class="table table-hover">
                        <thead class="TituloTabla"  style="background:  rgb(250, 97, 21); border-color:  rgb(250, 97, 21); color:white">
                          <tr>
                            <th><span class=""><b>Accesorio</b></span></th>
                            <th class="text-center" style="min-width: 250px"><span><b>Combinación</b></span></th>
                            <th class="text-center"><span><b>Material</b></span></th>
                            <th class="text-center"><span><b>Grueso</b></span></th>
                            <th class="text-center"><span><b>Consumo (pie<sup>2</sup>)</b></span></th>
                            <th class="text-center"><span><b>Costo</b></span></th>
                            <th class="text-center"><span><b>+Margen</b></span></th>
                            <th class="text-center"><span><b>PrecioVenta</b></span></th>
                          </tr>
                       </thead>

                       <tbody>
        
                           <tr  ng-repeat="accesorio in accesorio | orderBy:['CombinacionMaterialId']">

                              <td style="background: #F2F2F2; color: black">
                                  <b>{{accesorio.TipoAccesorio}} - {{accesorio.Nombre}}</b><br>
                                  <span>Consumo/Unidad: {{accesorio.ConsumoUnidad}}</span><br>
                                  <span>Cantidad: {{accesorio.Cantidad}}</span><br>
                              </td>

                              <!-- Combinacion -->
                              <td style="padding: 0px">
                                  <table style=" width: 100%; margin-bottom: 0px !important" class="table">
                                    <tr ng-repeat="combinacion in accesorio.Combinacion | orderBy:['CombinacionMaterialId'] track by $index">
                                        <td>{{combinacion.Nombre}}</td>
                                     </tr>
                                 </table>
                              </td>
                              
                              <!-- Material -->
                              <td style="padding: 0px">
                                  <table style=" width: 100%; margin-bottom: 0px !important" class="table">
                                    <tr ng-repeat="combinacion in accesorio.Combinacion | orderBy:['CombinacionMaterialId'] track by $index">
                                        <td class="text-center">{{combinacion.Material}}</td>
                                     </tr>
                                 </table>
                              </td>
                              
                              <!-- Grueso -->
                              <td style="padding: 0px">
                                  <table style=" width: 100%; margin-bottom: 0px !important" class="table">
                                    <tr ng-repeat="combinacion in accesorio.Combinacion | orderBy:['CombinacionMaterialId'] track by $index">
                                        <td class="text-center">{{combinacion.Grueso}}</td>
                                     </tr>
                                 </table>
                              </td>
                              
                              <!-- Consumo -->
                              <td style="padding: 0px">
                                  <table style=" width: 100%; margin-bottom: 0px !important" class="table">
                                    <tr ng-repeat="combinacion in accesorio.Combinacion | orderBy:['CombinacionMaterialId'] track by $index">
                                        <td class="text-center">{{accesorio.ConsumoTotal}}</td>
                                     </tr>
                                 </table>
                              </td>
                              
                              <!-- Costo -->
                              <td style="padding: 0px">
                                  <table style=" width: 100%; margin-bottom: 0px !important" class="table">
                                    <tr ng-repeat="combinacion in accesorio.Combinacion | orderBy:['CombinacionMaterialId'] track by $index">
                                        <td class="text-center">{{(accesorio.ConsumoTotal * combinacion.Costo) | currency}}</td>
                                     </tr>
                                 </table>
                              </td>
                              
                               <!-- Margen -->
                              <td style="padding: 0px">
                                  <table style=" width: 100%; margin-bottom: 0px !important" class="table">
                                    <tr ng-repeat="combinacion in accesorio.Combinacion | orderBy:['CombinacionMaterialId'] track by $index">
                                        <td class="text-center">{{(accesorio.ConsumoTotal * combinacion.Costo * (accesorio.Margen+1)) | currency}}</td>
                                     </tr>
                                 </table>
                              </td>
                              
                              <!-- Precio Venta -->
                              <td style="padding: 0px">
                                  <table style=" width: 100%; margin-bottom: 0px !important" class="table">
                                    <tr ng-repeat="combinacion in accesorio.Combinacion | orderBy:['CombinacionMaterialId'] track by $index">
                                        <td class="text-center">{{combinacion.PrecioVenta | currency}}</td>
                                     </tr>
                                 </table>
                              </td>
                              
                           </tr>

                       </tbody>

                   </table>

               </div>

            </div>
        </div>
                
    </form>
            
    <!--  Separador -->
    <div class="row">
        <div class="col-xs-12">
            <div style="width: 100%; height: 2px; background: lightgray"></div>
        </div>
    </div>
    
    <!-- Título -->
   <div class="row">
       <div class="col-xs-12">
           <h3>Totales</h3>
       </div>
   </div>
   
    <!-- accesorio -->
   <div class="row">
       <div class="col-xs-12">
           <br>
           <div class="" style="overflow: visible; max-height: 500px;">
               <table class="table table-hover">
                    <thead class="TituloTabla"  style="background:  rgb(250, 97, 21); border-color:  rgb(250, 97, 21); color:white">
                      <tr>
                        <th><span class=""><b>Tipo Accesorio </b></span></th>
                        <th class="text-center"><span><b>Muestrario</b></span></th>
                        <th class="text-center"><span><b>Accesorio</b></span></th>
                      </tr>
                   </thead>

                   <tbody>
                       <tr ng-repeat="tipo in tipoAccesorio">
                           <td>{{tipo.Nombre}}</td>

                           <td>
                             <div class="dropdown">

                                <button class="dropdown-toggle  dropdownlistModal" data-toggle="dropdown" >
                                    <span style="font-size: 11pt !important">
                                        <span>{{tipo.Muestrario.Muestrario}}</span>
                                         <span class="pull-right">
                                            <span class="caret"></span>
                                        </span>
                                    </span>
                                </button>

                                <ul class="dropdown-menu listaOpcionesDropdownList" style="width: 100%; overflow: visible !important">                               
                                    <li ng-repeat="muestrario in muestrarioAccesorio  | filter:{TipoAccesorioId: tipo.TipoAccesorioId}" >
                                        <button  href="" class=" dropdownOpcionModalbtn " ng-click="tipo.Muestrario = muestrario; tipo.Muestrario.Accesorio = null">
                                           <span style="margin: 0px 15px 0px 10px;">
                                                <span class="text-left">{{muestrario.Muestrario}} </span>
                                            </span>
                                        </button>
                                    </li>
                                </ul>

                            </div>
                         </td>

                          <td>
                             <div class="dropdown">

                                <button class="dropdown-toggle  dropdownlistModal" data-toggle="dropdown" >
                                    <span style="font-size: 11pt !important">
                                        <span>{{tipo.Muestrario.Accesorio.Nombre}}</span>

                                        <span class="pull-right">
                                            <span class="caret"></span>
                                        </span>
                                    </span>
                                </button>

                                <ul class="dropdown-menu listaOpcionesDropdownList" style="width: 100%"> 

                                    <li ng-repeat="accesorio in accesorio | filter:{MuestrarioId: tipo.Muestrario.MuestrarioId}">
                                        <a  href="" class="dropdownOpcionModal" ng-click="tipo.Muestrario.Accesorio = accesorio">
                                            <span>{{accesorio.Nombre}}</span>
                                        </a>
                                    </li>
                                </ul>

                            </div>

                         </td>
                       </tr>

                   </tbody>
               </table>
           </div>
       </div>
   </div>
   <br>
   
   <!-- Total consumo -->
   <div class="row" style="margin-bottom: 16px">
        <div class="col-xs-12">
            <div class="btnStatusProyecto form-control"  style="overflow:hidden !important;  font-weight: normal; height: 34px;" ng-click="acordion.totalconsumo = !acordion.totalconsumo" ng-class="{Seleccionado: acordion.totalconsumo}"> 
                <span class="fa fa-chevron-right" style="width:20px;" ng-if="!acordion.totalconsumo"></span>
                <span class="fa fa-chevron-up" style="width:20px;" ng-if="acordion.totalconsumo"></span>
                Total Consumo
            </div>
        </div>
    </div>
    
    <form class="contenedorAcordio" style="margin-top: -20px"  ng-show="acordion.totalconsumo">
       
       <!-- total consumo -->
       
       <div class="row" >
            <div class="col-xs-12">
               <br>
               <div class="table-responsive" style="overflow: scroll; max-height: 500px;">
                   <table class="table table-hover">
                        <thead class="TituloTabla"  style="background:  rgb(250, 97, 21); border-color:  rgb(250, 97, 21); color:white">
                          <tr>
                            <!--<th><span class=""><b>Combinación</b></span></th>-->
                            <th><span class=""><b>Material</b></span></th>
                            <th class="text-center"><span><b>Grueso</b></span></th>
                            <th class="text-center"><span><b>Consumo (pie<sup>2</sup>)</b></span></th>
                            <th class="text-center"><span><b>+Desperdico (pie<sup>2</sup>)</b></span></th>
                          </tr>
                       </thead>

                       <tbody ng-repeat="combinacion in combinacion | orderBy:['CombinacionMaterialId']" ng-show="combinacion.Ver">

                          <tr>
                              <td class="text-center"   rowspan="combinacion.Material.length "  colspan="4" style="background: lightgray; color: black"><b>{{combinacion.Nombre}}</b></td>
                           </tr>

                           <tr ng-repeat="material in GetTotalAccesorioConsumo(combinacion.Material, combinacion.CombinacionMaterialId) | orderBy:['TipoMaterialId', 'Material', 'GruesoN'] track by $index" ng-show="material.ConsumoAccesorio > 0">

                                <td>{{material.Material}}</td>
                                <td class="text-center">{{material.Grueso}}</td>
                                <td class="text-center">{{material.ConsumoAccesorio | decimal}}</td>
                                <td class="text-center" >{{material.ConsumoDesperdicio | decimal}}</td>

                           </tr>


                       </tbody>

                   </table>

               </div>

            </div>
        </div>
                
    </form>
    
    <!-- Total Costo -->
   <div class="row" style="margin-bottom: 16px">
        <div class="col-xs-12">
            <div class="btnStatusProyecto form-control"  style="overflow:hidden !important;  font-weight: normal; height: 34px;" ng-click="acordion.totalcosto = !acordion.totalcosto" ng-class="{Seleccionado: acordion.totalcosto}"> 
                <span class="fa fa-chevron-right" style="width:20px;" ng-if="!acordion.totalcosto"></span>
                <span class="fa fa-chevron-up" style="width:20px;" ng-if="acordion.totalcosto"></span>
                Total Costo
            </div>
        </div>
    </div>
    
    <form class="contenedorAcordio" style="margin-top: -20px"  ng-show="acordion.totalcosto">
       
       <!-- total costo -->
       
       <div class="row" >
            <div class="col-xs-12">
               <br>
               <table class="table table-hover">
                    <thead class="TituloTabla"  style="background:  rgb(250, 97, 21); border-color:  rgb(250, 97, 21); color:white">
                      <tr>
                        <th><span class=""><b>Combinación</b></span></th>
                        <th class="text-center"><span><b>Costo</b></span></th>
                        <th class="text-center"><span><b>+Desperdicio</b></span></th>
                        <th class="text-center"><span><b>+Consumible</b></span></th>
                        <th class="text-center"><span><b>+Margen</b></span></th>
                      </tr>
                   </thead>

                   <tbody>

                       <tr  ng-repeat="combinacion in combinacion | orderBy:['CombinacionMaterialId']" ng-show="combinacion.Ver">

                            <td>{{combinacion.Nombre}}</td>
                            <td class="text-center">{{GetCostoAccesorio(combinacion) | currency}}</td>
                            <td class="text-center">{{combinacion.CostoDesperdicio | currency}}</td>
                            <td class="text-center">{{combinacion.CostoConsumible | currency}}</td>
                           <td class="text-center">{{GetCostoMargenAccesorio(combinacion) | currency}}</td>
                       </tr>

                   </tbody>

               </table>

            </div>
        </div>
                
    </form>
    
    <br><br>

        
    <!-- --------- configuración de materiales y combinaciones ---------- -->

    <div ng-show="configuracion" class="sidebar {{animacionCon}}" id="sidebar">
       <!-- contenido -->
        <div id="sidebar-content" class="sidebar-content animated" ng-class="{'fadeInLeft' : animacionCon == 'abrir', 'fadeOutLeft' : animacionCon == 'cerrar'}">

            <!-- header -->
            <div class="sidebar-header">
                <div class="row" style="margin-left: 0px; margin-right: 0px">
                    <div class="col-xs-12" style="padding: 0px">

                       <div class="input-group">
                           <span class="form-control sidebar-title">
                               <span class="fa fa-cog"></span>
                               Configuración
                           </span>

                           <div class="input-group-btn">
                               <button class="btn sidebar-close" ng-click="CerrarConfiguracion()"> 
                                   <span class="fa fa-times"></span>
                               </button>
                           </div>

                       </div>

                    </div>
                </div>
            </div>

            <!--  body -->
            <div class="sidebar-body">

                <!-- combinaciones -->

                <div class="row" ng-click="conCombinacion = !conCombinacion" style="margin-left: 0px; margin-right: 0px">
                    <div class="col-xs-12" style="padding: 0px">
                        <div class="sidebar-divider" style="padding: 4px 16px">
                            <span>Combinaciones</span>
                            <span class="pull-right"><span class="fa" ng-class="{'fa-chevron-right': !conCombinacion, 'fa-chevron-up': conCombinacion}"></span></span>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="conCombinacion" style="margin-left: 0px; margin-right: 0px; margin-bottom: 12px">
                    
                    <div class="col-xs-12" style="padding: 0px; margin-top: 12px; margin-bottom: 12px">
                        <div style="padding: 0px 16px">
                            <span style="color: gray; font-size: 10pt">Elige las combinaciones que desees ver</span>
                        </div>
                    </div>
                     
                    <div class="col-xs-12" ng-repeat="comb in combinacionConf" style="padding: 0px">
                        <div style="padding: 0px 0px">
                            <div class="checkbox checkboxOperativo itemPresupuesto" style="margin-left: -4px; border-bottom-width: 0px; color: black" >
                                <label style="width:100%">
                                    <input  ng-model="comb.Ver" type="checkbox" >
                                    <span class="cr"> <i class="cr-icon fa fa-check"></i> </span>
                                    <span style="font-size: 12pt">{{comb.Nombre}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-click="conPrecio = !conPrecio" style="margin-left: 0px; margin-right: 0px">
                    <div class="col-xs-12" style="padding: 0px">
                        <div class="sidebar-divider" style="padding: 4px 16px">
                            <span>Precios</span>
                            <span class="pull-right"><span class="fa" ng-class="{'fa-chevron-right': !conPrecio, 'fa-chevron-up': conPrecio}"></span></span>
                        </div>
                    </div>
                </div>

                <div ng-show="conPrecio" >
                    <div class="row" ng-show="conCombinacion" style="margin-left: 0px; margin-right: 0px; margin-bottom: 12px">
                    
                        <div class="col-xs-12" style="padding: 0px; margin-top: 12px; margin-bottom: 12px">
                            <div style="padding: 0px 16px">
                            
                                <div ng-class="{'input-group': material.Grueso.length == 0}" style="margin-bottom: 12px" ng-repeat="material in materialConf | orderBy:['TipoMaterialId', 'NombreMaterial']" >
                                    <!-- sin gruesos -->
                                    <div class="input-group-addon addonMaterial" ng-if="material.Grueso.length == 0">{{material.NombreMaterial}}</div>
                                    <input class="form-control entrada" ng-model="material.CostoUnidad" style="text-align: right" ng-if="material.Grueso.length == 0" ng-pattern="erDecimal">
                                    
                                    <!-- con grueso -->
                                    <div class="addonMaterial" ng-if="material.Grueso.length > 0"  style="margin-bottom: 12px; padding-right: 12px">{{material.NombreMaterial}}</div>
                                    
                                    <div class="input-group" ng-if="material.Grueso.length > 0" ng-repeat="grueso in material.Grueso | orderBy:['GruesoN']" style="margin-bottom: 12px">
                                        <div class="input-group-addon addonMaterial" >{{grueso.Grueso}}</div>
                                        <input class="form-control entrada" ng-model="grueso.CostoUnidad" style="text-align: right" ng-pattern="erDecimal">
                                    </div>

                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <!-- footer -->
            <div class="sidebar-footer">
                <div class="row">
                    <div class="col-xs-6" style="padding-left: 32px" >
                        <button class="btn btn-block sidebar-btnOpt" ng-click="ReestablecerCombinacion()">Reestablecer</button>
                    </div>

                    <div class="col-xs-6"  style="padding-right: 32px">
                        <button class="btn btn-block sidebar-btnOpt primary" ng-click="AplicarConfiguracion()">Aplicar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ------------------- Modales ---------------------- -->
     <!-- Modal para mensajes -->
    <div class="modal fade sombraDivModal" id="mensajeCostoConsumoPresupuesto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <br>    <br>   <br>
        <div class="modal-dialog modalPrincipal modal-sm">
           <br>
            <div class="row">
                <div class="col-xs-12 text-center" style="font-size:12pt">
                   {{mensaje}}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <button focus class="btn botonOperacionModal btn-block" data-dismiss="modal" aria-label="Close">Aceptar</button>
                </div>
            </div>
        </div> 
    </div> 

</div>
     


     