<div ng-controller="CitaControlador as cita">

     <!-- Modal para mensajes -->
    <div class="modal fade" id="agregarCitaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true" data-backdrop="static">
        <br>    <br>   <br>
        <div class="modal-dialog modalPrincipal">
           
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close" ng-click="CerrarCitaModal()"><span aria-hidden="true">&times;</span></button>
                    <span ng-if="operacion == 'Agregar'" class="tituloModal">Agregar Cita</span>
                    <span ng-if="operacion == 'Editar'" class="tituloModal">Editar Cita</span>
                </div>
            </div>
            <br><br><br>
            
            <!-- Paso 1 -->
            <form name="cita1Forma" ng-show="pasoCita == 1">
                <!-- nombre -->
                <div class="row"> 
                    <div class="col-sm-12">
                       <div class="entrada2">
                            <input  ng-disabled=" personaSeleccionada" ng-pattern="erNombrePersonal" ng-blur="GoToPeople()" type="text" required class="{{claseCita.paso1.nombre}} form-control" name="nombre" ng-model="nuevaCita.Persona.Nombre" ng-maxlength="255"/>
                            <label>Nombre*</label>
                        </div>
                   </div>             
                </div>
                <br><br>
                <!-- Apellidos -->
                <div class="row"> 
                    <div class="col-sm-6">
                       <div class="entrada2">
                            <input ng-disabled=" personaSeleccionada" ng-pattern="erNombrePersonal" ng-blur="GoToPeople()" type="text" required class="{{claseCita.paso1.apellido1}} form-control" name="apellido1" ng-model="nuevaCita.Persona.PrimerApellido" ng-maxlength="120"/>
                            <label>Primer Apellido*</label>
                        </div>
                   </div>
                   
                   <div class="hidden-sm hidden-md hidden-lg"> <br><br> </div>   
                   
                   <div class="col-sm-6">
                       <div class="entrada2">
                            <input required ng-disabled=" personaSeleccionada" type="text" class="{{claseCita.paso1.apellido2}} form-control" name="apellido2" ng-model="nuevaCita.Persona.SegundoApellido" ng-maxlength="120"/>
                            <label>Segundo Apellido</label>
                        </div>
                   </div>       
                </div>
                <br><br>
                <!-- Medio de captación -->
                <div class="row">
                  
                    <div class="col-sm-6 etiquetaDropdownList">
                         <label>Medio de captación*</label>
                         <div class="dropdown">

                            <button ng-disabled=" personaSeleccionada" class="dropdown-toggle  {{claseCita.paso1.captacion}} " data-toggle="dropdown">
                                <span>{{nuevaCita.Persona.MedioCaptacion.Nombre}}</span>
                                <span class="caret"></span>
                            </button>
                            
                            <ul class="dropdown-menu listaOpcionesDropdownList " >
                               <li>
                                    <a  href="" class="dropdownOpcionModal" ng-click="CambiarMedioCaptacion('otro')">
                                        <span class="text-center"> OTRO </span>
                                    </a>
                                </li>
                                
                                <li ng-repeat="medio in medioCaptacion | orderBy:'Nombre'">
                                    <a  href="" class="dropdownOpcionModal" ng-click="CambiarMedioCaptacion(medio)" ng-show="medio.Activo && medio.MedioCaptacionId != '0'">
                                        <span>{{medio.Nombre}}</span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                        
                    <div ng-if="nuevaCita.Persona.MedioCaptacion.MedioCaptacionId == '0'" class="hidden-sm hidden-md hidden-lg"> <br> </div>
                   
                    <div class="col-sm-6" ng-if="nuevaCita.Persona.MedioCaptacion.MedioCaptacionId == '0'">
                       <div class="entrada2">
                            <input ng-disabled=" personaSeleccionada"  ng-pattern="erNombreGeneral" type="text" required class="{{claseCita.paso1.otro}} form-control" name="nombreMedioCaptacion" ng-model="nuevaCita.Persona.NombreMedioCaptacion" ng-maxlength="120"/>
                            <label>Nombre Medio de Captación*</label>
                        </div>
                   </div>             
                </div>

                <!-- UnidadNegocio -->
                <!--  -->
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-block botonAcordion" ng-click="MostrarContenido('unidad')" ng-show="permisoOperativo.verTodosCliente" ng-disabled="cita1Forma.nombre.$invalid || cita1Forma.apellido1.$invalid"><!--  -->
                            <span class="pull-left " >
                                <span ></span><span>Unidades de Negocio</span> 
                            </span>
                            <span ng-if="!mostrarContenido.unidad" class="pull-right fa fa-chevron-down"></span>
                            <span ng-if="mostrarContenido.unidad" class="pull-right fa fa-chevron-up"></span>
                        </button>
                    </div>
                    
                </div>
                
                <div class="row" ng-if="mostrarContenido.unidad" > 
                    
                    <div class="col-xs-12">
                        
                        <div class="row" >
                           <br>
                            <div class="col-xs-12" >
            
                                <div class="panel panelOpciones tablaResponsable" >
                                    <table class="table table-hover table-responsive">
                                      <tbody  style="cursor: pointer">
                                        <tr ng-repeat="unidad in unidadNegocio | filter: { Nombre:buscarUnidad} | orderBy:'Nombre'" ng-show="unidad.show">
                                          <td ng-click="SetReponsable(unidad, 'UnidadNegocio')">
                                              {{unidad.NombreTipoUnidadNegocio}} - {{unidad.Nombre}}
                                              
                                               <a class="pull-right BotonOperacion text-center" href="" style="font-size:16pt" ng-click="AgregarUnidadNegocio(unidad)">
                                                    <span class="fa fa-plus "></span>
                                                </a>
                                            
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                                        
                            </div> 
                        </div>
                        
                        <!-- unidades de negocio agregadas -->
                        <div class="row" ng-if="nuevaCita.Persona.UnidadNegocio.length > 0">
                            <div class="col-xs-12">
                                <div class="table-responsive TablaModal">
                                    <table class="table table-hover">
                                        <thead class="TituloTabla">
                                          <tr>
                                            <th>Unidad Negocio</th>
                                            <th class="text-center">Quitar </th>
                                          </tr>
                                        </thead>
                                        <tbody >
                                          <tr ng-repeat="unidad in nuevaCita.Persona.UnidadNegocio | orderBy:['NombreTipoUnidadNegocio','Nombre'] ">
                                            <td>{{unidad.NombreTipoUnidadNegocio}} - {{unidad.Nombre}}</td>

                                            <td class="text-center">
                                                <a  class="BotonOperacion" href=""  ng-click="QuitarUnidadNegocio(unidad)">
                                                    <span class="fa fa-times fa-2x"></span>
                                                </a>
                                            </td>
                                            
                                          </tr>   

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>   
                        
                </div>
                <br><br ng-if="mostrarResponsable">
            
                
                <!-- Medios de contacto -->
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-block botonAcordion" ng-click="MostrarContenido('contacto')" ng-disabled="cita1Forma.nombre.$invalid || cita1Forma.apellido1.$invalid"><!--  -->
                            <span class="pull-left " >
                                <span class="fa fa-address-book"></span><span> Medio de contacto</span> 
                            </span>
                            <span ng-if="!mostrarContenido.contacto" class="pull-right fa fa-chevron-down"></span>
                            <span ng-if="mostrarContenido.contacto" class="pull-right fa fa-chevron-up"></span>
                        </button>
                    </div>
                    
                </div>
                
                <div class="row" ng-if="mostrarContenido.contacto && (!cita1Forma.nombre.$invalid && !cita1Forma.apellido1.$invalid)">
                    <div class="col-xs-12">
                       <br>
                       <div class="row">
                           <div class="col-xs-12">
                                <button class="btn botonAgregarAcordion pull-right" ng-click="AgregarMedioContacto()" >
                                    <span>
                                        <span class="fa fa-plus"></span>
                                        <span> Nuevo</span> 
                                    </span>
                                </button>
                           </div>
                        </div>
                        
                        <!-- Medios de contacto agregados -->
                        <div class="row" ng-if="nuevaCita.Persona.Contacto.length +  nuevaCita.Persona.NuevoContacto.length > 0">
                            <div class="col-xs-12">
                                <div class="table-responsive TablaModal">
                                    <table class="table table-hover">
                                        <thead class="TituloTabla">
                                          <tr>
                                            <th>Medio de Contacto</th>
                                            <th>Tipo </th>
                                            <th>Contacto </th>
                                            <th class="text-center">Editar</th>
                                            <th class="text-center">Quitar </th>
                                          </tr>
                                        </thead>
                                        <tbody >
                                          <tr ng-repeat="contacto in nuevaCita.Persona.Contacto | orderBy:['MedioContacto.Nombre','TipoMedioContacto.Nombre'] " ng-show="contacto.Activo && MostrarMedioContacto(contacto.TipoMedioContacto.TipoMedioContactoId)">
                                            <td>{{contacto.MedioContacto.Nombre}}</td>
                                            <td>{{contacto.TipoMedioContacto.Nombre}}</td>
                                            
                                            
                                            <td ng-if="contacto.MedioContacto.MedioContactoId == '2'">{{contacto.Contacto | tel}}</td>
                                            <td ng-if="contacto.MedioContacto.MedioContactoId == '1'">{{contacto.Contacto}}</td>

                                            <td class="text-center">
                                                <a  class="BotonOperacion" href="" data-toggle="modal" data-target="#" ng-click="EditarContactoAgregado(contacto,'Registrado')" >
                                                    <span class="fa fa-pencil fa-2x"></span>
                                                </a>
                                            </td>

                                            <td class="text-center">
                                                <!--<a  disabled class="BotonOperacion" href="" data-toggle="modal" data-target="#" ng-click="AbrirModalEliminarContacto(telefono)">
                                                    <span class="fa fa-times fa-2x"></span>
                                                </a>-->
                                            </td>
                                          </tr>

                                          <!-- medios agregados sin registro en la base de datos -->
                                          <tr ng-repeat="contacto in nuevaCita.Persona.NuevoContacto | orderBy:['MedioContacto.Nombre', 'TipoMedioContacto.Nombre'] ">
                                            <td>{{contacto.MedioContacto.Nombre}}</td>
                                            <td>{{contacto.TipoMedioContacto.Nombre}}</td>
                                            
                                              <td ng-if="contacto.MedioContacto.MedioContactoId == '2'">{{contacto.Contacto | tel}}</td>
                                              <td ng-if="contacto.MedioContacto.MedioContactoId == '1'">{{contacto.Contacto}}</td>

                                            <td class="text-center">
                                                <a  class="BotonOperacion" href=""  ng-click="EditarContactoAgregado(contacto, 'Nuevo')">
                                                    <span class="fa fa-pencil fa-2x"></span>
                                                </a>
                                            </td>

                                            <td class="text-center">
                                                <a  class="BotonOperacion" href=""  ng-click="BorrarContactoAgregado(contacto)">
                                                    <span class="fa fa-times fa-2x"></span>
                                                </a>
                                            </td>
                                          </tr>    

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <br>
                
                <!-- Personas relacionadas -->
                <div class="row" ng-if="persona.length > 0">
                    <div class="col-xs-12">
                        <span>*Verificar si es uno de estos clientes.</span><br>
                        <span>*Si es uno de estos clientes selecciónalo y presiona siguiente.</span><br>
                    </div>
                    <br>
                   <div class="col-xs-12">
                        <div class="piezaPorComponenteTabla">
                            <table class="table table-hover">
                                <thead class="TituloTabla">
                                  <tr>
                                    <th><span class=""><b>Nombre</b></span></th>
                                    <th class="text-center"><span><b>Seleccionar</b></span></th>
                                  </tr>
                                </thead>
                                <tbody ng-repeat="persona in persona | orderBy:'PrimerApellido'">
                                  <tr>

                                     <td>{{persona.PrimerApellido}} {{persona.SegundoApellido}} {{persona.Nombre}}</td>
                                    

                                    <td class="text-center">
                                        <div class="checkboxOperativo">
                                            <label>
                                                <input  ng-model="persona.Seleccionado" type="checkbox" value="" ng-click="SeleccionarPersona(persona)">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>

                                  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-------- mensaje de error ---->
                <div class="row">
                    <div class="col-xs-12">
                        <div ng-repeat="error in mensajeError | unique:error track by $index">
                            <span class="textoError">{{error}}</span>
                        </div>
                    </div>
                </div>
                <br>
                <!---- botones de operacion -->
                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn botonOperacionModal btn-block" data-dismiss="modal" aria-label="Close" ng-click="CerrarCitaModal()">CANCELAR</button>
                    </div>

                    <div class="col-xs-6">
                        <button focus class="btn botonOperacionModal btn-block" ng-click="TerminarCita1(cita1Forma.nombre.$invalid, cita1Forma.apellido1.$invalid, cita1Forma.nombreMedioCaptacion.$invalid)">SIGUIENTE &gt;&gt;</button>
                    </div>
                </div>
            <br>
            </form>
            <!-- Paso 2 -->
            <form name="cita2Forma" ng-show="pasoCita == 2">
               <!-- Tarea -->
                <div class="row">
                    <div class="col-sm-6 etiquetaDropdownList">
                         <label>Tarea</label>
                         <div class="dropdown">

                            <button class="dropdown-toggle  {{claseCita.paso2.tarea}}" data-toggle="dropdown">
                                <span>{{nuevaCita.Tarea.Nombre}}</span>
                                <span class="caret"></span>
                            </button>
                            
                            <ul class="dropdown-menu listaOpcionesDropdownList " >
                                <li ng-repeat="tarea in tareaCita | orderBy:'Nombre'" style="overflow: scroll">
                                    <a  href="" class="dropdownOpcionModal" ng-click="CambiarTarea(tarea)">
                                        <span>{{tarea.Nombre}}</span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>          
                </div>
                <br><br>
                <!-- Asunto -->
                <div class="row"> 
                    <div class="col-sm-12 etiquetaDropdownList">
                       <div class="entrada2">
                            <input  type="text" required class="{{claseCita.paso2.asunto}} form-control" name="asunto" ng-model="nuevaCita.Asunto" ng-maxlength="255"/>
                            <label>Asunto</label>
                        </div>
                   </div>             
                </div>
                
                <!-- Domicilios -->
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-block botonAcordion" ng-click="MostrarContenido('direccion')" ng-show="nuevaCita.Tarea.TareaCitaId == '1'"><!--  -->
                            <span class="pull-left " >
                                <span class="fa fa-map-marker"></span><span> Domicilios</span> 
                            </span>
                            <span ng-if="!mostrarContenido.direccion" class="pull-right fa fa-chevron-down"></span>
                            <span ng-if="mostrarContenido.direccion" class="pull-right fa fa-chevron-up"></span>
                        </button>
                    </div>
                </div>
                
                <div class="row" ng-if="mostrarContenido.direccion && (nuevaCita.Tarea.TareaCitaId == '1')">
                    <div class="col-xs-12">
                       <br>
                       <div class="row">
                           <div class="col-xs-12">
                                <button class="btn botonAgregarAcordion pull-right" ng-click="AgregarDomicilio()" >
                                    <span>
                                        <span class="fa fa-plus"></span>
                                        <span> Nuevo</span> 
                                    </span>
                                </button>
                           </div>
                        </div>
                        
                        <!-- Domicilios -->
                        <div class="row" ng-if="nuevaCita.Persona.Domicilio.length +  nuevaCita.Persona.NuevoDomicilio.length > 0">
                            <div class="col-xs-12">
                                <div class="table-responsive TablaModal">
                                    <table class="table table-hover">
                                        <thead class="TituloTabla">
                                          <tr>
                                            <th>Tipo Domicilio</th>
                                            <th>Domicilio</th>
                                            <th class="text-center">Detalles</th>
                                            <th class="text-center">Editar</th>
                                            <th class="text-center">Quitar </th>
                                            <th class="text-center">Seleccionar </th>
                                          </tr>
                                        </thead>
                                        <tbody >
                                          <tr ng-repeat="domicilio in nuevaCita.Persona.Domicilio | orderBy:['TipoMedioContacto.Nombre'] " ng-show="domicilio.Activo">
                                            <td>{{domicilio.TipoMedioContacto.Nombre}}</td>
                                            <td>{{domicilio.Domicilio}}</td>

                                           <td class="text-center">
                                                <a  class="BotonOperacion" href=""  ng-click="DetalleDomicilio(domicilio)">
                                                    <span class="fa fa-eye fa-2x"></span>
                                                </a>
                                            </td>

                                            <td class="text-center">
                                                <a  class="BotonOperacion" href=""  ng-click="EditarDomicilioAgregado(domicilio, 'Registrado')">
                                                    <span class="fa fa-pencil fa-2x"></span>
                                                </a>
                                            </td>

                                            <td class="text-center">
                                            </td>
                                            
                                            <td class="text-center">
                                                <div class="checkboxOperativo">
                                                    <label>
                                                        <input  ng-model="domicilio.Seleccionado" type="checkbox" value="" ng-click="SeleccionarDomicilio(domicilio)">
                                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                    </label>
                                                </div>
                                            </td>
                                          </tr>

                                          <!-- domicilios agregados sin registro en la base de datos -->
                                          <tr ng-repeat="domicilio in nuevaCita.Persona.NuevoDomicilio | orderBy:['TipoMedioContacto.Nombre'] ">
                                           
                                            <td>{{domicilio.TipoMedioContacto.Nombre}}</td>
                                            
                                            <td>{{domicilio.Domicilio}}</td>
                                            
                                            <td class="text-center">
                                                <a  class="BotonOperacion" href=""  ng-click="DetalleDomicilio(domicilio)">
                                                    <span class="fa fa-eye fa-2x"></span>
                                                </a>
                                            </td>

                                            <td class="text-center">
                                                <a  class="BotonOperacion" href=""  ng-click="EditarDomicilioAgregado(domicilio, 'Nuevo')">
                                                    <span class="fa fa-pencil fa-2x"></span>
                                                </a>
                                            </td>

                                            <td class="text-center">
                                                <a  class="BotonOperacion" href=""  ng-click="BorrarDomicilioAgregado(domicilio)">
                                                    <span class="fa fa-times fa-2x"></span>
                                                </a>
                                            </td>
                                            
                                            <td class="text-center">
                                                <div class="checkboxOperativo">
                                                    <label>
                                                        <input  ng-model="domicilio.Seleccionado" type="checkbox" value="" ng-click="SeleccionarDomicilio(domicilio)">
                                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                    </label>
                                                </div>
                                            </td>
                                            
                                            
                                          </tr>    

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <br><br>
                
                <!-- Responsable -->
                <div class="row"> 
                    <div class="col-sm-12 etiquetaDropdownList">
                       <label>Responsable</label>
                        <a  href="" class="btn {{claseCita.paso2.responsable}} btn-block" ng-click="CambiarMostrarResponsable()">
                            <span>{{nuevaCita.Responsable.Nombre}} <span class="fa fa-caret-down"></span></span>
                       </a>
                   </div>             
                </div>
                
                <div class="row" ng-if="mostrarResponsable"> 
                    
                    <div class="col-xs-12">
                        
                        <div class="row">
                            <div class="col-xs-12">

                                <a  href="" class="btn" ng-class="GetClaseTipoResponsable('UnidadNegocio')" ng-click="CambiarTipoResponsable('UnidadNegocio')">
                                    <span>Unidad de Negocio</span>
                                </a> 
                                <a  href="" class="btn" ng-class="GetClaseTipoResponsable('Colaborador')" ng-click="CambiarTipoResponsable('Colaborador')">
                                    <span>Colaborador</span>
                                </a> 
                            </div>
                        </div> 
                        
                        <div class="row"  ng-if="tipoResponsable=='UnidadNegocio'">
                            <div class="col-xs-12" >
                                
                                <div class="panelSelector">
                                    <div class="row">
                                
                                        <div class="col-xs-12">
                                            <b>Selecciona una unidad de negocio</b>
                                        </div>
                                        <br><br>
                                        
                                        <div class="col-xs-12">
                                            <input type="text" class="entrada form-control" placeholder="Buscar Unidad de Negocio" ng-model="buscarUnidad"/><br>
                                        </div>
                                        <br>
                                        
                                        <div class="col-xs-12">
                                            <div class="panel panelOpciones tablaResponsable" >
                                                <table class="table table-hover table-responsive">
                                                  <tbody  style="cursor: pointer">
                                                    <tr ng-repeat="unidad in unidadNegocio | filter: { Nombre:buscarUnidad} | orderBy:'Nombre'">
                                                      <td ng-click="SetReponsable(unidad, 'UnidadNegocio')">
                                                          {{unidad.NombreTipoUnidadNegocio}} - {{unidad.Nombre}}
                                                          <span class="pull-right" ng-if="nuevaCita.Responsable.UnidadNegocio && nuevaCita.Responsable.ResponsableId == unidad.UnidadNegocioId">
                                                              <span class="fa fa-check fa-2x"></span>
                                                          </span>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                            </div>
                                        </div> 
                                        
                                        <div class="col-xs-12" ng-show="nuevaCita.Responsable.ResponsableId.length > 0">
                                           <div class="pull-right">
                                                <button class="btn botonOperacionModal " ng-click="CambiarMostrarResponsable()">OK</button>
                                           </div>
                                        </div>     
                                    </div>
                                </div>
                               
                            </div> 
                        </div>
                        
                        <div class="row"  ng-if="tipoResponsable=='Colaborador'">
                            <div class="col-xs-12" >
                                
                                <div class="panelSelector">
                                    <div class="row">
                                
                                        <div class="col-xs-12">
                                            <b>Selecciona un colaborador</b>
                                        </div>
                                        <br><br>
                                        
                                        <div class="col-xs-12">
                                            <input type="text" class="entrada form-control" placeholder="Buscar Colaborador" ng-model="buscarColaborador"/><br>
                                        </div>
                                        <br>
                                        
                                        <div class="col-xs-12">
                                            <div class="panel panelOpciones tablaResponsable" >
                                                <table class="table table-hover table-responsive">
                                                  <tbody  style="cursor: pointer">
                                                    <tr ng-repeat="colaborador in responsable | filter: { Nombre:buscarColaborador} | orderBy:'Nombre'">
                                                      <td ng-click="SetReponsable(colaborador, 'Colaborador')">
                                                          {{colaborador.Nombre}}
                                                          <span class="pull-right" ng-if="nuevaCita.Responsable.Colaborador && nuevaCita.Responsable.ResponsableId == colaborador.ColaboradorId">
                                                              <span class="fa fa-check fa-2x"></span>
                                                          </span>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                            </div>
                                        </div> 
                                        
                                        <div class="col-xs-12" ng-show="nuevaCita.Responsable.ResponsableId.length > 0">
                                           <div class="pull-right">
                                                <button class="btn botonOperacionModal " ng-click="CambiarMostrarResponsable()">OK</button>
                                           </div>
                                        </div>       
                                    </div>
                                </div>
                               
                            </div> 
                        </div>
                    </div>   
                        
                </div>
                <br><br ng-if="mostrarResponsable">
                <!-- Fecha -->
                <div class="row">
                      
                    <div class="col-xs-12 col-sm-6" >
                        <div class="entrada2">
                            <input type="text" id="fechaCita" class="form-control {{claseCita.paso2.fecha}}" onchange="angular.element(this).scope().CambiarFecha(this)">
                            <label>Fecha</label>
                        </div>
                    </div>

                </div>
                <br><br>
                <!-- Hora -->            
                <div class="row">
                    <div class="col-sm-6">
                       <div class="entrada2">
                            <input   type="text" id="horaInicio" class="form-control {{claseCita.paso2.horaInicio}}" onchange="angular.element(this).scope().CambiarHoraInicio(this)">
                            <label>Hora Inicio</label>
                        </div>
                   </div>
                   
                   <div class="hidden-sm hidden-md hidden-lg"> <br><br> </div>  
                    
                    <div class=" col-sm-6" >
                        <div class="entrada2">
                            <input  ng-disabled="nuevaCita.HoraInicio.length == 0" type="text" id="horaFin" class="form-control {{claseCita.paso2.horaFin}}" onchange="angular.element(this).scope().CambiarHoraFin(this)">
                            <label>Hora Fin</label>
                        </div>
                    </div>

                </div>
                <br>
                <!-- Descripción -->            
                <div class="row">
                    <div class="col-sm-12">
                         <div class="">
                            <label class="labelEntrada">Descripción</label>
                            <textarea required type="text"  class="form-control" ng-class="claseCita.paso2.descripcion" name="descripcion" ng-model="nuevaCita.Descripcion" ng-maxlength="255"></textarea>
                        </div>
                    </div>
                </div>
                <br>
                       
                <!-------- mensaje de error ---->
                <div class="row">
                    <div class="col-xs-12">
                        <div ng-repeat="error in mensajeError">
                            <span class="textoError">{{error}}</span>
                        </div>
                    </div>
                </div>
                <br>
                <!---- botones de operacion -->
                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn botonOperacionModal btn-block" ng-click="AnteriorCita()">&lt;&lt; ANTERIOR</button>
                    </div>

                    <div class="col-xs-6">
                        <button focus class="btn botonOperacionModal btn-block" ng-click="TerminarDatoCita(cita2Forma.asunto.$invalid, cita2Forma.descripcion.$invalid)">TERMINAR</button>
                    </div>
                </div>
            <br>
            </form> 
            
        </div>
    </div> 
    
    
    <!-- Modal para mensajes -->
    <div class="modal fade sombraDivModal" id="mensajeCita" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <br>    <br>   <br>
        <div class="modal-dialog modalPrincipal modal-sm">
           <br>
            <div class="row">
                <div class="col-xs-12 text-center" style="font-size:12pt">
                   {{mensaje}}
                </div>
            </div>
            <br>
            <div class="row">
            
                <div class="col-xs-12">
                    <button focus class="btn botonOperacionModal btn-block" data-dismiss="modal" aria-label="Close">Aceptar</button>
                </div>
            </div>
        </div> 
    </div> 
    
</div>

     