<div ng-controller="OperativoControlador as operativo" class="container">

  <br>
   <div class="row">
      <div class="col-xs-12">
        
        <table id="Descripcion">
            <tbody>

               <tr>
                <td>{{text}}</td>
                </tr>
            </tbody>
        </table>
 
         
          <div >
              <div id="pdf">
                <span ng-if="true">Titulo: {{5*2}}</span>
              </div>
          </div>
     
     
         <a href="javascript:genPDF()">Download PDF</a>
      </div>
   </div>
   
   <table id="incluye">
       
       <tr id="tit"><td>Cocina</td></tr>
       <tr id="inc"><td>Incluye</td></tr>
       <tr><td>Módulos</td></tr>
       <tr><td>Puerta: Muestrario A</td></tr>
       <tr><td>Maqueo: Cerrado</td></tr>
       
       <tr id="ser"><td>Servicios</td></tr>
       <tr><td>Instalación</td></tr>
       
       <tr id="acc"><td>Accesorios</td></tr>
       <tr><td>Jaladera: Básicas</td></tr>
       <tr><td>Rieles: Reforzados</td></tr>
       <tr><td>Moldura: Inferior</td></tr>
       
       <tr id="cub" class="text-center"><td>Cubierta de aglomerado</td></tr>
       <tr><td>Cubierta</td></tr>
       <tr><td>Barra</td></tr>
       <tr><td>Isla</td> <td>Back</td></tr>
       
    </table>
   
   
   <table id="table-id">
<tr style="background: red; color: blue">
<td style="background: red; color: blue">Name</td>
<td>Email</td>
<td>Track</td>
<td>S.S.C Roll</td>
<td>S.S.C Division</td>
<td>H.S.C Roll</td>
<td>H.S.C Division</td>
<td>District</td>
</tr>


<tr>
<td>Safaa</td>
<td>Safaa@safaa.com</td>
<td>1</td>
<td>2222</td>
<td>US</td>
<td>3333</td>
<td>DD</td>
<td>33</td>
</tr>

<tr>
<td>Alaa</td>
<td>Alaa@safaa.com</td>
<td>1</td>
<td>2222</td>
<td>US</td>
<td>3333</td>
<td>DD</td>
<td>33</td>
</tr>

<tr>
<td>Nasser</td>
<td>Nasser@safaa.com</td>
<td>1</td>
<td>2222</td>
<td>US</td>
<td>3333</td>
<td>DD</td>
<td>33</td>
</tr>



</table>

<a href="javascript:callme()">Call Me</a>
   

   
   <button onclick="generate()">Generate PDF</button>

<table id="basic-table" style="display: none;">
  <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Country</th>
      <th>IP-address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="right">1</td>
      <td>Donna</td>
      <td>Moore</td>
      <td>dmoore0@furl.net</td>
      <td>China</td>
      <td>2323.343}</td>
    </tr>
    <tr>
      <td align="right">2</td>
      <td>Janice</td>
      <td>Henry</td>
      <td>jhenry1@theatlantic.com</td>
      <td>Ukraine</td>
      <td>38.36.7.199</td>
    </tr>
    <tr>
      <td align="right">3</td>
      <td>Ruth</td>
      <td>Wells</td>
      <td>rwells2@constantcontact.com</td>
      <td>Trinidad and Tobago</td>
      <td>19.162.133.184</td>
    </tr>
    <tr>
      <td align="right">4</td>
      <td>Jason</td>
      <td>Ray</td>
      <td>jray3@psu.edu</td>
      <td>Brazil</td>
      <td>10.68.11.42</td>
    </tr>
    <tr>
      <td align="right">5</td>
      <td>Jane</td>
      <td>Stephens</td>
      <td>jstephens4@go.com</td>
      <td>United States</td>
      <td>47.32.129.71</td>
    </tr>
    <tr>
      <td align="right">6</td>
      <td>Adam</td>
      <td>Nichols</td>
      <td>anichols5@com.com</td>
      <td>Canada</td>
      <td>18.186.38.37</td>
    </tr>
  </tbody>
</table>
  
  
  <table id="Nombre1">
      <tr><td>Cubierta de aglomerado tal cosas</td></tr>
  </table>
  
    <table id="Nombre2">
      <tr><td>Cubierta de aglomerado diana montiel y su disque sangria</td></tr>
  </table>
  
  <table id="encabezado">
   <tr><td><img src="img/Encabezado/logo.png"></td></tr>
    </table>
    
      <table id="incluyePlanPago" style="display: none">
     
     <tr>
        <td>Incluye</td>
      </tr>
      
      <tr>
        <td>
            <span ng-repeat="nombre in nombre">
                <span ng-show="true">{{nombre}} </span>
                <span style="display: none">Falso</span>
            </span>
        </td>
      </tr>
      
  </table>
  
  
    <table id="precio1">
        <tr>
            <td>Pino</td>
          </tr>

          <tr>
            <td>$9,000.00</td>
          </tr>
    </table>
 
     <table id="precio2">
        <tr>
            <td>Cedro Total</td>
          </tr>

          <tr>
            <td>$13,500.00</td>
          </tr>
    </table>
  
   
  
  <table id="planPago">
      
      <tr>
        <td>Pago</td>
        <td>Fecha</td>
      </tr>
      
      
      <tr>
        <td>$5000</td>
        <td>17/Jul/2017</td>
      </tr>
      <tr>
        <td>$6000</td>
        <td>17/Jul/2017</td>
      </tr>
      <tr>
        <td>$700</td>
        <td>17/Jul/2017</td>
      </tr>
      
  </table>
  
  
    <table id="detallePresupuesto">

          <tr>
            <td></td>
            <td></td>
          </tr>   

          <tr>
            <td>Fecha entrega: 17/Jul/2017</td>
            <td>Fecha venta: 17/Jul/2017</td>
          </tr>
          <tr>
            <td>Plan pagos:  4 meses</td>
            <td>Número de pagos: 9</td>
          </tr>

    </table>
 
     <table id="promociones">

          <tr>
            <td></td>
          </tr>   

          <tr>
            <td>10% de descuento hast a17/Jul/2017</td>
          </tr>
          <tr>
            <td>6 meses sin interes con tarjetas bancarias</td>
          </tr>

    </table>

  
</div>
  
  
  

  

   
   

    

     