<div ng-controller="PerfilClienteControlador as perfilCliente" class="container-fluid">
    
   <div class="row ">
       
        
        <div class="nav-side-menu">
            <div class="tituloBarraVertical">Perfil</div>

            <div ><i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i></div>

                <div class="menu-list">

                    <ul id="menu-content"  class="menu-content collapse out">
                        <li ng-repeat="opcion in opciones" ng-class="GetClaseSeccion(opcion.referencia)">
                          <a href="#PerfilCliente/{{personaId}}/{{opcion.referencia}}">
                              <i class="{{opcion.icono}}"></i> <span>{{opcion.titulo}}</span>
                          </a>
                        </li>
                    </ul>
             </div>
        </div>
        
        <div class="col-sm-2 col-xs-12 rowBarraNavegacion">
        
       </div>
       
       <div class="col-sm-2 col-xs-12" style="height: 52px" >
       
       </div>
       
        
    
        <div class="col-xs-12 col-sm-10">
           
           <div class="row">
               <div class="col-xs-12 clienteNombre">
                   <div class="">{{persona.Nombre}} {{persona.PrimerApellido}} {{persona.SegundoApellido}}</div>
               </div>
            </div>
           
            <div ng-if="seccion== 'Citas'" ng-include=" 'html/Operativo/Cliente/Perfil/Citas.html' "> </div>
            <div ng-if="seccion== 'Notas'" ng-include=" 'html/Operativo/Cliente/Perfil/Notas.html' "> </div>
            <div ng-if="seccion== 'DatosGenerales'" ng-include=" 'html/Operativo/Cliente/Perfil/DatosGenerales.html' "> </div>
            <div ng-if="seccion== 'Proyectos'" ng-include=" 'html/Operativo/Cliente/Perfil/Proyectos.html' "> </div>
           
        </div>
    </div>
    
</div>

     