<div ng-controller="ConfiguaracionCubiertaControlador as General" class="container-fluid">
    
    <br><br>
    <div class="row">
        <div class="col-xs-12">
            <div class="tituloModulo">
                <span>Configurar - {{titulo}}</span>
            </div>
        </div>
    </div>
    <br>
    
    <div class="row">
        <div class="col-md-12">
            <div class="tab" role="tabpanel">
                <!-- Pestañas -->
                
                <ul ng-if="anchoPantalla > 600" class="nav nav-tabs" role="tablist">
                    <li   ng-repeat="tab in tabs" class="{{tab.clase}}"><a  href="" aria-controls="{{tab.area}}" role="tab" data-toggle="tab" ng-click="SeleccionarTab(tab, $index)">{{tab.titulo}}</a></li>
                </ul>
                
                <ul ng-if="anchoPantalla < 601" class="nav nav">
                    <li  class="tabSm dropdown">

                        <button  class="dropdown-toggle  btn bt-block dropDownTab" data-toggle="dropdown" >
                            <span>{{titulo}}</span>
                            <span class="caret"></span>
                        </button>
                        
                        <ul class="dropdown-menu elemetosDropdownListModal">
                            <li ng-repeat="tab in tabs"  class="dropdownOpcionModal">
                                <a  href="" class="dropdownOpcionModal" aria-controls="{{tab.area}}" ng-click="SeleccionarTab(tab, $index)">
                                    <span>{{tab.titulo}}</span>
                                </a>
                            </li>
                        </ul>
                        
                    </li>
                </ul>
                
                <!-- Contenido -->
                <div class="tab-content">
                    
                    <!-- Muestrario Color -->
                    <div role="tabpanel" class="tab-pane in active" id="MuestrarioColor" ng-if="permisoUsuario.muestrarioColor.consultar">
                      <br>  
                        <div ng-include=" 'html/Administrador/Configuracion/Cubierta/MuestrarioColor.html' ">
                            
                        </div>
                    </div>
                    
                    <!-- Fabricacion -->
                    <div role="tabpanel" class="tab-pane" id="Fabricacion" ng-if="permisoUsuario.fabricacion.consultar">
                      <br>  
                        <div ng-include=" 'html/Administrador/Configuracion/Cubierta/Fabricacion.html' ">
                            
                        </div>
                    </div>
                    
                    <!-- Ubicacion --> 
                    <div role="tabpanel" class="tab-pane " id="Ubicacion" ng-if="permisoUsuario.ubicacion.consultar">
                      <br>  
                        <div ng-include=" 'html/Administrador/Configuracion/Cubierta/Ubicacion.html' ">
                            
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    <br>
    
    
    <!----------------------------------------------------- Modales ------------------------------------------------>
    
    <!---- Agregar y editar tipo de contacto -->
    <div class="modal fade" id="tipoMedioContactoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
        <br>    <br>   <br>
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <!-- encabezado del modal -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="margenModal">
                           
                            <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close" ng-click="CerrarTipoMedioContactoModal()"><span aria-hidden="true">&times;</span></button>
                            <h3 class="text-center" ng-if="operacion === 'Agregar'">Agregar Tipo Medio Contacto</h3>
                            <h3 class="text-center" ng-if="operacion === 'Editar'">Editar Tipo Medio Contacto</h3>
                            <hr class="separador">
                        </div>
                    </div>
                </div>
                <br>

                <form class="modal-body" name="tipoMedioContactoModalForma">
                <br>
                <!-- Datos -->                    
                    <div class="row">
                        <!-- Medio Contacto -->
                       <div class="col-sm-6 etiquetaDropdownList">
                             <label>Medio de Contacto</label>
                             <div class="dropdown">
                                <button class="dropdown-toggle  {{clase.tipoMedioContacto.medioContacto}}" data-toggle="dropdown">
                                    <span>{{nuevoTipoMedioContacto.NombreMedioContacto}}</span>
                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu elemetosDropdownListModal">
                                     <li ng-repeat="medio in medioContacto | orderBy:'Nombre'">
                                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarMedioContacto(medio)">
                                            <span>{{medio.Nombre}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <br class="hidden-sm hidden-md hidden-lg">
                        <!-- Nombre -->
                        <div class="col-sm-6">
                             <div class="entrada2">
                                <input ng-pattern="erNombreGeneral" type="text" required class="{{clase.tipoMedioContacto.nombre}} form-control" name="nombre" ng-model="nuevoTipoMedioContacto.Nombre"/>
                                <label>Nombre</label>
                            </div>
                        </div>
                    </div> 
                    <br>
                    <!-- Activo-->
                    <div class="row">
                        <div class="col-sm-6">
                             <label class="btn checkBoxActivo">Tipo Módulo Activo <input type="checkbox" class="badgebox" ng-model="nuevoTipoMedioContacto.Activo"><span class="badge">&check;</span></label>
                         </div>
                    </div>
                    <br>
                    <!-------- mensaje de error ---->
                    <div class="row">
                        <div class="col-xs-12">
                            <div ng-repeat="error in mensajeError">
                                <span class="textoError">{{error}}</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!---- botones de operacion --->
                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn botonCancelar btn-block" data-dismiss="modal" aria-label="Close" ng-click="CerrarTipoMedioContactoModal()">CANCELAR</button>
                        </div>
                        
                        <div class="col-xs-6">
                            <button focus class="btn botonAvanzar btn-block" ng-click="TerminarTipoMedioContacto(tipoMedioContactoModalForma.nombre.$invalid)">TERMINAR</button>
                        </div>
                    </div>
                    <br> 
                </form>
            </div>
            <br><br><br>
        </div>
    </div>
    
    <!-- Desactivar Modal -->
    <div class="modal fade" id="modalActivarDesactivarConfigurarGeneral" data-keyboard="false" data-backdrop="static">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                
                <div class="modal-body">
                    <br>
                    <div class="panel panel-default modalMensaje">
                        <br>
                        <b>{{mensajeAdvertencia}}</b>
                        <br><br>

                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn botonCancelar" data-dismiss="modal" aria-label="Close" ng-click="CancelarEstatusActivo()">No</button>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn botonAvanzar" data-dismiss="modal" aria-label="Close" ng-click="ConfirmarActualizarModulo()">Si</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                
            </div>
        </div>
    </div> 
    
    <!-- Modal para mensajes -->
    <div class="modal fade" id="mensajeConfigurarGeneral">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                
                <div class="modal-body">
                    <div class="panel panel-default modalMensaje">
                        <br>
                        <b>{{mensaje}}</b>

                        <br><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn  botonAvanzar" data-dismiss="modal" aria-label="Close">Aceptar</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                
            </div>
        </div>
    </div>  
</div>

     