<div ng-controller="ConfiguaracionContratoController as ConfigurarContrato" class="container-fluid">

    <br><br>
    <div class="row">
        <div class="col-xs-12">
            <div class="tituloModulo">
                <span>Configurar Contrato - {{titulo}}</span>
            </div>
        </div>
    </div>
    <br>
    
    <div class="row">
        <div class="col-md-12">
            <div class="tab" role="tabpanel">
                <!-- Pestañas -->
                
                <ul ng-if="anchoPantalla > 600" class="nav nav-tabs" role="tablist">
                    <li   ng-repeat="tab in tabs" class="{{tab.clase}}"><a  href="" aria-controls="{{tab.area}}" role="tab" data-toggle="tab" ng-click="SeleccionarTab(tab, $index)">{{tab.titulo}}</a></li>
                </ul>
                
                <ul ng-if="anchoPantalla < 601" class="nav nav">
                    <li  class="tabSm dropdown">

                        <button  class="dropdown-toggle  btn bt-block dropDownTab" data-toggle="dropdown" >
                            <span>{{titulo}}</span>
                            <span class="caret"></span>
                        </button>
                        
                        <ul class="dropdown-menu elemetosDropdownListModal">
                            <li ng-repeat="tab in tabs"  class="dropdownOpcionModal">
                                <a  href="" class="dropdownOpcionModal" aria-controls="{{tab.area}}" ng-click="SeleccionarTab(tab, $index)">
                                    <span>{{tab.titulo}}</span>
                                </a>
                            </li>
                        </ul>
                        
                    </li>
                </ul>
                
                <!-- Contenido -->
                <div class="tab-content">
                    
                    <!-- Concepto Venta -->
                    <div role="tabpanel" class="tab-pane in active" id="ConceptoVenta" ng-if="permisoUsuario.conceptoVenta.consultar">
                      <br>  
                        <div ng-include=" 'html/Administrador/Configuracion/Contrato/ConceptoVenta.html' ">
                            
                        </div>
                    </div>
                    
                    <!-- MedioPago -->
                    <div role="tabpanel" class="tab-pane" id="MedioPago" ng-if="permisoUsuario.medioPago.consultar">
                      <br>  
                        <div ng-include=" 'html/Administrador/Configuracion/Contrato/MedioPago.html' ">
                            
                        </div>
                    </div>
                    
                
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

     