<div ng-controller="ReportePagoPendienteController as rPagoPendiente" ng-init="Inicializar()">
    
   <!-- Título -->
   <!--<div class="row">
       <div class="col-xs-12">
           <h3>Reporte de Pagos Pendientes</h3>
       </div>
   </div>
   <br>-->
   
   <div class="row">
       
        <div class="col-sm-6">
          
          <label>Estatus</label>
          <div class="dropdown">

                <button class="dropdown-toggle  dropdownlistModal" data-toggle="dropdown" style="height: 33px">
                   {{filtro.estatus.Nombre}}
                    <span class="pull-right">
                        <span class="caret "></span>
                    </span>
                </button>

                <ul class="dropdown-menu listaOpcionesDropdownList" style="min-width: 100%">
                   <li>
                       
                       <a  href="" class="dropdownOpcionModal" ng-click="CambiarEstatusFiltro('ninguno')">
                            <span>NINGUNO</span>
                        </a>
                    </li>
                    
                    <li ng-repeat="estatus in estatusContrato" ng-show="estatus.EstatusContratoId == '1' || estatus.EstatusContratoId == '4' ">
                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarEstatusFiltro(estatus)">
                            <span>{{estatus.Nombre}} </span>
                        </a>
                    </li>
                </ul>

            </div>
           
        </div>
        
        <br class="hidden-sm hidden-md hidden-lg"> 
        
        <!-- Unidad de Negocio -->
        <div class="col-sm-6" ng-show="permisoOperativo.verTodosCliente">
          
          <label>Unidad Negocio</label>
          <div class="dropdown">

                <button class="dropdown-toggle  dropdownlistModal" data-toggle="dropdown" style="height: 33px">
                   {{filtro.unidad.NombreTipoUnidadNegocio}} <span ng-show="filtro.unidad.NombreTipoUnidadNegocio.length > 0">-</span> {{filtro.unidad.Nombre}}
                    <span class="pull-right">
                        <span class="caret "></span>
                    </span>
                </button>

                <ul class="dropdown-menu listaOpcionesDropdownList" style="min-width: 100%">
                   <li>
                       
                       <a  href="" class="dropdownOpcionModal" ng-click="CambiarUnidadNegocio('ninguna')">
                            <span>NINGUNA</span>
                        </a>
                    </li>
                    
                    <li ng-repeat="unidad in unidad | orderBy:['NombreTipoUnidadNegocio', 'Nombre']">
                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarUnidadNegocio(unidad)">
                            <span>{{unidad.NombreTipoUnidadNegocio}} - {{unidad.Nombre}}</span>
                        </a>
                    </li>
                </ul>

            </div>
           
        </div>
        
    </div>
    <br>
    
    <!-- resultado -->
    <div>
      
      <div class="row" ng-show="pago.length > 0">
            <div class="col-sm-12">
               <div class="input-group">
                    <input type="text" ng-model="busqueda" placeholder="Buscar" class="entrada form-control" style="height: 33px">
                    
                    <div class="input-group-btn">
                        <button class="btn btnTimes" ng-click="busqueda = ''" style="height: 33px">
                            <span class="fa fa-times"></span>
                        </button>
                    </div>
              </div>
            </div>
        </div>
        <br>
        <div class="row" ng-show="pago.length > 0">
           <div class="col-xs-12" >
               <div class="table-responsive " style="overflow: scroll; max-height: 650px;">
                <table class="table table-hover table-striped">
                    <thead class="TituloTabla" >
                      <tr>
                       
                        <th>
                            <button class="btn botonOrdenar" ng-click="CambiarOrdenar('Cliente')" style="padding:  0px">
                                <b>Cliente</b> <span ng-class="{'fa fa-arrow-up': ordenar == 'Cliente', 'fa fa-arrow-down': ordenar == '-Cliente'}"></span>
                            </button>
                        </th>
                        
                        <th>
                            <button class="btn botonOrdenar" ng-click="CambiarOrdenar('ContratoId')" style="padding:  0px">
                                <b># Contrato</b> <span ng-class="{'fa fa-arrow-up': ordenar == 'ContratoId', 'fa fa-arrow-down': ordenar == '-ContratoId'}"></span>
                            </button>
                        </th>
                        
                        <th>
                            <button class="btn botonOrdenar" ng-click="CambiarOrdenar('NombreUnidadNegocio')" style="padding:  0px">
                                <b>Unidad Negocio</b> <span ng-class="{'fa fa-arrow-up': ordenar == 'NombreUnidadNegocio', 'fa fa-arrow-down': ordenar == '-NombreUnidadNegocio'}"></span>
                            </button>
                        </th>
                        
                        <th>
                            <button class="btn botonOrdenar" ng-click="CambiarOrdenar('Pendiente')" style="padding:  0px">
                                <b>Total Vencido</b> <span ng-class="{'fa fa-arrow-up': ordenar == 'Pendiente', 'fa fa-arrow-down': ordenar == '-Pendiente'}"></span>
                            </button>
                        </th>
                        
                         <th>
                            <button class="btn botonOrdenar" ng-click="CambiarOrdenar('FechaPendiente2')" style="padding:  0px">
                                <b>Fecha</b> <span ng-class="{'fa fa-arrow-up': ordenar == 'FechaPendiente2', 'fa fa-arrow-down': ordenar == '-FechaPendiente2'}"></span>
                            </button>
                        </th>
                        
                        <th>
                            <button class="btn botonOrdenar" ng-click="CambiarOrdenar('EstatusContratoId')" style="padding:  0px">
                                <b>Estatus</b> <span ng-class="{'fa fa-arrow-up': ordenar == 'EstatusContratoId', 'fa fa-arrow-down': ordenar == '-EstatusContratoId'}"></span>
                            </button>
                        </th>
                        
                        <th><span class=""><b>Perfil</b></span></th>
                        
                        
                      </tr>
                    </thead>
                    <tbody >
                        <tr ng-repeat="pago in pago | filter:FiltroPago | filter:busqueda | orderBy:[ordenar,'Nombre', 'ContratoId']">
                           
                            <td>{{pago.Cliente}}</td>
                            
                            <td>{{pago.ContratoId}}</td>
                            
                            <td>{{pago.NombreTipoUnidadNegocio}} - {{pago.NombreUnidadNegocio}}</td>
                            
                            <td>{{pago.Pendiente | currency}}</td>
                            
                            <td>{{pago.FechaPendiente}}</td>
                            
                            <td>
                               <span class="dropdown">
                                    <button class="btn  btnStatusProyecto {{GetEstatusContrato(pago.EstatusContratoId)}}" data-toggle="dropdown" style=" height: 34px" ng-disabled="pago.EstatusContratoId == '3'">
                                        <span>{{pago.NombreEstatusContrato}} </span>
                                        <span class="fa fa-caret-down pull-right" ng-show="pago.EstatusContratoId != '3'"> </span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right dropdownRight" style="margin-top: 13px">
                                        <li ng-repeat="estatus in estatusContrato" ng-show="MostrarEstatus(pago.EstatusContratoId, estatus.EstatusContratoId)">
                                            <a class="dropdownOpcionModal" ng-click="CambiarEstatus(pago, estatus)"> {{estatus.Nombre}} </a> 
                                        </li>
                                    </ul>
                                </span>
                                
                            </td>
                            
                            
                             <td class="text-center">
                                <a class="BotonOperacion" href="#PerfilCliente/{{pago.PersonaId}}/Contratos" >
                                    <span class="fa fa-user fa-2x"></span>
                                </a>

                            </td>
                            
                            
                        
                        </tr>

                    </tbody>
               </table>
               </div>
            </div>
       </div>
  
       <div class="row" ng-if="pago.length == 0">
           <div class="col-xs-12">
               <div  class="textoPerfilHome">
                    <span>Sin pagos pendientes.</span>
               </div>
           </div>
       </div>
    </div>
    
    <!-- Camabiar Estatus contrato -->
    <div class="modal fade" id="modalEstatusContratoPagoPendiente">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm modalPrincipal text-center">
           
            <div class="row">
                <div class="col-xs-12">
                    <span style="font-size:14pt">{{mensajeAdvertencia}}</span>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn botonOperacionModal btn-block" data-dismiss="modal" aria-label="Close" ng-click="CancelarEstatusContrato()">No</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn botonOperacionModal btn-block" data-dismiss="modal" aria-label="Close" ng-click="ConfirmarActualizarContrato()">Si</button>
                </div>
            </div>
                        
        </div>
    </div>
    
    <!-- Modal para mensajes -->
    <div class="modal fade sombraDivModal" id="mensajePagoPendiente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <br>    <br>   <br>
        <div class="modal-dialog modalPrincipal modal-sm">
           <br>
            <div class="row">
                <div class="col-xs-12 text-center" style="font-size:12pt">
                   {{mensaje}}
                </div>
            </div>
            <br>
            <div class="row">
            
                <div class="col-xs-12">
                    <button focus class="btn botonOperacionModal btn-block" data-dismiss="modal" aria-label="Close">Aceptar</button>
                </div>
            </div>
        </div>   
    </div>
   
</div>

     