<div ng-controller="ReporteContratoControlador as rcontrato" class="container-fluid">
    
  <!-- Título -->
   <div class="row">
       <div class="col-xs-12">
           <h3>Reporte de Contratos</h3>
       </div>
   </div>
   <br>
   
   <div class="row">
      <!-- Fecha -->
       <div class="col-sm-6" >
          
          <label>Fecha</label>
          <div class="input-group input-daterange">
                <input type="text" class="form-control entrada" id="fechaInicio" onblur="angular.element(this).scope().CambiarFechaInicio(this)" style="height: 33px">
                <div class="input-group-addon" style="background: white; color: black; border-color: white"> a </div>
                <input type="text" class="form-control entrada" id="fechaFin" onblur="angular.element(this).scope().CambiarFechaFin(this)" style="height: 33px">
            </div>
           
        </div>
        <br class="hidden-sm hidden-md hidden-lg"> 
        <!-- Unidad de Negocio -->
        <div class="col-sm-6" ng-show="permiso.verTodo">
          
          <label>Unidad Negocio</label>
          <div class="dropdown">

                <button class="dropdown-toggle  dropdownlistModal" data-toggle="dropdown" style="height: 33px">
                   {{filtro.unidad.NombreTipoUnidadNegocio}} <span ng-show="filtro.unidad.NombreTipoUnidadNegocio.length > 0">-</span> {{filtro.unidad.Nombre}}
                    <span class="pull-right">
                        <span class="caret "></span>
                    </span>
                </button>

                <ul class="dropdown-menu listaOpcionesDropdownList" style="min-width: 100%">
                   <li>
                       
                       <a  href="" class="dropdownOpcionModal" ng-click="CambiarUnidadNegocio('ninguna')">
                            <span>NINGUNA</span>
                        </a>
                    </li>
                    
                    <li ng-repeat="unidad in unidad | orderBy:['NombreTipoUnidadNegocio', 'Nombre']">
                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarUnidadNegocio(unidad)">
                            <span>{{unidad.NombreTipoUnidadNegocio}} - {{unidad.Nombre}}</span>
                        </a>
                    </li>
                </ul>

            </div>
           
        </div>
        
    </div>
    <br>
    
    <div class="row">
        <div class="col-xs-12">
            <div ng-repeat="error in mensajeError track by $index">
                <span class="textoError">{{error}}</span>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            
            <div class="pull-right">
                
                <button class="btn btnContornoNegro" ng-click="LimpiarFiltro()">Limpiar</button>
                
                <button class="btn btnContornoNegro" style="margin-left: 10px" ng-click="GetContratoFiltro()">Buscar <span ng-if="filtro.fecha1.length == 0 && filtro.fecha2.length == 0 && filtro.unidad.UnidadNegocioId == undefined">Todo</span></button>
            </div>
            
        </div>
    </div>
    <br><br>
    
    <!-- resultado -->
    <div ng-show="buscar">
      
      <div class="row" ng-show="contrato.length > 0">
            <div class="col-sm-12">
               <div class="input-group">
                    <input type="text" ng-model="busqueda" placeholder="Buscar" class="entrada form-control" style="height: 33px">
                    
                    <div class="input-group-btn">
                        <button class="btn btnTimes" ng-click="busqueda = ''" style="height: 33px">
                            <span class="fa fa-times"></span>
                        </button>
                    </div>
              </div>
            </div>
            
        </div>
        <br>
       
        <div class="row" ng-show="contrato.length > 0">
           <div class="col-xs-12" >
               <div class="table-responsive" style="overflow: scroll; max-height: 650px;">
                <table class="table table-hover table-striped">
                    <thead class="TituloTabla" >
                      <tr>
                       
                       <th>
                            <button class="btn botonOrdenar" ng-click="CambiarOrdenar('Contrato')" style="padding:  0px">
                                <b># Contrato</b> <span ng-class="{'fa fa-arrow-up': ordenar == 'Contrato', 'fa fa-arrow-down': ordenar == '-Contrato'}"></span>
                            </button>
                        </th>
                        
                        <th><span class=""><b>Nombre</b></span></th>
                        
                       <th><span class=""><b># Presupuesto</b></span></th>
                       
                       <th><span class=""><b>Estatus</b></span></th>
                   
                        <th>
                            <button class="btn botonOrdenar" ng-click="CambiarOrdenar('Cliente')" style="padding:  0px">
                                <b>Cliente</b> <span ng-class="{'fa fa-arrow-up': ordenar == 'Cliente', 'fa fa-arrow-down': ordenar == '-Cliente'}"></span>
                            </button>
                        </th>
                        
                        <th>
                            <button class="btn botonOrdenar" ng-click="CambiarOrdenar('Unidad')" style="padding:  0px">
                                <b>Unidad de Negocio</b> <span ng-class="{'fa fa-arrow-up': ordenar == 'Unidad', 'fa fa-arrow-down': ordenar == '-Unidad'}"></span>
                            </button>
                        </th>
                        
                        <th>
                            <button class="btn botonOrdenar" ng-click="CambiarOrdenar('FechaVenta')" style="padding:  0px">
                                <b>Fecha Venta</b> <span ng-class="{'fa fa-arrow-up': ordenar == 'FechaVenta', 'fa fa-arrow-down': ordenar == '-FechaVenta'}"></span>
                            </button>
                        </th>
                        
                        <th>
                            <button class="btn botonOrdenar" ng-click="CambiarOrdenar('FechaEntrega')" style="padding:  0px">
                                <b>Fecha Entrega</b> <span ng-class="{'fa fa-arrow-up': ordenar == 'FechaEntrega', 'fa fa-arrow-down': ordenar == '-FechaEntrega'}"></span>
                            </button>
                        </th>
                        
                        <th><span class=""><b>Frente</b></span></th>
                        <th><span class=""><b>Interior</b></span></th>
                        <th><span class=""><b># Factura</b></span></th>
                        <th><span class=""><b># Nota de Cargo</b></span></th>
                        
                        <th>
                            <button class="btn botonOrdenar" ng-click="CambiarOrdenar('Anticipo')" style="padding:  0px">
                                <b>Anticipo</b> <span ng-class="{'fa fa-arrow-up': ordenar == 'Anticipo', 'fa fa-arrow-down': ordenar == '-Anticipo'}"></span>
                            </button>
                        </th>
                        
                        <th>
                            <button class="btn botonOrdenar" ng-click="CambiarOrdenar('Total')" style="padding:  0px">
                                <b>Total</b> <span ng-class="{'fa fa-arrow-up': ordenar == 'Total', 'fa fa-arrow-down': ordenar == '-Total'}"></span>
                            </button>
                        </th>
                        <th><span class=""><b></b></span></th>
                      </tr>
                    </thead>
                    <tbody >
                        <tr ng-repeat="contrato in contrato | filter:busqueda">
                            <td>{{contrato.ContratoId}}</td>
                            
                            <td>{{contrato.ProyectoNombre}}</td>
                            
                            <td>{{contrato.PresupuestoId}}</td>
                            
                            <td>{{contrato.NombreEstatusContrato}}</td>
                            
                            <td>{{contrato.Cliente}}</td>
                            
                            <td>{{contrato.NombreTipoUnidadNegocio}} - {{contrato.NombreUnidadNegocio}}</td>
                            
                            <td>{{contrato.FechaVentaFormato}}</td>
                            
                            <td>{{contrato.FechaEntregaFormato}} </td>
                            
                            <td>{{contrato.Frente}} </td>
                            
                            <td>{{contrato.Interior}} </td>
                            
                            <td>{{contrato.NoFactura == null ? 'Sin Factura': contrato.NoFactura}}</td>
                            
                            <td>{{contrato.NoNotaCargo == null ? 'Sin N.C.': contrato.NoNotaCargo}}</td>
                            
                            <td>{{contrato.Anticipo | currency}}</td>
                            
                            <td>{{contrato.TotalContrato | currency}}</td>
                            
                            <td class="">
                               <div class="dropdown">
                                   <button class="botonAgregarAcordion dropdown-toggle " style="font-size: 11pt; padding: 0px; background: transparent; width: 20px" data-toggle="dropdown" >
                                       <span class="fa fa-ellipsis-v"></span>
                                    </button>

                                    <ul class="dropdown-menu dropdown-menu-right dropdownRight" style="margin-top: 5px; width: auto">
                                        <li>
                                            <a class="dropdownOpcionModal" ng-click="VerDetallePresupuesto(contrato.PresupuestoId, contrato.ProyectoId, contrato)">
                                                <span class="fa fa-file-text-o"></span> Ver Presupuesto
                                            </a>
                                        </li>

                                        <li >
                                            <a class="dropdownOpcionModal" ng-click="DetalleContrato(contrato)">
                                                <span class="fa fa-eye"></span> Ver Contrato
                                            </a>
                                        </li>
                                        
                                        <li>
                                            <a class="dropdownOpcionModal"  ng-click="DescargarContrato(contrato)">
                                                <span class="fa fa-download"></span> Descargar Contrato
                                            </a>
                                        </li>
                                    </ul>
                                 </div>

                            </td>
                        </tr>

                    </tbody>
               </table>
               </div>
            </div>
       </div>
  
       <div class="row" ng-show="contrato.length == 0">
           <div class="col-xs-12">
               <div  class="textoPerfilHome">
                    <span>Sin datos encontrados.</span>
               </div>
           </div>
       </div>
    </div>
    
    <div ng-include=" 'html/Operativo/Cliente/Perfil/DetalleProyecto.html' "> </div>
    <div ng-include=" 'html/Operativo/Cliente/Perfil/DetalleContrato.html' "> </div> 
    
    <!-- Modal para mensajes -->
    <div class="modal fade sombraDivModal" id="mensajeReporteContrato" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <br>    <br>   <br>
        <div class="modal-dialog modalPrincipal modal-sm">
           <br>
            <div class="row">
                <div class="col-xs-12 text-center" style="font-size:12pt">
                   {{mensaje}}
                </div>
            </div>
            <br>
            <div class="row">
            
                <div class="col-xs-12">
                    <button focus class="btn botonOperacionModal btn-block" data-dismiss="modal" aria-label="Close">Aceptar</button>
                </div>
            </div>
        </div>   
    </div>
    
</div>

     