<div ng-controller="ReportePagoPendienteController as rPagoPendiente" class="container-fluid">
    
   <!-- Título -->
   <div class="row">
       <div class="col-xs-12">
           <h3>Reporte de Pagos Pendientes</h3>
       </div>
   </div>
   <br>
   
   <div class="row">
      <!-- Fecha -->
       <div class="col-sm-6" >
          
          <label>Fecha</label>
          <div class="input-group input-daterange">
                <input type="text" class="form-control entrada" id="fechaInicio" onblur="angular.element(this).scope().CambiarFechaInicio(this)" style="height: 33px">
                <div class="input-group-addon" style="background: white; color: black; border-color: white"> a </div>
                <input type="text" class="form-control entrada" id="fechaFin" onblur="angular.element(this).scope().CambiarFechaFin(this)" style="height: 33px">
            </div>
           
        </div>
        <br class="hidden-sm hidden-md hidden-lg"> 
        <!-- Unidad de Negocio -->
        <div class="col-sm-6" ng-show="permiso.verTodo">
          
          <label>Unidad Negocio</label>
          <div class="dropdown">

                <button class="dropdown-toggle  dropdownlistModal" data-toggle="dropdown" style="height: 33px">
                   {{filtro.unidad.NombreTipoUnidadNegocio}} <span ng-show="filtro.unidad.NombreTipoUnidadNegocio.length > 0">-</span> {{filtro.unidad.Nombre}}
                    <span class="pull-right">
                        <span class="caret "></span>
                    </span>
                </button>

                <ul class="dropdown-menu listaOpcionesDropdownList" style="min-width: 100%">
                   <li>
                       
                       <a  href="" class="dropdownOpcionModal" ng-click="CambiarUnidadNegocio('ninguna')">
                            <span>NINGUNA</span>
                        </a>
                    </li>
                    
                    <li ng-repeat="unidad in unidad | orderBy:['NombreTipoUnidadNegocio', 'Nombre']">
                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarUnidadNegocio(unidad)">
                            <span>{{unidad.NombreTipoUnidadNegocio}} - {{unidad.Nombre}}</span>
                        </a>
                    </li>
                </ul>

            </div>
           
        </div>
        
    </div>
    <br>
    
    <div class="row">
        <div class="col-xs-12">
            <div ng-repeat="error in mensajeError track by $index">
                <span class="textoError">{{error}}</span>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            
            <div class="pull-right">
                
                <button class="btn btnContornoNegro" ng-click="LimpiarFiltro()">Limpiar</button>
                
                <button class="btn btnContornoNegro" style="margin-left: 10px" ng-click="GetPagoFiltro()">Buscar</button>
            </div>
            
        </div>
    </div>
    <br><br>
    
    <!-- resultado -->
    <div ng-show="buscar">
      
      <div class="row" ng-show="totalPago > 0">
            <div class="col-sm-6">
               <div class="input-group">
                    <input type="text" ng-model="busqueda" placeholder="Buscar" class="entrada form-control" style="height: 33px">
                    
                    <div class="input-group-btn">
                        <button class="btn btnTimes" ng-click="busqueda = ''" style="height: 33px">
                            <span class="fa fa-times"></span>
                        </button>
                    </div>
              </div>
            </div>
            
            <br class="hidden-sm hidden-md hidden-lg">
            
            <div class="col-sm-6">
                <span class="pull-right">
                   <spna class="textoTipoModulo"> Total: </spna>
                    <span class="textoNumeroTipoModulo"><b>{{totalPago | currency}}</b></span>
                </span>
            </div>
        </div>
        <br>
       
        <div class="row" ng-show="totalPago > 0">
           <div class="col-xs-12" >
               <div class="table-responsive " style="overflow: scroll; max-height: 650px;">
                <table class="table table-hover table-striped">
                    <thead class="TituloTabla" >
                      <tr>
                        <th>
                            <button class="btn botonOrdenar" ng-click="CambiarOrdenar('Cliente')" style="padding:  0px">
                                <b>Cliente</b> <span ng-class="{'fa fa-arrow-up': ordenar == 'Cliente', 'fa fa-arrow-down': ordenar == '-Cliente'}"></span>
                            </button>
                        </th>
                        <th>
                            <button class="btn botonOrdenar" ng-click="CambiarOrdenar('Venta')" style="padding:  0px">
                                <b>Venta</b> <span ng-class="{'fa fa-arrow-up': ordenar == 'Venta', 'fa fa-arrow-down': ordenar == '-Venta'}"></span>
                            </button>
                        </th>
                        <th><span class=""><b># Factura</b></span></th>
                        <th><span class=""><b># Nota Cargo</b></span></th>
                        <th>
                            <button class="btn botonOrdenar" ng-click="CambiarOrdenar('Unidad')" style="padding:  0px">
                                <b>Unidad Negocio</b> <span ng-class="{'fa fa-arrow-up': ordenar == 'Unidad', 'fa fa-arrow-down': ordenar == '-Unidad'}"></span>
                            </button>
                        </th>
                        <th><span class=""><b># Contrato</b></span></th>
                        <th>
                            <button class="btn botonOrdenar" ng-click="CambiarOrdenar('Fecha')" style="padding:  0px">
                                <b>Fecha</b> <span ng-class="{'fa fa-arrow-up': ordenar == 'Fecha', 'fa fa-arrow-down': ordenar == '-Fecha'}"></span>
                            </button>
                        </th>
                        <th>
                            <button class="btn botonOrdenar" ng-click="CambiarOrdenar('Total')" style="padding:  0px">
                                <b>Total</b> <span ng-class="{'fa fa-arrow-up': ordenar == 'Total', 'fa fa-arrow-down': ordenar == '-Total'}"></span>
                            </button>
                        </th>
                      </tr>
                    </thead>
                    <tbody >
                        <tr ng-repeat="pago in pago | filter:busqueda">
                            <td>{{pago.Cliente}}</td>
                            
                            <td>{{pago.ProyectoNombre}}</td>
                            
                            <td>{{pago.NoFactura}}</td>
                            
                            <td>{{pago.NoNotaCargo}}</td>
                            
                            <td>{{pago.NombreTipoUnidadNegocio}} - {{pago.NombreUnidadNegocio}}</td>
                            
                            <td>{{pago.ContratoId}}</td>
                            
                            <td>{{pago.FechaFormato}} {{pago.Hora}}</td>
                            
                            <td class="">
                               <div class="dropdown">
                                   <button class="botonAgregarAcordion dropdown-toggle " style="font-size: 11pt; padding: 0px; background: transparent" data-toggle="dropdown" >
                                       <b >{{pago.Total | currency}}</b>
                                    </button>

                                    <ul class="dropdown-menu dropdown-menu-right dropdownRight" style="margin-top: 5px; width: auto">
                                        <form style="padding: 10px">

                                           <div ng-if="pago.Total > 0">
                                               <div style="margin-top: 5px" class="pull-left">
                                                    <b >{{pago.Concepto}} - {{pago.NombreTipoPago}}</b>   
                                               </div>


                                                <br><br>
                                                <div class="">
                                                    <table class="table table-hover table-striped table-condensed">
                                                        <thead class="TituloTabla" >
                                                            <tr>
                                                                <th style="min-width: 120px">Pago</th>
                                                                <th style="min-width: 120px">Medio de Pago</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="desg in pago.Desgloce track by $index">
                                                                <td>{{desg.Pago | currency}} </td>
                                                                <td>{{desg.NombreMedioPago}} </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </form>
                                    </ul>
                                 </div>

                            </td>
                        </tr>

                    </tbody>
               </table>
               </div>
            </div>
       </div>
  
       <div class="row" ng-if="totalPago == 0">
           <div class="col-xs-12">
               <div  class="textoPerfilHome">
                    <span>Sin datos encontrados.</span>
               </div>
           </div>
       </div>
    </div>
   
</div>

     