<div ng-controller="ColorControlador as Color">
    
    <div class="row">
        <div class="col-md-11 col-xs-10">
            <div class="table-responsive TablaUnidadNegocio">
                <table class="table table-hover table-striped table-condensed">
                    <thead class="TituloTabla">
                      <tr>
                        <th><button class="btn botonOrdenar" ng-click="CambiarOrdenar('Nombre')"><b>Nombre </b><b ng-if="ordenarPor === 'Nombre'" class="fa fa-arrow-up"></b>  <b ng-if="ordenarPor === '-Nombre'" class="fa fa-arrow-down"></b></button></th>
                        <th><button class="btn botonFalso"><b>Imagen</b></button></th>
                        <th><button class="btn botonFalso"><b>Editar</b></button></th>
                        <th><button class="btn botonFalso"><b>Activo</b></button></th>
                      </tr>
                    </thead>
                    <tbody >
                      <tr ng-repeat="color in color | orderBy:[ordenarPor, 'Nombre'] | filter:{Nombre:buscarColor}">
                        <td>{{color.Nombre}}</td>
                        
                        <td class="text-center">
                            <a ng-if="color.Imagen.length > 0" class="BotonOperacion" href="" data-toggle="modal" data-target="#ImagenColorModal" ng-click="VerColor(color)">
                                <span class="fa fa-picture-o fa-2x"></span>
                            </a>
                            
                            <span ng-if="color.Imagen.length == 0" class="fa fa-picture-o fa-2x botonRegistroDeshabilitado"></span>
                        </td>

                        <td class="text-center">
                            <a ng-if="permisoUsuario.color.editar" class="BotonOperacion" href="" data-toggle="modal" data-target="#" ng-click="AbrirColor('Editar', color)">
                                <span class="fa fa-pencil fa-2x"></span>
                            </a>

                            <span ng-if="!permisoUsuario.color.editar" class="fa fa-pencil fa-2x botonRegistroDeshabilitado"></span>
                        </td>

                        <td class="text-center">
                            <div class="checkbox">
                                <label>
                                    <input ng-disabled="!permisoUsuario.color.activar" ng-model="color.Activo" type="checkbox" value="" ng-click="ActivarDesactivarColor(color)">
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                </label>
                            </div>
                        </td>

                      </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-2 col-md-1">
             <button ng-disabled="!permisoUsuario.color.agregar"  class="btn btn-block botonOperacion fa fa-plus text-center" data-toggle="tooltip" data-placement="bottom" title="Agregar Tipo Módulo" ng-click="AbrirColor('Agregar', null)"></button>
             
             <br><br>
             <!-- Boton buscar -->
            <div class="dropdown">
                
                <button class="btn btn btn-block botonOperacion fa fa-search text-center" data-toggle="dropdown" ></button>
                    
                <ul class="dropdown-menu dropdown-menu-right operacionPanel">

                    <li style="width: 225px; height: 35px !important;">

                        <form role="buscar" style="max-width: 200px; height: 25px !important;">
                            <div class="input-group" >
                              <input  type="text" class="form-control operacionPanelEntrada" placeholder="Buscar" style="margin-left: 5px; width: 175px;" ng-model="buscarColor">
                              <span class="input-group-btn" style="width: 25px;">
                                <button class="btn operacionPanelBoton" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                              </span>
                            </div>
                        </form>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
                     
     <!------------------------------------ Modales -------------------------------------------------------------------->
                      
    <!---- Modal para Agregar-editar Color -->
    <div class="modal fade" id="colorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
        <br>    <br>   <br>
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <!-- encabezado del modal -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="margenModal">
                            <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close" ng-click="LimpiarImagen()"><span aria-hidden="true">&times;</span></button>
                            <h3 class="text-center" ng-if="operacion === 'Agregar'">Agregar Color</h3>
                            <h3 class="text-center" ng-if="operacion === 'Editar'">Editar Color</h3>
                            <hr class="separador">
                        </div>
                    </div>
                </div>
                <br>

                <form class="modal-body" name="colorForma">
                    <div class="row">
                        <div class="col-sm-6">
                          
                           <!-- Imagen Base de datos-->
                           <div class="marcoImagenAgregar" ng-if="nuevoColor.Imagen.length > 0 && !imagenSeleccionada">
                                <img class="imagenModulo center-block" ng-src="data:image/PNG;base64,{{nuevoColor.Imagen}}"/>
                                <a  class="BotonOperacion botonVerImagen" href="" data-toggle="modal" data-target="#ImagenColorModal">
                                    <span class="fa fa-arrows-alt fa-2x"></span>
                                </a>
                            </div>

                            <!-- Imagen Cargarda -->
                            <div class="marcoImagenAgregar center-block" ng-if="imagenSeleccionada">
                                <span id="PrevisualizarImagenColor"></span>

                                <a  class="BotonOperacion botonVerImagen" href="" data-toggle="modal" data-target="#ImagenColorModal">
                                    <span class="fa fa-arrows-alt fa-2x"></span>
                                </a>
                            </div>

                            <!-- Imagen vacia-->
                            <div class="marcoImagenAgregar" ng-if="nuevoColor.Imagen.length == 0 && !imagenSeleccionada">
                                <div class="imagenModuloVacia">Imagen</div>
                            </div>

                            <div  method="post" enctype="multipart/form-data">
                                <div class="input-group">
                                    <input disabled type="text" class="form-control cargarArchivo image-preview-filename" ng-model="imagen[0].name"> 
                                    <span class="input-group-btn">
                                        <div class="btn image-preview-input">
                                            <span class="image-preview-input-title fa fa-upload"></span>
                                            <input type="file" id="cargarImagen" accept="image/JPG" name="imagen" onchange="angular.element(this).scope().CargarImagenColor(this)" data-toggle="tooltip" data-placement="bottom" title="Cargar Imagen"/>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    
                        <br>

                        <div class="col-sm-6">
                            <br class="hidden-sm hidden-md hidden-md">
                            <!-- Nombre -->
                            <div class="row">
                                <div class="col-xs-12">
                                     <div class="entrada2">
                                        <input ng-pattern="erNombreGeneral" type="text" required class="{{claseColor.nombre}} form-control" name="nombre" ng-model="nuevoColor.Nombre"/>
                                        <label>Nombre</label>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <!-- Activo -->
                            <div class="row">
                               <div class="col-xs-12">
                                     <label class="btn checkBoxActivo">Módulo Activo <input type="checkbox" class="badgebox" ng-model="nuevoColor.Activo"><span class="badge">&check;</span></label>
                                </div>
                            </div>
                            <br>

                        </div>
                    </div>
                    <br>
                    <!-------- mensaje de error ---->
                    <div class="row">
                        <div class="col-xs-12">
                            <div ng-repeat="error in mensajeError">
                                <span class="textoError">{{error}}</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!---- botones de operacion --->
                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn botonCancelar btn-block" data-dismiss="modal" aria-label="Close" ng-click="LimpiarImagen()">CANCELAR</button>
                        </div>
                        
                        <div class="col-xs-6">
                            <button focus class="btn botonAvanzar btn-block" ng-click="TerminarColor(colorForma.nombre.$invalid)">TERMINAR</button>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
            <br><br><br>
        </div>
    </div>
                       
    <!-------------- Imagen expandida-------------->
    <div class="modal fade" id="ImagenColorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <br>    <br>   <br>
        <div class="modal-dialog">
            <div class="modal-content">
              
               <div class="row">
                  
                    <div class="col-xs-12">
                        <div class="margenModal">
                            <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="text-center">Color - {{nuevoColor.Nombre}}</h3>
                            <hr class="separador">
                        </div>
                    </div>
                </div>
                
                <div class="modal-body">
                   
                    <div class="row">
                        <div class="col-xs-12">
                            <img  ng-if="!imagenSeleccionada" class="img-responsive center-block" ng-src="data:image/PNG;base64,{{nuevoColor.Imagen}}"/>
                            <span ng-if="imagenSeleccionada" id="PrevisualizarImagenColorDetalles"></span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>  
                        
    <!-- Desactivar Modal -->
    <div class="modal fade" id="modalActivarDesactivarConfigurarGeneralColor" data-keyboard="false" data-backdrop="static">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                
                <div class="modal-body">
                    <br>
                    <div class="panel panel-default modalMensaje">
                        <br>
                        <b>{{mensajeAdvertencia}}</b>
                        <br><br>

                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn botonCancelar" data-dismiss="modal" aria-label="Close" ng-click="CancelarEstatusActivoColor()">No</button>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn botonAvanzar" data-dismiss="modal" aria-label="Close" ng-click="ConfirmarActualizarColor()">Si</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                
            </div>
        </div>
    </div> 
    
    <!-- Modal para mensajes -->
    <div class="modal fade" id="mensajeConfigurarGeneralColor">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                
                <div class="modal-body">
                    <div class="panel panel-default modalMensaje">
                        <br>
                        <b>{{mensaje}}</b>

                        <br><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn  botonAvanzar" data-dismiss="modal" aria-label="Close">Aceptar</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                
            </div>
        </div>
    </div>  
                        
</div>

     