<div ng-controller="ContratoControlador">
    <br><br>

    <div class="row">
       <div class="col-xs-12">

           <div class="entrada2">
                <input type="text" required class="entrada form-control"  name="nombre" ng-maxlength="120" currency-input ng-model="iva"/>
                <label>Precio</label>
            </div>

       </div>
    </div>
    <br><br>
    <div class="row">
       <div class="col-xs-12">

           <div class="entrada2">
                <input type="text" required class="entrada form-control"  name="nombre" ng-maxlength="120" phone-input ng-model="iva"/>
                <label>Precio</label>
            </div>

       </div>
    </div>
    
    <a href="FEL/Ejemplos/GenerarCFDI33.php">Factura</a>
</div>

