<div ng-controller="ContratoControlador">
    <br><br>
    
    <div class="row">
        <div class="col-xs-12">
            <label style="width: 110px"><b>Gabriel</b> </label>
            <span> Eduardo</span>
        </div>
        
        <div class="col-xs-12">
            <label style="width: 110px"><b>Dia</b> </label>
            <span> Montiel</span>
        </div>
    </div>

    <div class="row">
       <div class="col-xs-12">

           <div class="entrada2">
                <input type="text" required class="entrada form-control"  name="nombre" ng-maxlength="120" currency-input ng-model="iva"/>
                <label>Precio</label>
            </div>

       </div>
    </div>
    <br><br>
    <div class="row">
       <div class="col-xs-12">

           <div class="entrada2">
                <input type="text" required class="entrada form-control"  name="nombre" ng-maxlength="120" phone-input ng-model="iva"/>
                <label>Precio</label>
            </div>

       </div>
    </div>
    
    <a href="FEL/Ejemplos/GenerarCFDI33.php">{{prueba.toFixed(2)}}</a> 
</div>

