<div ng-controller="MuestarioAccesorioControlador as muestrarioAccesorio">
   
    <div class="row">
        <div class="col-md-11 col-xs-10">
            <div class="table-responsive TablaUnidadNegocio">
                <table class="table table-hover">
                    <thead class="TituloTabla">
                      <tr>
                       <th><button class="btn btn-block botonOrdenar" ng-click="CambiarOrdenarMuestrarioAccesorio('TipoAccesorio.Nombre')"><b>Tipo Accesorio </b><b ng-if="ordenarPorMuestarioAccesorio === 'TipoAccesorio.Nombre'" class="fa fa-arrow-up"></b>  <b ng-if="ordenarPorMuestarioAccesorio === '-TipoAccesorio.Nombre'" class="fa fa-arrow-down"></b></button></th>
                        <th><button class="btn btn-block botonOrdenar" ng-click="CambiarOrdenarMuestrarioAccesorio('Nombre')"><b>Nombre </b><b ng-if="ordenarPorMuestarioAccesorio === 'Nombre'" class="fa fa-arrow-up"></b>  <b ng-if="ordenarPorMuestarioAccesorio === '-Nombre'" class="fa fa-arrow-down"></b></button></th>
                        <th><button class="btn botonOrdenar" ng-click="CambiarOrdenarMuestrarioAccesorio('Margen')"><b>Margen </b><b ng-if="ordenarPorMuestarioAccesorio === 'Margen'" class="fa fa-arrow-up"></b>  <b ng-if="ordenarPorMuestarioAccesorio === '-Margen'" class="fa fa-arrow-down"></b></button></th>
                        <th><button class="btn botonFalso"><b>Accesorios</b></button></th>
                        <th><button class="btn botonFalso"><b>Editar</b></button></th>
                        <th><button class="btn botonFalso"><b>Activo</b></button></th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="muestrario in muestrario | orderBy:[ordenarPorMuestarioAccesorio,'Nombre'] | filter:buscarMuestarioAccesorio | filter:FiltroMuestrarioAccesorio">
                      <tr>
                         <td>{{muestrario.TipoAccesorio.Nombre}} </td>
                          <td>
                              {{muestrario.Nombre}} 
                              <span ng-if="muestrario.PorDefecto" class="fa fa-asterisk" data-toggle="tooltip" data-placement="bottom" title="Muestrario por defecto"></span>
                          </td>
                          
                          <td>{{muestrario.Margen}}</td>

                        <td class="text-center">
                            <a class="BotonOperacion" href="" data-toggle="modal" data-target="#" ng-click="AbrirDetallesMuestrario(muestrario)">
                                <span class="fa fa-eye fa-2x"></span>
                            </a>
                        </td>

                        <td class="text-center">
                            <a ng-if="permisoUsuario.muestrario.editar" class="BotonOperacion" href="" data-toggle="modal" data-target="#" ng-click="AbrirMuestrarioModal('Editar', muestrario)">
                                <span class="fa fa-pencil fa-2x" ></span>
                            </a>

                            <span ng-if="!permisoUsuario.muestrario.editar" class="fa fa-pencil fa-2x botonRegistroDeshabilitado"></span>
                        </td>

                        <td class="text-center">
                            <div class="checkbox">
                                <label>
                                    <input  ng-disabled="!permisoUsuario.muestrario.activar" ng-model="muestrario.Activo" type="checkbox" value="" ng-click="CambiarEstatusActivo(muestrario)">
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                </label>
                            </div>
                        </td>

                      </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-2 col-md-1">
            
             <button ng-disabled="!permisoUsuario.muestrario.agregar"  class="btn btn-block botonOperacion fa fa-plus text-center" data-toggle="tooltip" data-placement="bottom" title="Agregar Tipo Módulo" ng-click="AbrirMuestrarioModal('Agregar', null)"></button>
             <br><br>
             
             <!-- Boton filtrar -->
            <div class="dropdown">

                <button class="btn btn btn-block botonOperacion fa fa-filter text-center" data-toggle="dropdown" ></button>

                <ul class="dropdown-menu dropdown-menu-right operacionPanel">

                    <div  class="row ">
                        <div class="col-xs-9">
                            <li  class="dropdown-header tituloOpcionLateral">FILTRAR</li>
                        </div>
                        <div class="col-xs-3">
                            <li> <button class="btn botonOperacion fa fa-ban" data-toggle="tooltip" data-placement="bottom" title="Limpiar filtro" ng-click="LimpiarFiltro()"></button></li>
                        </div>
                    </div>
                    <li role="separator" class="divider"></li>

                    <li style="width: 275px;">

                        <form role="filtro">

                            <!------ Tipo de Material ------>
                            <button class="btn btn-block botonFiltro" ng-click="MostrarFiltros('tipoAccesorio')">Tipo Accesorio</button>

                            <div class="row" ng-show="mostrarFiltro.tipoAccesorio">
                                <div class="col-xs-12" >
                                    <div class="opcionFiltro">
                                        <div  ng-repeat="tipo in tipoAccesorio | orderBy:'Nombre' ">
                                            <label class="checkBoxActivoFiltro">
                                                <input type="checkbox" class="badgebox" ng-model="tipo.Filtro" ><span class="badge">&check;</span>
                                                {{tipo.Nombre}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                        </form>
                    </li>
                </ul>
            </div>

            <br>
                                
             <!-- Boton buscar -->
            <div class="dropdown">
                
                <button class="btn btn btn-block botonOperacion fa fa-search text-center" data-toggle="dropdown" ></button>
                    
                <ul class="dropdown-menu dropdown-menu-right operacionPanel">

                    <li style="width: 225px; height: 35px !important;">

                        <form role="buscar" style="max-width: 200px; height: 25px !important;">
                            <div class="input-group" >
                              <input  type="text" class="form-control operacionPanelEntrada" placeholder="Buscar" style="margin-left: 5px; width: 175px;" ng-model="buscarMuestarioAccesorio">
                              <span class="input-group-btn" style="width: 25px;">
                                <button class="btn operacionPanelBoton" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                              </span>
                            </div>
                        </form>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
                     
    <!------------------------------------ Modales -------------------------------------------------------------------->
    <!---- Agregar y editar muestrario -->
    <div class="modal fade" id="muestrarioAccesorioModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
        <br>    <br>   <br>
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <!-- encabezado del modal -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="margenModal">
                            <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close" ng-click="CerrarMuestrarioForma()"><span aria-hidden="true">&times;</span></button>
                            <h3 class="text-center" ng-if="operacion === 'Agregar'">Agregar Muestrario</h3>
                            <h3 class="text-center" ng-if="operacion === 'Editar'">Editar Muestrario</h3>
                            <hr class="separador">
                        </div>
                    </div>
                </div>
                <br>

                <form class="modal-body" name="muestrarioAccesorioForma">
                <!-- Datos -->
                    <div class="row">
                       <!-- tipo de accesorio -->
                        <div class="col-sm-6 etiquetaDropdownList">
                             <label>Tipo Accesorio</label>
                             <div class="dropdown">

                                <button class="dropdown-toggle  {{claseMuestrario.tipoAccesorio}}" data-toggle="dropdown">
                                    <span>{{nuevoMuestrario.TipoAccesorio.Nombre}}</span>
                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu elemetosDropdownListModal">
                                    <li ng-repeat="tipo in tipoAccesorio | orderBy:'Nombre'" ng-show="tipo.Activo">
                                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarTipoAccesorio(tipo)">
                                            <span>{{tipo.Nombre}}</span>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div style="margin-top:20px"></div>
                    
                    <!-- Nombre -->
                    <div class="row">
                        <div class="col-sm-6">
                             <div class="entrada2">
                                <input ng-pattern="erNombreGeneral" type="text" required class="{{claseMuestrario.nombre}} form-control" name="nombre" ng-model="nuevoMuestrario.Nombre"/>
                                <label>Nombre</label>
                            </div>
                        </div>
                        
                        <br class="hidden-sm hidden-md hidden-lg"><br class="hidden-sm hidden-md hidden-lg">
                        <!-- Margen -->
                        <div class="col-sm-6">
                             <div class="entrada2">
                                <input ng-pattern="erNumeroDecimal" type="text" required class="{{claseMuestrario.margen}} form-control" name="margen" ng-model="nuevoMuestrario.Margen"/>
                                <label>Margen</label>
                            </div>
                        </div>
                        
                    </div> 
                    <br>
                    <!--Por defecto -->
                    <div class="row">
                      <!-- activo -->
                       <div class="col-sm-6">
                             <label class="btn checkBoxActivo">Muestrario Activo <input type="checkbox" class="badgebox" ng-model="nuevoMuestrario.Activo"><span class="badge">&check;</span></label>
                         </div>
                         
                         <br class="hidden-sm hidden-md hidden-lg">
                         
                         <!-- por defecto -->
                        <div class="col-sm-6">
                             <label class="btn checkBoxActivo">Muestrario Por Defecto <input type="checkbox" class="badgebox" ng-model="nuevoMuestrario.PorDefecto"><span class="badge">&check;</span></label>
                         </div>
                        
                    </div> 
                    <br>
                    <!-------- mensaje de error ---->
                    <div class="row">
                        <div class="col-xs-12">
                            <div ng-repeat="error in mensajeError">
                                <span class="textoError">{{error}}</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!---- botones de operacion --->
                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn botonCancelar btn-block" data-dismiss="modal" aria-label="Close" ng-click="CerrarMuestrarioForma()">CANCELAR</button>
                        </div>
                        
                        <div class="col-xs-6">
                            <button focus class="btn botonAvanzar btn-block" ng-click="TerminarMuestrarioAccesorio(muestrarioAccesorioForma.nombre.$invalid, muestrarioAccesorioForma.margen.$invalid)">TERMINAR</button>
                        </div>
                    </div>
                    <br> 
                </form>
            </div>
            <br><br><br>
        </div>
    </div>
    
    <!--- Modal para Detalles puertas del muestrario --->
    <div class="modal fade " id="DetallesMuestrarioAccesorio"  >
        <br>    <br>   <br>
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <!-- encabezado del modal -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="margenModal">
                            <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="text-center">Accesorios de {{muestrarioActualizar.Nombre}}</h3>
                            <hr class="separador">
                        </div>
                    </div>
                </div>
                <br>
                <!-- cuerpo del modal -->
                <div class="modal-body" >
                   
                    <div class="row" ng-if="accesorioPorMuestrario.length > 0">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="TituloTabla">
                                      <tr>
                                        <th><button class="btn botonOrdenar"><b>Nombre </b></button></th>
                                        <th><button class="btn botonOrdenar"><b>Tipo </b></button></th>
                                        <th><button class="btn botonFalso"><b>Activo </b></button></th>
                                      </tr>
                                    </thead>
                                    <tbody ng-repeat="accesirio in accesorioPorMuestrario | orderBy:'Nombre'">
                                      <tr>
                                        <td>{{accesirio.Nombre}}</td>
                                        <td>{{accesirio.NombreTipoAccesorio}}</td>
                                        <td class="text-center">
                                            <span class="fa fa-check-square-o fa-2x" ng-if="accesirio.Activo"></span>
                                            <span class="fa fa-square-o fa-2x" ng-if="!accesirio.Activo"></span>
                                        </td>
                                        
                                        
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row" ng-if="accesorioPorMuestrario.length == 0">
                        <div class="col-xs-12">
                            <h4>Este muestrario no cuenta con accesorios asignados.</h4>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    
    <!-- Desactivar Modal -->
    <div class="modal fade" id="modalActivarDesactivarMuestrarioAccesorio" data-keyboard="false" data-backdrop="static">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                
                <div class="modal-body">
                    <br>
                    <div class="panel panel-default modalMensaje">
                        <br>
                        <b>{{mensajeAdvertencia}}</b>
                        <br><br>

                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn botonCancelar" data-dismiss="modal" aria-label="Close" ng-click="CancelarCambiarActivo()">No</button>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn botonAvanzar" data-dismiss="modal" aria-label="Close" ng-click="ConfirmarActualizarActivo()">Si</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                
            </div>
        </div>
    </div> 
    
    <!-- Modal para mensajes -->
    <div class="modal fade" id="mensajeMuestrarioAccesorio">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                
                <div class="modal-body">
                    <div class="panel panel-default modalMensaje">
                        <br>
                        <b>{{mensaje}}</b>

                        <br><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn  botonAvanzar" data-dismiss="modal" aria-label="Close">Aceptar</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                
            </div>
        </div>
    </div>             
    
                        
</div>

     