<div ng-controller="ReporteClienteProspectoControlador as rclienteprospecto" class="container-fluid">
    
  <!-- Título -->
   <div class="row">
       <div class="col-xs-12">
           <h3>Reporte de Propoción de Cliente - Prospecto</h3>
       </div>
   </div>
   <br>
   
   <div class="row">
      <!-- Fecha -->
       <div class="col-sm-6" >
          
          <label>Fecha</label>
          <div class="input-group input-daterange">
                <input type="text" class="form-control entrada" id="fechaInicio" onblur="angular.element(this).scope().CambiarFechaInicio(this)" style="height: 33px">
                <div class="input-group-addon" style="background: white; color: black; border-color: white"> a </div>
                <input type="text" class="form-control entrada" id="fechaFin" onblur="angular.element(this).scope().CambiarFechaFin(this)" style="height: 33px">
            </div>
           
        </div>
        <br class="hidden-sm hidden-md hidden-lg"> 
        <!-- Unidad de Negocio -->
        <div class="col-sm-6" >
          
          <label>Unidad Negocio</label>
          <div class="dropdown">

                <button class="dropdown-toggle  dropdownlistModal" data-toggle="dropdown" style="height: 33px">
                   {{filtro.unidad.NombreTipoUnidadNegocio}} <span ng-show="filtro.unidad.NombreTipoUnidadNegocio.length > 0">-</span> {{filtro.unidad.Nombre}}
                    <span class="pull-right">
                        <span class="caret "></span>
                    </span>
                </button>

                <ul class="dropdown-menu listaOpcionesDropdownList" style="min-width: 100%">
                   <li>
                       
                       <a  href="" class="dropdownOpcionModal" ng-click="CambiarUnidadNegocio('ninguna')">
                            <span>NINGUNA</span>
                        </a>
                    </li>
                    
                    <li ng-repeat="unidad in unidad | orderBy:['NombreTipoUnidadNegocio', 'Nombre']">
                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarUnidadNegocio(unidad)">
                            <span>{{unidad.NombreTipoUnidadNegocio}} - {{unidad.Nombre}}</span>
                        </a>
                    </li>
                </ul>

            </div>
           
        </div>
        
    </div>
    <br>
    
    <div class="row">
        <div class="col-xs-12">
            <div ng-repeat="error in mensajeError track by $index">
                <span class="textoError">{{error}}</span>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            
            <div class="pull-right">
                
                <button class="btn btnContornoNegro" ng-click="LimpiarFiltro()">Limpiar</button>
                
                <button class="btn btnContornoNegro" style="margin-left: 10px" ng-click="GetContratoFiltro()">Buscar <span ng-if="filtro.fecha1.length == 0 && filtro.fecha2.length == 0 && filtro.unidad.UnidadNegocioId == undefined">Todo</span></button>
            </div>
            
        </div>
    </div>
    <br><br>
    
    <!-- resultado -->
    <div ng-show="buscar">
      
        <div class="row">
           <div class="col-xs-12">
              <div class="text-center">
                  <spna class="textoTipoModulo "> Por cada 10 personas registradas </spna>
                  <span class="textoNumeroTipoModulo">{{(reporte.PorcentajeCliente/10).toFixed(2)}}</span>
                  <spna class="textoTipoModulo "> se convierten en clientes de Cocinas k</spna>
              </div> 
           </div>
        </div>
        <br>
       
        <div id="contenedorGraficaCliente">
             <canvas id="chartCliente"></canvas>
        </div>
       
        <br><br>
        
        
    </div>
    
    


    
</div>

     