<div ng-controller="AccesorioModuloControlador as accesorioModulo" class="container-fluid" >

    <br><br>
    <div class="row">
        <div class="col-xs-12">
            <div class="tituloModulo">
                <span>{{titulo}}</span>
            </div>
        </div>
    </div>
    <br>

    <div class="row" ng-if="permisoUsuario.consultar">
        <div class="col-md-11 col-xs-10">
            <div class="table-responsive TablaUnidadNegocio">
                <table class="table table-hover">
                    <thead class="TituloTabla ">
                      <tr>
                        <th><button class="btn botonOrdenar" ng-click="CambiarOrdenar('Nombre')"><b>Nombre </b><b ng-if="ordenarPor === 'Nombre'" class="fa fa-arrow-up"></b>  <b ng-if="ordenarPor === '-Nombre'" class="fa fa-arrow-down"></b></button></th>
                        <th><button class="btn botonOrdenar" ng-click="CambiarOrdenar('TipoAccesorio.Nombre')"><b>Tipo Accesorio </b><b ng-if="ordenarPor === 'TipoAccesorio.Nombre'" class="fa fa-arrow-up"></b>  <b ng-if="ordenarPor === '-TipoAccesorio.Nombre'" class="fa fa-arrow-down"></b></button></th>
                        <th><button class="btn botonOrdenar" ng-click="CambiarOrdenar('Muestrario.Nombre')"><b>Muestrario </b><b ng-if="ordenarPor === 'Muestrario.Nombre'" class="fa fa-arrow-up"></b>  <b ng-if="ordenarPor === '-Muestrario.Nombre'" class="fa fa-arrow-down"></b></button></th>
                        <th><button class="btn botonFalso"><b>Costo/ Consumo</b></button></th>
                        <th><button class="btn botonFalso"><b>Detalles</b></button></th>
                        <th><button class="btn botonFalso"><b>Editar</b></button></th>
                        <th><button class="btn botonFalso"><b>Activo</b></button></th>
                        <!--<th><button class="btn botonOrdenar" ng-click="CambiarOrdenar('ActivoN')"><b>Activo</b> <b ng-if="ordenarPor === 'ActivoN'" class="fa fa-arrow-up"></b>  <b ng-if="ordenarPor === '-ActivoN'" class="fa fa-arrow-down"></b></button></th>-->
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="accesorio in accesorio | filter:buscar | filter:FiltrarAccesorio | orderBy:[ordenarPor, 'Nombre']">
                        <td>{{accesorio.Nombre}}</td>
                        <td>{{accesorio.TipoAccesorio.Nombre}}</td>
                        <td>{{accesorio.Muestrario.Nombre}}</td>
                        
                        <td class="text-center">
                            <span ng-if="accesorio.TipoAccesorio.ClaseAccesorio.ClaseAccesorioId == '1'">${{accesorio.CostoUnidad}}</span>
                            <span ng-if="accesorio.TipoAccesorio.ClaseAccesorio.ClaseAccesorioId == '2'">{{accesorio.ConsumoUnidad}} pie2</span>
                        </td>
                          
                        <td class="text-center">
                            <a  class="BotonOperacion" href="" data-toggle="modal" data-target="#DetallesAccesorio" ng-click="MostarDetalles(accesorio)">
                                <span class="fa fa-eye fa-2x"></span>
                            </a>
                        </td>

                        <td class="text-center">
                            <a  ng-if="permisoUsuario.editar" class="BotonOperacion" href="" data-toggle="modal" data-target="#" ng-click="AbrirAccesorioModal('Editar', accesorio)">
                                <span class="fa fa-pencil fa-2x"></span>
                            </a>
                            <span ng-if="!permisoUsuario.editar" class="fa fa-pencil fa-2x botonRegistroDeshabilitado"></span>
                        </td>

                        <td class="text-center">
                            <div class="checkbox">
                                <label>
                                    <input ng-disabled="!permisoUsuario.activar" ng-model="accesorio.Activo" type="checkbox" value="" ng-click="ActivarDesactivarAccesorio(accesorio)">
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                </label>
                            </div>
                        </td>

                      </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-2 col-md-1">
            <button ng-disabled="!permisoUsuario.agregar" class="btn btn-block botonOperacion fa fa-plus text-center" data-toggle="tooltip" data-placement="bottom" title="Agregar Combinación de Materiales" ng-click="AbrirAccesorioModal('Agregar', null)"></button>
            
            <br><br>
            
            <!-- Boton filtrar -->
            <div class="dropdown">

                <button class="btn btn btn-block botonOperacion fa fa-filter text-center" data-toggle="dropdown" ></button>

                <ul class="dropdown-menu dropdown-menu-right operacionPanel" >

                    <div  class="row">
                        <div class="col-xs-9">
                            <li  class="dropdown-header tituloOpcionLateral">FILTRAR</li>
                        </div>
                        <div class="col-xs-3">
                            <li> <button class="btn botonOperacion fa fa-ban" data-toggle="tooltip" data-placement="bottom" title="Limpiar filtro" ng-click="LimpiarFiltro()"></button></li>
                        </div>
                    </div>
                    <li role="separator" class="divider"></li>

                    <li style="width: 275px;">

                        <form role="filtro">

                            <!------ Tipo de Accesorio ------>
                            <button class="btn btn-block botonFiltro" ng-click="MostrarFiltros('tipoAccesorio')">Tipo Accesorio</button>
                            
                            <div class="row" ng-show="mostrarFiltro.tipoAccesorio">
                                <div class="col-xs-12">
                                    <div class="opcionFiltro">
                                        <div ng-repeat="tipo in accesorio | orderBy:'TipoAccesorio.Nombre' | unique: 'TipoAccesorio.Nombre' track by $index">
                                            <label class="checkBoxActivoFiltro">
                                                <input type="checkbox" class="badgebox"  ng-model="filtroCheckboxTipoAccesorio[$index]" ng-click="setFiltroTipo(tipo.TipoAccesorio.Nombre)"><span class="badge">&check;</span>
                                               {{tipo.TipoAccesorio.Nombre}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            
                            <!------ Clase de Accesorio ------>
                            <button class="btn btn-block botonFiltro" ng-click="MostrarFiltros('claseAccesorio')">Clase Accesorio</button>

                            <div class="row" ng-show="mostrarFiltro.claseAccesorio">
                                <div class="col-xs-12" >
                                    <div class="opcionFiltro">
                                        <div  ng-repeat="clase in claseAccesorio | orderBy:'Nombre' track by $index">
                                            <label class="checkBoxActivoFiltro">
                                                <input type="checkbox" class="badgebox" ng-model="filtroCheckboxClaseAccesorio[$index]"  ng-click="setFiltroClase( clase.Nombre )"><span class="badge">&check;</span>
                                                {{clase.Nombre}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            
                            <!------ Muestrario ------>
                            <button class="btn btn-block botonFiltro" ng-click="MostrarFiltros('muestrario')">Muestrario</button>
                            
                            <div class="row" ng-show="mostrarFiltro.muestrario">
                                <div class="col-xs-12">
                                    <div class="opcionFiltro">
                                        <div ng-repeat="muestrario in accesorio | orderBy:'Muestrario.Nombre' | unique: 'Muestrario.Nombre' track by $index">
                                            <label class="checkBoxActivoFiltro">
                                                <input type="checkbox" class="badgebox"  ng-model="filtroCheckboxMuestrario[$index]" ng-click="setFiltroMuestrario(muestrario.Muestrario.Nombre)"><span class="badge">&check;</span>
                                               {{muestrario.Muestrario.Nombre}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            
                            <!------------- Activo ---------->
                            <button class="btn btn-block botonFiltro" ng-click="MostrarFiltros('activo')">Activo</button>
                            
                            <div class="row" ng-show="mostrarFiltro.activo">
                                <div class="col-xs-12" >
                                    <div class="opcionFiltro">
                                        <div>
                                            <label class="checkBoxActivoFiltro">
                                                <input type="checkbox" class="badgebox" ng-model="filtro.activo.activo"><span class="badge">&check;</span>
                                                Accesorios Activos
                                            </label>
                                            
                                            <label class="checkBoxActivoFiltro">
                                                <input type="checkbox" class="badgebox" ng-model="filtro.activo.inactivo"><span class="badge">&check;</span>
                                                Accesorios No Activos
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            
                            <!------------- Obligatorio ---------->
                            <button class="btn btn-block botonFiltro" ng-click="MostrarFiltros('obligatorio')">Obligatorio</button>
                            
                            <div class="row" ng-show="mostrarFiltro.obligatorio">
                                <div class="col-xs-12" >
                                    <div class="opcionFiltro">
                                        <div>
                                            <label class="checkBoxActivoFiltro">
                                                <input type="checkbox" class="badgebox" ng-model="filtro.obligatorio.obligatorio"><span class="badge">&check;</span>
                                                Accesorios Obligatorios
                                            </label>
                                            
                                            <label class="checkBoxActivoFiltro">
                                                <input type="checkbox" class="badgebox" ng-model="filtro.obligatorio.noObligatorio"><span class="badge">&check;</span>
                                                Accesorios No Obligatorios
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <br>
                            
                            <!------------- Contable ---------->
                            <button class="btn btn-block botonFiltro" ng-click="MostrarFiltros('contable')">Contable</button>
                            
                               <div class="row" ng-show="mostrarFiltro.contable">
                                <div class="col-xs-12" >
                                    <div class="opcionFiltro">
                                        <div>
                                            <label class="checkBoxActivoFiltro">
                                                <input type="checkbox" class="badgebox" ng-model="filtro.contable.contable"><span class="badge">&check;</span>
                                                Accesorios Contables
                                            </label>
                                            
                                            <label class="checkBoxActivoFiltro">
                                                <input type="checkbox" class="badgebox" ng-model="filtro.contable.noContable"><span class="badge">&check;</span>
                                                Accesorios No Contables
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <br>
                
                        </form>
                    </li>
                </ul>
            </div>

            <br>
            
            <!-- Boton buscar -->
            <div class="dropdown">
                
                <button class="btn btn btn-block botonOperacion fa fa-search text-center" data-toggle="dropdown" ></button>
                    
                <ul class="dropdown-menu dropdown-menu-right operacionPanel">

                    <li style="width: 225px; height: 35px !important;">

                        <form role="buscar" style="max-width: 200px; height: 25px !important;">
                            <div class="input-group" >
                              <input  type="text" class="form-control operacionPanelEntrada" placeholder="Buscar" style="margin-left: 5px; width: 175px;" ng-model="buscar">
                              <span class="input-group-btn" style="width: 25px;">
                                <button class="btn operacionPanelBoton" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                              </span>
                            </div>
                        </form>
                    </li>
                </ul>
                
            </div>
            
        </div>
    </div>
    
    
    <!------------------------------------------ Modalaes --------------------------------------->
    
    <!---- Agregar y editar componente -->
    <div class="modal fade" id="accesorioModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
        <br>    <br>   <br>
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <!-- encabezado del modal -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="margenModal">
                            <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close" ng-click="LimpiarImagen()"><span aria-hidden="true">&times;</span></button>
                            <h3 class="text-center" ng-if="operacion === 'Agregar'">Agregar Accesorio</h3>
                            <h3 class="text-center" ng-if="operacion === 'Editar'">Editar Accesorio</h3>
                            <hr class="separador">
                        </div>
                    </div>
                </div>
                <br>

                <form class="modal-body" name="accesorioForma">
                    <!-- Paso 1 -->
                    <div ng-show="numeroPaso == 1">
                
                        <div class="row">
                            <div class="col-sm-6">
                               <!-- Imagen Base de datos-->
                               <div class="marcoImagenAgregar" ng-if="nuevoAccesorio.Imagen.length > 0 && !imagenSeleccionada">
                                    <img class="imagenModulo center-block" ng-src="data:image/PNG;base64,{{nuevoAccesorio.Imagen}}"/>
                                    <a  class="BotonOperacion botonVerImagen" href="" data-toggle="modal" data-target="#ImagenAccesorioModal">
                                        <span class="fa fa-arrows-alt fa-2x"></span>
                                    </a>
                                </div>

                                <!-- Imagen Cargarda -->
                                <div class="marcoImagenAgregar center-block" ng-if="imagenSeleccionada">
                                    <span id="PrevisualizarImagenAccesorio"></span>

                                    <a  class="BotonOperacion botonVerImagen" href="" data-toggle="modal" data-target="#ImagenAccesorioModal">
                                        <span class="fa fa-arrows-alt fa-2x"></span>
                                    </a>
                                </div>

                                <!-- Imagen vacia-->
                                <div class="marcoImagenAgregar" ng-if="nuevoAccesorio.Imagen.length == 0 && !imagenSeleccionada">
                                    <div class="imagenModuloVacia">Imagen</div>
                                </div>

                                <div  method="post" enctype="multipart/form-data">
                                    <div class="input-group">
                                        <input disabled type="text" class="form-control cargarArchivo image-preview-filename" ng-model="imagen[0].name"> 
                                        <span class="input-group-btn">
                                            <div class="btn image-preview-input">
                                                <span class="image-preview-input-title fa fa-upload"></span>
                                                <input type="file" id="cargarImagen" accept="image/JPG" name="imagen" onchange="angular.element(this).scope().CargarImagenAccesorio(this)" data-toggle="tooltip" data-placement="bottom" title="Cargar Imagen"/>
                                            </div>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <br>

                            <div class="col-sm-6">
                                <br class="hidden-sm hidden-md hidden-md">
                                <!-- Tipo Accesorio -->
                                <div class="row">
                                    <div class="col-xs-12 etiquetaDropdownList">
                                         <label>Tipo de Accesorio</label>
                                         <div class="dropdown">

                                            <button class="dropdown-toggle  {{clase.tipoAccesorio}} " data-toggle="dropdown">
                                                <span>{{nuevoAccesorio.TipoAccesorio.Nombre}}</span>
                                                <span class="caret"></span>
                                            </button>

                                            <ul class="dropdown-menu elemetosDropdownListModal">
                                                <li ng-repeat="tipo in tipoAccesorio | orderBy:'Nombre'" ng-if="tipo.Activo">
                                                    <a  href="" class="dropdownOpcionModal" ng-click="CambiarTipoAccesorio(tipo)">
                                                        <span>{{tipo.Nombre}}</span>
                                                    </a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                <br>
                                <!-- Muestrario -->
                                <div class="row">
                                    <div class="col-xs-12 etiquetaDropdownList">
                                         <label>Muestrario</label>
                                         <div class="dropdown">

                                            <button class="dropdown-toggle  {{clase.muestrario}} " data-toggle="dropdown">
                                                <span>{{nuevoAccesorio.Muestrario.Nombre}}</span>
                                                <span class="caret"></span>
                                            </button>

                                            <ul class="dropdown-menu elemetosDropdownListModal">
                                                <li ng-repeat="muestrario in muestrario | orderBy:'Nombre'" ng-if="muestrario.Activo">
                                                    <a  href="" class="dropdownOpcionModal" ng-click="CambiarMuestrario(muestrario)">
                                                        <span>{{muestrario.Nombre}}</span>
                                                    </a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                <br>
                                <!-- Nombre -->
                                <div class="row">
                                    <div class="col-xs-12">
                                         <div class="entrada2">
                                            <input ng-pattern="erNombreGeneral" type="text" required class="{{clase.nombre}} form-control" name="nombre" ng-model="nuevoAccesorio.Nombre"/>
                                            <label>Nombre</label>
                                        </div>
                                    </div>
                                </div>
                                <br>

                            </div>
                        </div>
                        <br ><br class="hidden-xs">
                        <div class="row">
                           <!-- Costo Unidad -->
                            <div class="col-sm-6" ng-if="nuevoAccesorio.TipoAccesorio.ClaseAccesorio.ClaseAccesorioId != '2'">
                                 <div class="entrada2">
                                    <input ng-pattern="erNumeroDecimal" type="text" required class="{{clase.costo}} form-control" name="costo" ng-model="nuevoAccesorio.CostoUnidad"/>
                                    <label>Costo Unidad</label>
                                </div>
                            </div>
                            
                            <!-- Consumo Unidad -->
                            <div class="col-sm-6" ng-if="nuevoAccesorio.TipoAccesorio.ClaseAccesorio.ClaseAccesorioId == '2'">
                                 <div class="entrada2">
                                    <input ng-pattern="erNumeroDecimal" type="text" required class="{{clase.consumo}} form-control" name="consumo" ng-model="nuevoAccesorio.ConsumoUnidad"/>
                                    <label>Consumo Unidad</label>
                                </div>
                            </div>
                            
                            <br class="hidden-sm hidden-md hidden-lg">
                            <!-- Activo -->
                            <div class="col-sm-6">
                                 <label class="btn checkBoxActivo">Módulo Activo <input type="checkbox" class="badgebox" ng-model="nuevoAccesorio.Activo"><span class="badge">&check;</span></label>
                             </div>
                        </div> 
                        <br>
                        <div class="row">
                           <!-- Obligatorio -->
                            <div class="col-sm-6">
                                 <label class="btn checkBoxActivo">Obligatorio <input type="checkbox" class="badgebox" ng-model="nuevoAccesorio.Obligatorio"><span class="badge">&check;</span></label>
                             </div>
                            
                            <br class="hidden-sm hidden-md hidden-lg">
                            <!-- Contable -->
                            <div class="col-sm-6">
                                 <label class="btn checkBoxActivo">Contable <input type="checkbox" class="badgebox" ng-model="nuevoAccesorio.Contable"><span class="badge">&check;</span></label>
                             </div>
                        </div> 
                        <br>
                        
                        <!-------- mensaje de error ---->
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-repeat="error in mensajeError track by $index">
                                    <span class="textoError">{{error}}</span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <!---- botones de operacion --->
                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn botonCancelar btn-block" data-dismiss="modal" aria-label="Close" ng-click="LimpiarImagen()">CANCELAR</button>
                            </div>

                            <div class="col-xs-6">
                                <button ng-disabled="terminar" focus class="btn botonAvanzar btn-block" ng-click="TerminaPaso1(accesorioForma.nombre.$invalid, accesorioForma.costo.$invalid, accesorioForma.consumo.$invalid)">
                                    <span ng-if="nuevoAccesorio.TipoAccesorio.ClaseAccesorio.ClaseAccesorioId == '2'">SIGUIENTE &gt;&gt;</span>
                                    <span ng-if="nuevoAccesorio.TipoAccesorio.ClaseAccesorio.ClaseAccesorioId != '2'">TERMINAR</span>
                                </button>
                            </div>
                        </div>
                        <br> 
                    </div>
                    <!-- Paso 2 -->
                    <!-- Combinacion de materiales-->
                    <div ng-if="numeroPaso == 2">
                        
                        <div class="row" ng-if="combinacion.length > 0">
                            <br>
                            <div class="col-xs-12 subtituloModal" ng-if="combinacion.length == 0">
                                <span class="recuperarPassword">No hay combinaciones dadas de alta</span>
                            </div>
                        </div>
                        
                        <div class="row" ng-if="combinacion.length > 0">
                            <div class="col-xs-12 subtituloModal">
                                <b>¿De qué material es fabricado este accesorio en cada combinación?</b>
                            </div>
                            <br> <br>
                            <div class="col-xs-12">
                                <div class="piezaPorComponenteTabla">
                                    <table class="table table-hover">
                                        <thead class="TituloTabla">
                                          <tr>
                                            <th><button class="btn botonOrdenar"><b>Combinación</b></button></th>
                                            <th><button class="btn botonOrdenar"><b>Tipo Material</b></button></th>
                                            <th><button class="btn botonOrdenar"><b>Material</b></button></th>
                                            <th><button class="btn botonOrdenar"><b>Grueso</b></button></th>
                                          </tr>
                                        </thead>
                                        <tbody ng-repeat="combinacion in combinacionAccesorio | orderBy:'CombinacionMaterial.Nombre'" ng-if="combinacion.CombinacionMaterial.Activo">
                                          <tr>
                                            <td>{{combinacion.CombinacionMaterial.Nombre}}</td>
                                            <!--- tipo material --->
                                            <td class="dropdown">
                                                <button class="dropdown-toggle  {{combinacion.claseTipoMaterial}}" data-toggle="dropdown">
                                                    <span>{{combinacion.Material.TipoMaterial.Nombre}}</span>
                                                    <span class="caret"></span>
                                                </button>

                                                <ul class="dropdown-menu elemetosDropdownListModal">
                                                    <li>
                                                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarTipoMaterial('No Aplica', combinacion)">
                                                            <span>NO APLICA</span>
                                                        </a>
                                                    </li>
                                                    <li ng-repeat="tipo in tipoMaterial | orderBy:'Nombre'" ng-if="tipo.Activo">
                                                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarTipoMaterial(tipo, combinacion)">
                                                            <span>{{tipo.Nombre}}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <!--- material --->
                                            <td class="dropdown">
                                                <button class="dropdown-toggle  {{combinacion.claseMaterial}}" data-toggle="dropdown" ng-disabled="combinacion.Material.TipoMaterial.Nombre.length == 0 || combinacion.Material.TipoMaterial.Nombre === 'No Aplica' ">
                                                    <span>{{combinacion.Material.Nombre}}</span>
                                                    <span class="caret"></span>
                                                </button>

                                                <ul class="dropdown-menu elemetosDropdownListModal">

                                                    <li ng-repeat="material in material | orderBy:'Nombre' | filter:{TipoMaterial:{TipoMaterialId:combinacion.Material.TipoMaterial.TipoMaterialId}}:true" ng-if="material.Activo">
                                                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarMaterial(material, combinacion)">
                                                            <span>{{material.Nombre}}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <!--- grueso --->
                                            <td class="dropdown">
                                                <button class="dropdown-toggle  {{combinacion.claseGrueso}}" data-toggle="dropdown" ng-disabled="combinacion.Material.Nombre.length == 0 || !(combinacion.Material.Grueso.length > 0)">
                                                    <span>{{combinacion.Grueso}}</span>
                                                    <span class="caret"></span>
                                                </button>

                                                <ul class="dropdown-menu elemetosDropdownListModal">
                                                    <li ng-repeat="grueso in combinacion.Material.Grueso | orderBy:'grueso' " ng-if="grueso.Activo">
                                                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarGrueso(grueso.Grueso, combinacion)">
                                                            <span>{{grueso.Grueso}}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                          </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                
                        <br>
                        <!-------- mensaje de error ---->
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-repeat="error in mensajeError">
                                    <span class="textoError">{{error}}</span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <!---- botones de operacion --->
                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn botonCancelar btn-block"  ng-click="AnteriorAccesorio()">&lt;&lt; ANTERIOR</button>
                            </div>

                            <div class="col-xs-6">
                                <button ng-disabled="terminar" focus class="btn botonAvanzar btn-block" ng-click="TerminaPaso2()">TERMINAR</button>
                            </div>
                        </div>
                        <br> 
                    </div>
                </form>
            </div>
            <br><br><br>
        </div>
    </div>
    
    <!--- Modal para Detalles del módulo --->
    <div class="modal fade " id="DetallesAccesorio" >
        <br>    <br>   <br>
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <!-- encabezado del modal -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="margenModal">
                            <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="text-center">Detalles del Accesorio</h3>
                            <hr class="separador">
                        </div>
                    </div>
                </div>
                
                <!-- cuerpo del modal -->
                <div class="modal-body">
                    <!-- Opciones de unidad de negocio -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right">
                                <button ng-disabled="!permisoUsuario.editar" class="btn botonOperacion" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" data-placement="bottom" title="Editar Módulo"  ng-click="AbrirAccesorioModal('Editar', nuevoAccesorio)"><span class="fa fa-pencil fa-2x"></span></button>
                                <button ng-disabled="!permisoUsuario.activar" ng-if="nuevoAccesorio.Activo" class="btn botonOperacion activo"  data-toggle="tooltip" data-placement="bottom" title="Desactivar" ng-click="CambiarEstatusActivoModal(nuevoAccesorio)"><span class="fa fa-power-off fa-2x"></span></button>
                                <button ng-disabled="!permisoUsuario.activar" ng-if="!nuevoAccesorio.Activo" class="btn botonOperacion desactivo" data-toggle="tooltip" data-placement="bottom" title="Activar" ng-click="CambiarEstatusActivoModal(nuevoAccesorio)"><span class="fa fa-power-off fa-2x"></span></button>
                            </div>
                        </div>
                    </div>
                        
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                          
                           <div class="marcoImagen" ng-if="nuevoAccesorio.Imagen.length > 0">
                                <div class="imagenVista">
                                    <img class="imagenModulo center-block" ng-src="data:image/PNG;base64,{{nuevoAccesorio.Imagen}}"/>
                                    <a  class="BotonOperacion botonVerImagen" href="" data-toggle="modal" data-target="#ImagenAccesorioModal">
                                        <span class="fa fa-arrows-alt fa-2x"></span>
                                    </a>
                                </div>
                            </div>
                            
                            <!-- Imagen -->
                           <div class="marcoImagen" ng-if="nuevoAccesorio.Imagen.length == 0">
                                <div class="imagenModuloVacia">Imagen</div>
                            </div>
                        </div>
                        
                        <div class="col-sm-6">
                            <br class="hidden-sm hidden-md hidden-lg">
                            <!-- Tipo Accesorio -->
                            <div class="row">
                               <div class="col-xs-12">
                                    <div class="subrayado">
                                        <label>Tipo de Accesorio</label><br>
                                        <span class="textoModal">{{nuevoAccesorio.TipoAccesorio.Nombre}}</span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <!-- Nombre -->
                            <div class="row">
                               <div class="col-xs-12">
                                    <div class="subrayado">
                                        <label>Nombre</label><br>
                                        <span class="textoModal">{{nuevoAccesorio.Nombre}}</span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <!-- Muestrario -->
                            <div class="row">
                               <div class="col-xs-12">
                                    <div class="subrayado">
                                        <label>Muestrario</label><br>
                                        <span class="textoModal">{{nuevoAccesorio.Muestrario.Nombre}}</span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            
                        </div>
                    </div>
                    <br class="hidden-xs">
                    
                    <div class="row">
                       
                        <div class="col-sm-6" ng-if="nuevoAccesorio.TipoAccesorio.ClaseAccesorio.ClaseAccesorioId == '1'">
                            <div class="subrayado">
                                <label>Costo Unidad</label><br>
                                <span class="textoModal">${{nuevoAccesorio.CostoUnidad}}</span>
                            </div>
                        </div>
                        
                        <div class="col-sm-6" ng-if="nuevoAccesorio.TipoAccesorio.ClaseAccesorio.ClaseAccesorioId == '2'">
                            <div class="subrayado">
                                <label>Consumo Unidad</label><br>
                                <span class="textoModal">{{nuevoAccesorio.ConsumoUnidad}}pie2</span>
                            </div>
                        </div>
                        
                        <br class="hidden-sm hidden-md hidden-lg">
                        
                        <div class="col-sm-6 col-xs-12" >
                             <button class="btn checkBoxActivo" style="margin-top:20px">Accesorio Activo<input ng-disabled="true" type="checkbox" class="badgebox" ng-model="nuevoAccesorio.Activo"><span class="badge">&check;</span></button>
                        </div>
                        
                    </div>
                    
                    <div class="row">
                       
                        <div class="col-sm-6 col-xs-12" >
                             <button class="btn checkBoxActivo" style="margin-top:20px">Accesorio Obligatorio<input ng-disabled="true" type="checkbox" class="badgebox" ng-model="nuevoAccesorio.Obligatorio"><span class="badge">&check;</span></button>
                        </div>
                        
                        <br class="hidden-sm hidden-md hidden-lg">
                        
                        <div class="col-sm-6 col-xs-12" >
                             <button class="btn checkBoxActivo" style="margin-top:20px">Accesorio Contable<input ng-disabled="true" type="checkbox" class="badgebox" ng-model="nuevoAccesorio.Contable"><span class="badge">&check;</span></button>
                        </div>
                        
                    </div>
                    
                    <br><br>
                    <div class="row" ng-if="nuevoAccesorio.TipoAccesorio.ClaseAccesorio.ClaseAccesorioId == '2'">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-block" ng-class="GetClaseDetallesSeccion('combinacion')" ng-click="MostrarPanelDetalles('combinacion')">Combinaciones de materiales</button>
                                </div>
                            </div>
                            <br>
                            <div class="table-responsive TablaModal" ng-show="mostrarDetalles == 'combinacion'">
                                <table class="table table-hover">
                                    <thead class="TituloTabla">
                                      <tr>
                                        <th><button class="btn botonOrdenar"><b>Combinación</b></button></th>
                                        <th><button class="btn botonOrdenar"><b>Tipo Material</b></button></th>
                                        <th><button class="btn botonOrdenar"><b>Material</b></button></th>
                                        <th><button class="btn botonFalso"><b>Grueso</b></button></th>
                                      </tr>
                                    </thead>
                                    <tbody ng-repeat="combinacion in combinacionAccesorio | orderBy:['CombinacionMaterial.Nombre']">
                                      <tr ng-if="combinacion.CombinacionMaterial.Activo">
                                        <td>{{combinacion.CombinacionMaterial.Nombre}}</td>
                                        <td>{{combinacion.Material.TipoMaterial.Nombre}}</td>
                                        <td>{{combinacion.Material.Nombre}}</td>
                                        <td class="text-center">{{combinacion.Grueso}}</td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
     <!-------------- Imagen expandida-------------->
    <div class="modal fade" id="ImagenAccesorioModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <br>    <br>   <br>
        <div class="modal-dialog">
            <div class="modal-content">
              
               <div class="row">
                  
                    <div class="col-xs-12">
                        <div class="margenModal">
                            <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="text-center">{{nuevoAccesorio.TipoAccesorio.Nombre}} - {{nuevoAccesorio.Nombre}}</h3>
                            <hr class="separador">
                        </div>
                    </div>
                </div>
                
                <div class="modal-body">
                   
                    <div class="row">
                        <div class="col-xs-12">
                            <img ng-if="!imagenSeleccionada" class="img-responsive center-block" ng-src="data:image/PNG;base64,{{nuevoAccesorio.Imagen}}"/> 
                            <span ng-if="imagenSeleccionada" id="PrevisualizarImagenAccesorioDetalles"></span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>  
    
    <!-- Desactivar Modal -->
    <div class="modal fade" id="modalActivarDesactivarAccesorio" data-keyboard="false" data-backdrop="static">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                
                <div class="modal-body">
                    <br>
                    <div class="panel panel-default modalMensaje">
                        <br>
                        <b>{{mensajeAdvertencia}}</b>
                        <br><br>

                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn botonCancelar" data-dismiss="modal" aria-label="Close" ng-click="CancelarEstatusActivoAccesorio()">No</button>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn botonAvanzar" data-dismiss="modal" aria-label="Close" ng-click="ConfirmarActualizarAccesorio()">Si</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                
            </div>
        </div>
    </div> 
    
    <!-- Modal para mensajes -->
    <div class="modal fade" id="mensajeAccesorio">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                
                <div class="modal-body">
                    <div class="panel panel-default modalMensaje">
                        <br>
                        <b>{{mensaje}}</b>

                        <br><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn  botonAvanzar" data-dismiss="modal" aria-label="Close">Aceptar</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                
            </div>
        </div>
    </div>  
    
    
</div>

     