<div ng-controller="CombinacionControlador as combinacion" class="container-fluid" >

    <br><br>
    <div class="row">
        <div class="col-xs-12">
            <div class="tituloModulo">
                <span>{{titulo}}</span>
            </div>
        </div>
    </div>
    <br>
    
    <div class="row" ng-if="permisoUsuario.consultar">
        <div class="col-md-11 col-xs-10">
            <div class="table-responsive TablaUnidadNegocio">
                <table class="table table-hover">
                    <thead class="TituloTabla">
                      <tr>
                        <th><button class="btn botonOrdenar" ng-click="CambiarOrdenar('Nombre')"><b>Nombre </b><b ng-if="ordenarPor === 'Nombre'" class="fa fa-arrow-up"></b>  <b ng-if="ordenarPor === '-Nombre'" class="fa fa-arrow-down"></b></button></th>
                        <th><button class="btn botonFalso"><b>Detalles</b></button></th>
                        <th><button class="btn botonFalso"><b>Editar</b></button></th>
                        <th><button class="btn botonFalso"><b>Activo</b></button></th>
                        <!--<th><button class="btn botonOrdenar" ng-click="CambiarOrdenar('ActivoN')"><b>Activo</b> <b ng-if="ordenarPor === 'ActivoN'" class="fa fa-arrow-up"></b>  <b ng-if="ordenarPor === '-ActivoN'" class="fa fa-arrow-down"></b></button></th>-->
                      </tr>
                    </thead>
                    <tbody ng-repeat="combinacion in combinacion | filter:buscar | orderBy:[ordenarPor, 'Nombre']">
                      <tr>
                        <td>
                         {{combinacion.Nombre}}
                         <span ng-if="combinacion.PorDefecto" class="fa fa-asterisk" data-toggle="tooltip" data-placement="bottom" title="Combinación por defecto"></span>
                        </td>
                          
                        <td class="text-center">
                            <a  class="BotonOperacion" href="" data-toggle="modal" data-target="#DetallesCombinacion" ng-click="MostarDetalles(combinacion)">
                                <span class="fa fa-eye fa-2x"></span>
                            </a>
                        </td>

                        <td class="text-center">
                            <a  ng-if="permisoUsuario.editar" class="BotonOperacion" href="" data-toggle="modal" data-target="#" ng-click="AbrirCombinacionMaterialModal('Editar', combinacion)">
                                <span class="fa fa-pencil fa-2x"></span>
                            </a>
                            
                            <span ng-if="!permisoUsuario.editar" class="fa fa-pencil fa-2x botonRegistroDeshabilitado"></span>
                        </td>

                        <td class="text-center">
                            <div class="checkbox">
                                <label>
                                    <input ng-disabled="!permisoUsuario.activar"  ng-model="combinacion.Activo" type="checkbox" value="" ng-click="CambiarEstatusActivo(combinacion)">
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                </label>
                            </div>
                        </td>

                      </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-2 col-md-1">
            <button ng-disabled="!permisoUsuario.agregar" class="btn btn-block botonOperacion fa fa-plus text-center" data-toggle="tooltip" data-placement="bottom" title="Agregar Combinación de Materiales" ng-click="AbrirCombinacionMaterialModal('Agregar', null)"></button>
            
            <br><br>
            
            <!-- Boton buscar -->
            <div class="dropdown">
                
                <button class="btn btn btn-block botonOperacion fa fa-search text-center" data-toggle="dropdown" ></button>
                    
                <ul class="dropdown-menu dropdown-menu-right operacionPanel">

                    <li style="width: 225px; height: 35px !important;">

                        <form role="buscar" style="max-width: 200px; height: 25px !important;">
                            <div class="input-group" >
                              <input  type="text" class="form-control operacionPanelEntrada" placeholder="Buscar" style="margin-left: 5px; width: 175px;" ng-model="buscar">
                              <span class="input-group-btn" style="width: 25px;">
                                <button class="btn operacionPanelBoton" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                              </span>
                            </div>
                        </form>
                    </li>
                </ul>
                
            </div>
            
        </div>
    </div>
    
    <!----------------------------------- Modales --------------------------->
    
    <!--- Modal para Detalles del los materiales por componente --->
    <div class="modal fade " id="DetallesCombinacion" >
        <br>    <br>   <br>
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <!-- encabezado del modal -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="margenModal">
                            <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="text-center">Detalles de la Combinación</h3>
                            <hr class="separador">
                        </div>
                    </div>
                </div>
                
                <!-- cuerpo del modal -->
                <div class="modal-body">
                    <!-- Opciones de unidad de negocio -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right">
                                <button ng-disabled="!permisoUsuario.editar" class="btn botonOperacion" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" data-placement="bottom" title="Editar Combinación de Materiales"  ng-click="AbrirCombinacionMaterialModal('Editar', nuevaCombinacion)"><span class="fa fa-pencil fa-2x"></span></button>
                                <button ng-disabled="!permisoUsuario.activar" ng-if="nuevaCombinacion.Activo" class="btn botonOperacion activo"  data-toggle="tooltip" data-placement="bottom" title="Desactivar" ng-click="CambiarEstatusActivoModal()"><span class="fa fa-power-off fa-2x"></span></button>
                                <button ng-disabled="!permisoUsuario.activar" ng-if="!nuevaCombinacion.Activo" class="btn botonOperacion desactivo" data-toggle="tooltip" data-placement="bottom" title="Activar" ng-click="CambiarEstatusActivoModal()"><span class="fa fa-power-off fa-2x"></span></button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="subrayado">
                                <label>Nombre</label><br>
                                <span class="textoModal">{{nuevaCombinacion.Nombre}}</span>
                            </div>
                        </div>
                        <br div class="hidden-sm hidden-md hidden-lg">
                        <div class="col-sm-6">
                            <div class="subrayado">
                                <label>Tipo de Combinación</label><br>
                                <span class="textoModal">{{nuevaCombinacion.TipoCombinacion.Nombre}}</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!--  Descripcion del presupuesto -->
                    <div class="row">
                        <div class="col-sm-12">
                           <label>Descripción presupuesto</label><br>
                            <div class="bordeBug">
                                <span>{{nuevaCombinacion.TipoCombinacion.Descripcion}}</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    
                    <div class="row" ng-if="combinacionMaterialComponente.length > 0">
                       <div class="col-xs-12 subtituloModal">
                            <b>Materiales por Componente</b>
                        </div>
                        <div class="col-xs-12">
                           
                           <br>
                            <button class="btn btn-block" ng-class="GetClaseDetallesPuerta('COMPONENTE')" ng-click="MostraComponentePuerta('COMPONENTE')">Componentes</button>
                            <br>
                            
                            <div class="table-responsive TablaModal" ng-if=" mostrarComponentePuerta == 'COMPONENTE' ">
                                <table class="table table-hover">
                                    <thead class="TituloTabla">
                                      <tr>
                                        <!--<th><button class="btn botonOrdenar" ng-click="CambiarOrdenar('Colaborador')"><b>Responsable</b> <b ng-if="ordenarPor === 'Colaborador'" class="fa fa-arrow-up"></b>  <b ng-if="ordenarPor === '-Colaborador'" class="fa fa-arrow-down"></b></button></th>-->
                                        <th><button class="btn botonOrdenar"><b>Componente </b></button></th>
                                        <th><button class="btn botonOrdenar"><b>Tipo de Material </b></button></th>
                                        <th><button class="btn botonOrdenar"><b>Material </b></button></th>
                                        <th><button class="btn botonFalso"><b>Grueso </b></button></th>
                                      </tr>
                                    </thead>
                                    <tbody ng-repeat="material in combinacionMaterialComponente | orderBy:['Componente.Nombre']">
                                      <tr ng-if="material.Componente.Activo">
                                        <td>{{material.Componente.Nombre}}</td>
                                        <td>{{material.Material.TipoMaterial.Nombre}}</td>
                                        <td>{{material.Material.Nombre}}</td>
                                        <td class="text-center">{{material.Grueso}}</td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row" ng-if="combinacionPorPuerta.length > 0">
                      
                        <div class="col-xs-12 subtituloModal">
                            <b>Materiales por Puerta</b>
                        </div>
                        <br><br>  
                        <div class="col-xs-12">
                            <div ng-repeat="puerta in combinacionPorPuerta | unique: 'Puerta.Nombre' | orderBy:'Puerta.Nombre'" ng-if="puerta.Puerta.Activo == '1'">
                                <button class="btn btn-block" ng-class="GetClaseDetallesPuerta(puerta.Puerta.Nombre)" ng-click="MostraComponentePuerta(puerta.Puerta.Nombre)">{{puerta.Puerta.Nombre}}</button>
                                <br>
                                
                                <div class="table-responsive" ng-if=" mostrarComponentePuerta == puerta.Puerta.Nombre">
                                    <table class="table table-hover">
                                        <thead class="TituloTabla">
                                          <tr>
                                            <th><button class="btn botonOrdenar"><b>Componente</b></button></th>
                                            <th><button class="btn botonOrdenar"><b>Tipo Material</b></button></th>
                                            <th><button class="btn botonOrdenar"><b>Material</b></button></th>
                                            <th><button class="btn botonFalso"><b>Grueso</b></button></th>
                                          </tr>
                                        </thead>
                                        <tbody ng-repeat="componente in combinacionPorPuerta | filter:FiltarPuerta | orderBy:'Componente.Nombre' track by $index">
                                          <tr>
                                            <td>{{componente.Componente.Nombre}}</td>
                                            <td>{{componente.Material.TipoMaterial.Nombre}}</td>
                                            <td>{{componente.Material.Nombre}}</td>
                                            <td class="text-center">{{componente.Grueso}}</td>
                                          </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="row" ng-if="combinacionAccesorio.length > 0">
                       <div class="col-xs-12 subtituloModal">
                            <b>Materiales por Accesorio</b>
                        </div>
                        <div class="col-xs-12">
                            <br>
                            <button class="btn btn-block" ng-class="GetClaseDetallesPuerta('ACCESORIO')" ng-click="MostraComponentePuerta('ACCESORIO')">Accesorios</button>
                            <br>
                            <div class="table-responsive TablaModal">
                                <table class="table table-hover" ng-if=" mostrarComponentePuerta == 'ACCESORIO' ">
                                    <thead class="TituloTabla">
                                      <tr>
                                        <!--<th><button class="btn botonOrdenar" ng-click="CambiarOrdenar('Colaborador')"><b>Responsable</b> <b ng-if="ordenarPor === 'Colaborador'" class="fa fa-arrow-up"></b>  <b ng-if="ordenarPor === '-Colaborador'" class="fa fa-arrow-down"></b></button></th>-->
                                        <th><button class="btn botonOrdenar"><b>Accesorio </b></button></th>
                                        <th><button class="btn botonFalso"><b>Tipo de Material </b></button></th>
                                        <th><button class="btn botonFalso"><b>Material </b></button></th>
                                        <th><button class="btn botonFalso"><b>Grueso </b></button></th>
                                      </tr>
                                    </thead>
                                    <tbody ng-repeat="material in combinacionAccesorio | orderBy:['Accesorio.Nombre']">
                                      <tr ng-if="material.Accesorio.Activo">
                                        <td>{{material.Accesorio.Nombre}}</td>
                                        <td>{{material.Material.TipoMaterial.Nombre}}</td>
                                        <td >{{material.Material.Nombre}}</td>
                                        <td class="text-center">{{material.Grueso}}</td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
     <!---- Modal para Agregar-editar combinación material -->
    <div class="modal fade" id="combinacionMaterialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
        <br>    <br>   <br>
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <!-- encabezado del modal -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="margenModal">
                            <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close" ng-click="CerrarCombinacionMaterialModal()"><span aria-hidden="true">&times;</span></button>
                            <h3 class="text-center" ng-if="operacion === 'Agregar'">Agregar Combinación de Materiales</h3>
                            <h3 class="text-center" ng-if="operacion === 'Editar'">Editar Combinación de Materiales</h3>
                            <hr class="separador">
                        </div>
                    </div>
                </div>
                <br>

                <form class="modal-body" name="combinacionForma">
                  <!-- Paso 1 -->
                   <div ng-if="pasoCombinacion ==1">
                    <!-- Datos -->
                        <!-- Nombre -->
                        <div class="row">
                            <div class="col-sm-6">
                                 <div class="entrada2">
                                    <input ng-pattern="erNombreGeneral" type="text" required class="{{claseCombinacion.nombre}} form-control" name="nombre" ng-model="nuevaCombinacion.Nombre"/>
                                    <label>Nombre</label>
                                </div>
                            </div>
                            <br class="hidden-sm hidden-md hidden-lg"><br class="hidden-sm hidden-md hidden-lg">
                            <!-- Tipo de combinacion -->
                            <div class="col-sm-6 etiquetaDropdownList">
                             <label>Tipo de Combinación</label>
                             <div class="dropdown">

                                <button ng-disabled="nuevaPlaza.Municipio.length == 0" class="dropdown-toggle  {{claseCombinacion.tipo}}" data-toggle="dropdown">
                                    <span>{{nuevaCombinacion.TipoCombinacion.Nombre}}</span>
                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu elemetosDropdownListModal"><!-- -->
                                    <li ng-repeat="tipo in tipoCombinacion   | orderBy:'Nombre'" ng-show="tipo.Activo">
                                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarTipoCombinacion(tipo)">
                                            <span>{{tipo.Nombre}} </span>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        </div> 
                        <br class="hidden-xs">
                        
                        
                        <div class="row">
                           <!-- Activo -->
                            <div class="col-sm-6">
                                <label class="btn checkBoxActivo">Combinación Activa <input type="checkbox" class="badgebox" ng-model="nuevaCombinacion.Activo"><span class="badge">&check;</span></label>
                            </div>
                             <br class="hidden-sm hidden-md hidden-lg">
                            <!-- Por defecto -->
                            <div class="col-sm-6">
                                 <label class="btn checkBoxActivo">Combinación Por Defecto <input type="checkbox" class="badgebox" ng-model="nuevaCombinacion.PorDefecto"><span class="badge">&check;</span></label>
                             </div>
                        </div> 
                        
                        <br>
                        <!--  Descripcion del presupuesto -->
                        <div class="row">
                            <div class="col-sm-12">
                               <label>Descripción presupuesto</label><br>
                                <div class="bordeBug">
                                    <span>{{nuevaCombinacion.TipoCombinacion.Descripcion}}</span>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        
                        <div class="row" ng-if="componente.length > 0">
                            <div class="col-xs-12 subtituloModal">
                                <b>¿De qué material es fabricado cada componente en esta combinación?</b>
                            </div>
                            <br> <br>
                            <div class="col-xs-12">
                                <div class="piezaPorComponenteTabla">
                                    <table class="table table-hover">
                                        <thead class="TituloTabla">
                                          <tr>
                                            <th><button class="btn botonOrdenar"><b>Componente</b></button></th>
                                            <th><button class="btn botonOrdenar"><b>Tipo Material</b></button></th>
                                            <th><button class="btn botonOrdenar"><b>Material</b></button></th>
                                            <th><button class="btn botonOrdenar"><b>Grueso</b></button></th>
                                          </tr>
                                        </thead>
                                        <tbody ng-repeat="combinacion in combinacionMaterialComponente | orderBy:'Componente.Nombre'" ng-if="combinacion.Componente.Activo">
                                          <tr>
                                            <td>{{combinacion.Componente.Nombre}}</td>
                                            <!--- tipo material --->
                                            <td class="dropdown">
                                                <button class="dropdown-toggle  {{combinacion.clase.tipoMaterial}}" data-toggle="dropdown">
                                                    <span>{{combinacion.Material.TipoMaterial.Nombre}}</span>
                                                    <span class="caret"></span>
                                                </button>

                                                <ul class="dropdown-menu elemetosDropdownListModal">
                                                    <li>
                                                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarTipoMaterial('No Aplica', combinacion)">
                                                            <span>NO APLICA</span>
                                                        </a>
                                                    </li>
                                                    <li ng-repeat="tipo in tipoMaterial | orderBy:'Nombre'" ng-if="tipo.Activo">
                                                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarTipoMaterial(tipo, combinacion)">
                                                            <span>{{tipo.Nombre}}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <!--- material --->
                                            <td class="dropdown">
                                                <button class="dropdown-toggle  {{combinacion.clase.material}}" data-toggle="dropdown" ng-disabled="combinacion.Material.TipoMaterial.Nombre.length == 0 || combinacion.Material.TipoMaterial.Nombre === 'No Aplica' ">
                                                    <span>{{combinacion.Material.Nombre}}</span>
                                                    <span class="caret"></span>
                                                </button>
                                                
                                                <ul class="dropdown-menu elemetosDropdownListModal">

                                                    <li ng-repeat="material in material | orderBy:'Nombre' | filter:{MaterialDe:'Módulo'} | filter:{TipoMaterial:{TipoMaterialId:combinacion.Material.TipoMaterial.TipoMaterialId}}:true" ng-if="material.Activo">
                                                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarMaterial(material, combinacion)">
                                                            <span>{{material.Nombre}}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <!--- grueso --->
                                            <td class="dropdown">
                                                <button class="dropdown-toggle  {{combinacion.clase.grueso}}" data-toggle="dropdown" ng-disabled="combinacion.Material.Nombre.length == 0 || !(combinacion.Material.Grueso.length > 0)">
                                                    <span>{{combinacion.Grueso}}</span>
                                                    <span class="caret"></span>
                                                </button>

                                                <ul class="dropdown-menu elemetosDropdownListModal">
                                                    <li ng-repeat="grueso in combinacion.Material.Grueso | orderBy:'grueso' " ng-if="grueso.Activo">
                                                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarGrueso(grueso.Grueso, combinacion)">
                                                            <span>{{grueso.Grueso}}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                          </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>



                        <br>
                        <!-------- mensaje de error ---->
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-repeat="error in mensajeError track by $index">
                                    <span class="textoError">{{error}}</span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <!---- botones de operacion --->
                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn botonCancelar btn-block" data-dismiss="modal" aria-label="Close" ng-click="CerrarCombinacionMaterialModal()">CANCELAR</button>
                            </div>

                            <div class="col-xs-6">
                                <button focus class="btn botonAvanzar btn-block" ng-click="SiguienteCombinacion(combinacionForma.nombre.$invalid)">SIGUIENTE &gt;&gt;</button>
                            </div>
                        </div>
                        <br> 
                    </div>
                    
                    <!-- Paso 2 -->
                    <!-- Puertas -->
                    <div ng-if="pasoCombinacion == 2">
                     
                       <div class="row">
                      
                        <div class="col-xs-12 subtituloModal">
                            <b>Materiales de Puertas</b>
                        </div>
                        <br><br>  
                        <div class="col-xs-12 subtituloModal" ng-if="combinacionPorPuerta.length == 0">
                            <span class="recuperarPassword">No hay puertas dadas de alta</span>
                        </div>
                        
                        <div class="col-xs-12">
                            <div ng-repeat="puerta in combinacionPorPuerta | unique: 'Puerta.Nombre' | orderBy:'Puerta.Nombre'" ng-if="puerta.Puerta.Activo == true || puerta.Puerta.Activo=='1'">
                                 <button class="btn btn-block" ng-class="GetClaseDetallesPuerta(puerta.Puerta.Nombre)" ng-click="MostraComponentePuerta(puerta.Puerta.Nombre)">{{puerta.Puerta.Nombre}}</button>
                                <br>
                                
                                <div class="table-responsive TablaModal" ng-if="mostrarComponentePuerta == puerta.Puerta.Nombre">
                                    <table class="table table-hover">
                                        <thead class="TituloTabla">
                                          <tr>
                                            <th><button class="btn botonOrdenar"><b>Componente</b></button></th>
                                            <th><button class="btn botonOrdenar"><b>Tipo Material</b></button></th>
                                            <th><button class="btn botonOrdenar"><b>Material</b></button></th>
                                            <th><button class="btn botonOrdenar"><b>Grueso</b></button></th>
                                          </tr>
                                        </thead>
                                        <tbody ng-repeat="componente in combinacionPorPuerta | filter:FiltarPuerta | orderBy:'Componente.Nombre' track by $index">
                                          <tr>
                                            <td>{{componente.Componente.Nombre}}</td>
                                            <!--- tipo material --->
                                            <td class="dropdown">
                                                <button class="dropdown-toggle  {{componente.clase.tipoMaterial}}" data-toggle="dropdown">
                                                    <span>{{componente.Material.TipoMaterial.Nombre}}</span>
                                                    <span class="caret"></span>
                                                </button>

                                                <ul class="dropdown-menu elemetosDropdownListModal">
                                                    <li>
                                                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarTipoMaterial('No Aplica', componente)">
                                                            <span>NO APLICA</span>
                                                        </a>
                                                    </li>
                                                    <li ng-repeat="tipo in tipoMaterial | orderBy:'Nombre'" ng-if="tipo.Activo">
                                                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarTipoMaterial(tipo, componente)">
                                                            <span>{{tipo.Nombre}}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <!--- material --->
                                            <td class="dropdown">
                                                <button class="dropdown-toggle  {{componente.clase.material}}" data-toggle="dropdown" ng-disabled="componente.Material.TipoMaterial.Nombre.length == 0 || componente.Material.TipoMaterial.Nombre === 'No Aplica' ">
                                                    <span>{{componente.Material.Nombre}}</span>
                                                    <span class="caret"></span>
                                                </button>

                                                <ul class="dropdown-menu elemetosDropdownListModal">

                                                    <li ng-repeat="material in material | orderBy:'Nombre' | filter:{TipoMaterial:{TipoMaterialId:componente.Material.TipoMaterial.TipoMaterialId}}:true" ng-if="material.Activo">
                                                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarMaterial(material, componente)">
                                                            <span>{{material.Nombre}}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <!--- grueso --->
                                            <td class="dropdown">
                                                <button class="dropdown-toggle  {{componente.clase.grueso}}" data-toggle="dropdown" ng-disabled="componente.Material.Nombre.length == 0 || !(componente.Material.Grueso.length > 0)">
                                                    <span>{{componente.Grueso}}</span>
                                                    <span class="caret"></span>
                                                </button>

                                                <ul class="dropdown-menu elemetosDropdownListModal">
                                                    <li ng-repeat="grueso in componente.Material.Grueso | orderBy:'grueso' " ng-if="grueso.Activo">
                                                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarGrueso(grueso.Grueso, componente)">
                                                            <span>{{grueso.Grueso}}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                          </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                      
                       <br><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-repeat="error in mensajeError">
                                    <span class="textoError">{{error}}</span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn botonCancelar btn-block" data-dismiss="modal" aria-label="Close" ng-click="AnteriorPuerta()">&lt;&lt; ANTERIOR</button>
                            </div>

                            <div class="col-xs-6">
                                <button class="btn botonAvanzar btn-block" ng-click="TerminarCombinacion() ">SIGUIENTE &gt;&gt;</button>
                            </div>
                        </div>
                        <br>
                    </div>
                    
                    <!-- Paso 3 -->
                   <div ng-if="pasoCombinacion == 3">
                       
                        <div class="row">
                            <div class="col-xs-12 subtituloModal" ng-if="combinacionAccesorio.length == 0">
                                <span class="recuperarPassword">No hay accesorios dados de alta</span>
                            </div>
                       </div>
                        <div class="row" ng-if="combinacionAccesorio.length > 0">
                            <div class="col-xs-12 subtituloModal">
                                <b>¿De qué material es fabricado cada accesorio en esta combinación?</b>
                            </div>
                            <br> <br>
                            <div class="col-xs-12">
                                <div class="piezaPorComponenteTabla">
                                    <table class="table table-hover">
                                        <thead class="TituloTabla">
                                          <tr>
                                            <th><button class="btn botonOrdenar"><b>Accesorio</b></button></th>
                                            <th><button class="btn botonOrdenar"><b>Tipo Material</b></button></th>
                                            <th><button class="btn botonOrdenar"><b>Material</b></button></th>
                                            <th><button class="btn botonOrdenar"><b>Grueso</b></button></th>
                                          </tr>
                                        </thead>
                                        <tbody ng-repeat="combinacion in combinacionAccesorio | orderBy:'Accesorio.Nombre'" ng-if="combinacion.Accesorio.Activo">
                                          <tr>
                                            <td>{{combinacion.Accesorio.Nombre}}</td>
                                            <!--- tipo material --->
                                            <td class="dropdown">
                                                <button class="dropdown-toggle  {{combinacion.clase.tipoMaterial}}" data-toggle="dropdown">
                                                    <span>{{combinacion.Material.TipoMaterial.Nombre}}</span>
                                                    <span class="caret"></span>
                                                </button>

                                                <ul class="dropdown-menu elemetosDropdownListModal">
                                                    <li>
                                                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarTipoMaterial('No Aplica', combinacion)">
                                                            <span>NO APLICA</span>
                                                        </a>
                                                    </li>
                                                    <li ng-repeat="tipo in tipoMaterial | orderBy:'Nombre'" ng-if="tipo.Activo">
                                                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarTipoMaterial(tipo, combinacion)">
                                                            <span>{{tipo.Nombre}}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <!--- material --->
                                            <td class="dropdown">
                                                <button class="dropdown-toggle  {{combinacion.clase.material}}" data-toggle="dropdown" ng-disabled="combinacion.Material.TipoMaterial.Nombre.length == 0 || combinacion.Material.TipoMaterial.Nombre === 'No Aplica' ">
                                                    <span>{{combinacion.Material.Nombre}}</span>
                                                    <span class="caret"></span>
                                                </button>
                                                
                                                <ul class="dropdown-menu elemetosDropdownListModal">

                                                    <li ng-repeat="material in material | orderBy:'Nombre' | filter:{MaterialDe:'Módulo'} | filter:{TipoMaterial:{TipoMaterialId:combinacion.Material.TipoMaterial.TipoMaterialId}}:true" ng-if="material.Activo">
                                                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarMaterial(material, combinacion)">
                                                            <span>{{material.Nombre}}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <!--- grueso --->
                                            <td class="dropdown">
                                                <button class="dropdown-toggle  {{combinacion.clase.grueso}}" data-toggle="dropdown" ng-disabled="combinacion.Material.Nombre.length == 0 || !(combinacion.Material.Grueso.length > 0)">
                                                    <span>{{combinacion.Grueso}}</span>
                                                    <span class="caret"></span>
                                                </button>

                                                <ul class="dropdown-menu elemetosDropdownListModal">
                                                    <li ng-repeat="grueso in combinacion.Material.Grueso | orderBy:'grueso' " ng-if="grueso.Activo">
                                                        <a  href="" class="dropdownOpcionModal" ng-click="CambiarGrueso(grueso.Grueso, combinacion)">
                                                            <span>{{grueso.Grueso}}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                          </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>



                        <br>
                        <!-------- mensaje de error ---->
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-repeat="error in mensajeError track by $index">
                                    <span class="textoError">{{error}}</span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <!---- botones de operacion --->
                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn botonCancelar btn-block" data-dismiss="modal" aria-label="Close" ng-click="AnteriorPuerta()">&lt;&lt; ANTERIOR</button>
                            </div>

                            <div class="col-xs-6">
                                <button focus class="btn botonAvanzar btn-block" ng-click="TerminarAccesorio()">TERMINAR</button>
                            </div>
                        </div>
                        <br> 
                    </div>
                </form>
            </div>
            <br><br><br>
        </div>
    </div>
    
    <!-- Desactivar Modal -->
    <div class="modal fade" id="CambiarActivoCombinacionModal" data-keyboard="false" data-backdrop="static">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                
                <div class="modal-body">
                    <br>
                    <div class="panel panel-default modalMensaje">
                        <br>
                        <b>{{mensajeAdvertencia}}</b>
                        <br><br>

                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn botonCancelar" data-dismiss="modal" aria-label="Close" ng-click="CancelarCambiarActivo()">No</button>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn botonAvanzar" data-dismiss="modal" aria-label="Close" ng-click="ConfirmarActualizarActivo()">Si</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                
            </div>
        </div>
    </div> 
    
    
    <!-- Modal para mensajes -->
    <div class="modal fade" id="mensajeCombinacionMaterial">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                
                <div class="modal-body">
                    <div class="panel panel-default modalMensaje">
                        <br>
                        <b>{{mensaje}}</b>

                        <br><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn  botonAvanzar" data-dismiss="modal" aria-label="Close">Aceptar</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                
            </div>
        </div>
    </div> 
</div>

     