<div  class="container-fluid " ng-controller="LoginControlador">
    <br>
    <div class="row">
        <div class="col-xs-12">
            <img class="logo img-responsive center-block" src="img/login/logo.png" />
        </div>
    </div>
    <br><br>
    <form class="row" name="login">
        <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10 panelLogin">
            <br>
            <div class="row">
                <div class=" col-xs-offset-2 col-xs-8 text-center">
                    <b><h2>Sistema Integral de Cocinas K</h2></b>
                </div>
            </div>
            <br><br><br>
            <!-- Nombre de usuario -->
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">
                     <div class="entrada2">
                        <input type="text" required class="entrada form-control" name="usuario" ng-model="usuario.Nombre"/>
                        <label>Nombre de Usuario</label>
                    </div>
                </div>
            </div>
            <br><br><br>
            <!-- Contraseña -->
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">
                    <div class="entrada2">
                        <input  type="password" required class="entrada form-control" name="password" ng-model="usuario.Password"/>
                        <label>Contraseña</label>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">
                    <b class="textoError">
                        {{mensajeError}}
                    </b>
                </div>
            </div>
            <br>
            
            <!-- Botón para iniciar sesión -->
            <div  class="row">
                <div class="col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">
                    <button class="btn btn-lg btn-block botonLogin" ng-click="IniciarSesion(login.usuario.$invalid, login.password.$invalid)"> Iniciar Sesión </button>
                </div>
            </div>
            <br><br>
            
        </div>
    </form>
    <br> 
</div>