<div  class="container-fluid " ng-controller="PerfilControlador">
    <br><br><br><br>
    
    <div class="col-xs-12">
        <!-- selección de perfil -->
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 panelLogin">
                <div class="perfilTexto text-center"><br>¿Qué perfil deseas usar?</div>
                <br>
                <div class="col-sm-4" ng-repeat="perfil in Perfiles">
                    <button class="btn btn-block btn-md PerfilBoton" ng-click="SeleccionarPerfil(perfil)" ng-show="perfil.visible" ng-disabled=" perfil.nombre == 'Ejecutivo'">{{perfil.nombre}}</button>
                </div>
                <br><br class="hidden-xs"><br class="hidden-xs"><br class="hidden-xs">
            </div>
        </div>
    </div>
    
</div>