<div  class="container-fluid " ng-controller="RecuperarPasswordControlador">
    
     <div class="encabezado">
         
        <div class="row perfilEncabezado">            
            <!-- Título -->
            <div class="col-md-7 col-sm-6 col-xs-6 encabezadoTitulo">
                <h2 class =" hidden-xs hidden-sm">Sistema Integral de Cocinas K</h2>
                <h3 class ="hidden-md hidden-lg">Sistema Integral de Cocinas K</h3>
            </div>
            <div class=" col-md-5 col-sm-6 col-xs-6" style="margin-top: 20px;">
            </div>
        </div>
        
        <div class="row barraNavegacion" >
            
            <div class="col-xs-12">
                
                <!-- logo -->
                <div class="col-sm-3 col-xs-8">
                    <img ng-src="img/Encabezado/logo.png" class=" claseLogoSM hidden-xs" />
                    <img ng-src="img/Encabezado/logo.png" class=" claseLogoXS hidden-sm hidden-md hidden-lg">
                </div>
                
            </div>
        </div>        
    </div>
    
    <br><br>
    <div  ng-if="operacion == 'Cambiar'">
        <div class="row">
            <div class="col-xs-12">
                <div class="tituloModulo">
                    <span>Recuperación de Contraseña</span>
                </div>
            </div>
        </div>
        <br><br>
        <form name="reiniciarPasswordForma">
            <div class="row">
                <div class="col-xs-12">
                    <div class="margenNegro">
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                               <div class="entrada2">
                                    <input ng-pattern="erPassword" type="password" required class="entrada form-control" name="password" ng-model="nuevoPassword.password"/>
                                    <label>Nueva Contraseña</label>
                                </div>
                            </div>
                            <br class="hidden-sm hidden-md hidden-lg">
                            <br class="hidden-sm hidden-md hidden-lg">
                            <div class="col-sm-6">
                               <div class="entrada2">
                                    <input type="password" required class="entrada form-control" name="repetirPassword" ng-model="nuevoPassword.repetir"/>
                                    <label>Repetir Contraseña</label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <!-------- mensaje de error ---->
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-repeat="error in mensajeError">
                                    <span class="textoError">{{error}}</span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 pull-right">
                                <button focus class="btn botonAvanzar btn-block" ng-click="ReiniciarPassword(reiniciarPasswordForma.password.$invalid)">TERMINAR</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <div class="row" ng-if="operacion == 'No Cambiar'">
       <div class="col-sm-12 col-sm-8 col-sm-offset-2">
            <div class="panelHome">
                <div class="panelHome2 text-center">
                    <br>
                    <span class="textoUsuario text-center"> Tu solicitud para reiniciar tu contraseña ha caducado.</span>
                    <br><br>
                    <span class="textoPerfilHome">Si aún no recuerdas tu contraseña envia una nueva solicitud desde la página de Iniciar Sesión.</span>
                    <br><br>
                    <div class="col-xs-12 col-sm-6 pull-right">
                        <button  focus class="btn botonAvanzar btn-block" ng-click="IrIniciarSesion()">Ir a Iniciar Sesión &gt;&gt;</button>
                    </div>
                    <br><br>
                </div>
           </div>
        </div>
        
    </div>
    <br>
    
    <!--------------- Modals ------------------>
    <!-- Modal para mensajes -->
    <div class="modal fade" id="mensajeRecuperarPassword" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                
                <div class="modal-body">
                    <div class="panel panel-default modalMensaje">
                        <br>
                        <b>{{mensaje}}</b>

                        <br><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn  botonAvanzar" data-dismiss="modal" aria-label="Close" ng-click="IrIniciarSesion()">Aceptar</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                
            </div>
        </div>
    </div>  
    
</div>