<div ng-controller="EncuestaControlador as encuesta" ng-init="GetEncuesta()">
    
    <div class="row">
            
        <div class="col-md-11 col-xs-10">            
            <div class="table-responsive TablaUnidadNegocio">
                <table class="table table-hover table-striped table-condensed">
                    <thead class="TituloTabla">
                      <tr>
                        <th><button class="btn botonOrdenar" ng-click="CambiarOrdenEncuesta('Nombre')"><b>Nombre </b><b ng-if="ordenEncuesta === 'Nombre'" class="fa fa-arrow-up"></b>  <b ng-if="ordenEncuesta === '-Nombre'" class="fa fa-arrow-down"></b></button></th>
                        <th><button class="btn botonFalso"><b>Editar</b></button></th>
                        <th><button class="btn botonFalso"><b>Activo</b></button></th>
                      </tr>
                    </thead>
                    <tbody >
                      <tr ng-repeat="encuesta in encuesta | orderBy:[ordenEncuesta] | filter:{Nombre:buscarEncuesta}" >
                        <td>{{encuesta.Nombre}}</td>

                        <td class="text-center">
                            <a ng-if="permisoUsuario.encuesta.editar" class="BotonOperacion" href="" data-toggle="modal" data-target="#" ng-click="AbrirEncuesta('Editar', encuesta)">
                                <span class="fa fa-pencil fa-2x"></span>
                            </a>

                            <span ng-if="!permisoUsuario.encuesta.editar" class="fa fa-pencil fa-2x botonRegistroDeshabilitado"></span>
                        </td>

                        <td class="text-center">
                            <div class="checkbox">
                                <label>
                                    <input ng-disabled="!permisoUsuario.encuesta.activar" ng-model="encuesta.Activo" type="checkbox" value="" ng-click="CambiarEstatusEncuesta(encuesta)">
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                </label>
                            </div>
                        </td>

                      </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-2 col-md-1">
             <button ng-disabled="!permisoUsuario.encuesta.agregar"  class="btn btn-block botonOperacion fa fa-plus text-center" data-toggle="tooltip" data-placement="bottom" title="Agregar Medio de Captación" ng-click="AbrirEncuesta('Agregar', null)"></button>
             
             <br><br>
             <!-- Boton buscar -->
            <div class="dropdown">
                
                <button class="btn btn btn-block botonOperacion fa fa-search text-center" data-toggle="dropdown" ></button>
                    
                <ul class="dropdown-menu dropdown-menu-right operacionPanel">

                    <li style="width: 225px; height: 35px !important;">

                        <form role="buscar" style="max-width: 200px; height: 25px !important;">
                            <div class="input-group" >
                              <input  type="text" class="form-control operacionPanelEntrada" placeholder="Buscar" style="margin-left: 5px; width: 175px;" ng-model="buscarEncuesta">
                              <span class="input-group-btn" style="width: 25px;">
                                <button class="btn operacionPanelBoton" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                              </span>
                            </div>
                        </form>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
                     
    <!------------------------------------ Modales -------------------------------------------------------------------->
    
    <!-- Encuestas -->
    <div class="modal fade" id="encuestaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true" data-backdrop="static">
        <div class="modalPantalla center-block" >
          
           <!-- Header -->
           <div class="encabezadoModalStatic">
            
                <div class="row"> 
                    <div class="col-xs-12">
                        <div style="height: 20px"></div>
                    </div>
               </div>
                <!-- Título -->
                <div class="row"> 
                    <div class="col-sm-12">
                      
                    <div class="input-group">
                       <div class="entrada2">
                            <input autocomplete="off"  type="text" required class="entrada form-control" name="nombre" ng-model="nuevaEncuesta.Nombre" ng-maxlength="255"/>
                            <label>Título</label>
                        </div>
                        
                        <div class="input-group-btn">
                            <button class="btn botonAgregarAcordion">
                                <span class="fa fa-plus"></span>
                                <span class="hidden-xs">Pregunta</span>
                            </button>
                        </div>     
                    </div>
                        
                   </div> 
                   
                           
                </div>
                
            </div>
            
            
            <!-- Body -->
            <div style="height: 90px;"></div>
            
            <div style="padding: 15px">
               
                <!-- Preguntas -->       
                <div ng-repeat="pre in pregunta" class="animated" ng-class=" {slideInUp :Subir == pre.PreguntaId,  slideInDown : Bajar == pre.PreguntaId}">
                   
                   <div class="row" ng-if="$first"> <div class="col-xs-12"><div class="divisorGrisClaro1"> </div><div style="height: 10px"></div></div></div>
                    
                    <!-- pregunta -->
                    <div class="row">
                        <div class="col-xs-12">
                           <span class="pregunta">
                               {{$index + 1}}. {{pre.Pregunta}}
                           </span>
                        </div>
                    </div>
                    <div style="height: 10px"></div>
                    
                    <!-- Respuesta -->
                    <div class="row">
                        <div class="col-xs-12">
                        
                            <!-- Comentario -->
                            <div ng-if="pre.TipoPregunta.TipoPreguntaId == '3'">
                                <textarea class="taComentario" placeholder="Escribe un comentario" disabled></textarea>
                            </div>
                            
                            <!-- Check Box - Radio button -->
                            <div ng-if="pre.TipoPregunta.TipoPreguntaId != '3'" ng-repeat="respuesta in pre.Respuesta">
                                
                                <div class="row">
                                    <div class="col-xs-12 respuesta">
                                        <span style="font-size: 14pt" ng-class="{'fa fa-square-o' : pre.TipoPregunta.TipoPreguntaId == '2', 'fa fa-circle-o' : pre.TipoPregunta.TipoPreguntaId == '1'}"></span> 
                                        <span>{{respuesta.Respuesta}}</span>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    
                    <div style="height: 10px"></div>
                    
                    <div class="row">
                         <div class="col-xs-12">
                             
                             <!-- orden -->
                             <div class="btn-group">
                                 
                                 <button class="btn btnOpcionRespuesta" ng-disabled="$first" ng-click="SubirOrdenPregunta(pre, pregunta[$index-1], $index)"> 
                                     <span class="fa fa-arrow-circle-o-up"></span>
                                 </button>
                                 
                                 <button class="btn btnOpcionRespuesta" ng-disabled="$last" ng-click="BajarOrdenPregunta(pre, pregunta[$index+1], $index)"> 
                                     <span class="fa fa-arrow-circle-o-down"></span>
                                 </button>
                                 
                             </div>
                             
                             <!-- Operaciones -->
                             <div class="btn-group pull-right">
                                
                                <button class="btn btnOpcionRespuesta"> 
                                     <span class="fa fa-trash"></span>
                                 </button>
                                 
                                 <button class="btn btnOpcionRespuesta"> 
                                     <span class="fa fa-clone"></span>
                                 </button>
                                 
                                 <button class="btn btnOpcionRespuesta"> 
                                     <span class="fa fa-pencil"></span>
                                 </button>
                                 
                             </div>
                             
                         </div>
                    </div>
                    
                    
                    <div class="row"> <div class="col-xs-12"><div class="divisorGrisClaro1"> </div><div style="height: 10px"></div></div></div>
                    
                </div>
                
                
                
                <!-------- mensaje de error ---->
                <div class="row">
                    <div class="col-xs-12">
                        <div ng-repeat="error in mensajeError | unique:error track by $index">
                            <span class="textoError">{{error}}</span>
                        </div>
                    </div>
                </div>
                <br>
    
            </div>
            
            
            <div style="height: 70px;"></div>
            
            <!-- footer -->
            <div class="modalFooter" style="border-top: 1px solid lightgray">
                   
                <!---- botones de operacion -->
                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn botonOperacionModal btn-block" data-dismiss="modal" aria-label="Close" ng-click="CerrarPresupuestoModal()">CANCELAR</button>
                    </div>

                    <div class="col-xs-6">
                        <button focus class="btn botonOperacionModal btn-block" ng-click="TerminarCliente()">TERMINAR</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>  
                     
    
    <!-- Activar - Desactivar Encuesta -->
    <div class="modal fade" id="modalEstatusEncuesta"  data-keyboard="true" data-backdrop="static">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm modalPrincipal text-center">
           
            <div class="row">
                <div class="col-xs-12">
                    <span style="font-size:14pt">{{mensajeAdvertencia}}</span>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn botonOperacionModal btn-block" data-dismiss="modal" aria-label="Close" ng-click="CancelarEstatusEncuesta()">No</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn botonOperacionModal btn-block" data-dismiss="modal" aria-label="Close" ng-click="ConfirmarActualizarEncuesta()">Si</button>
                </div>
            </div>
                        
        </div>
    </div>
    
    <!-- Modal para mensajes -->
    <div class="modal fade sombraDivModal" id="mensajeEncuesta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <br>    <br>   <br>
        <div class="modal-dialog modalPrincipal modal-sm">
           <br>
            <div class="row">
                <div class="col-xs-12 text-center" style="font-size:12pt">
                   {{mensaje}}
                </div>
            </div>
            <br>
            <div class="row">
            
                <div class="col-xs-12">
                    <button focus class="btn botonOperacionModal btn-block" data-dismiss="modal" aria-label="Close">Aceptar</button>
                </div>
            </div>
        </div>   
    </div>
                        
</div>

     