.BotonOperacion.contratar
{
    border: 2px solid rgb(250, 97, 21);
    padding: 5px;
}

.BotonOperacion.contratar:hover
{
    color: white;
    background: rgb(250, 97, 21);
}

.contratado
{
    border: 2px solid rgb(250, 97, 21);
    padding: 5px;
    color: white;
    background: rgb(250, 97, 21);
}

.modalPantalla
{
    height: 90%;
    width: 90%;
    background: white;
    position: relative;
    top: 5%;
    border-radius: 0px;
    overflow: scroll;
}

.modalFooter
{
    position: fixed;  
    width: 90%;
    bottom: 5%;
    padding: 15px 15px 10px 15px;
    background: white;
}

.modalHeader
{
    position: absolute;  
    width: 100%;
    top: 0;
    padding: 15px 15px 20px 15px;
    z-index: 2;
}

.divisorMitad
{
    border-left: 1px solid #A6A6A6;
}

.chgDescuento, .chgDescuento:focus, .chgDescuento:active
{
    width: 30px !important;
    height: 30px;
    border-radius: 0px !important;
    border: 1px solid rgb(42, 45, 51);
    background: transparent;
    color: rgb(42, 45, 51);
    padding: 4px;
    
    box-shadow: none;
    outline: none !important;
}

.chgDescuento:hover
{
    background: rgb(42, 45, 51);
    color: white;
    
    box-shadow: none;
    outline: none !important;
}

.btnTitle, .btnTitle:disabled
{
    border-radius: 0px;
    background: white;
    color: rgb(50, 50, 50);
    cursor: default;
    font-size: 14pt;
    padding-left: 0px;
    padding-right: 30px;
    opacity: 1.0;
    
    outline: none !important;
    box-shadow: none;
}

.btnSwitch, .btnSwitch:hover, .btnSwitch:active, .btnSwitch:disabled
{
    background: #A6A6A6;
    color: rgb(42, 45, 51);
    border-radius: 0px;
     
    outline: none !important;
    box-shadow: none;
}

.btnSwitch.Activo
{
    background: rgb(250, 97, 21);
    color: white;
    border-radius: 0px;
     
    outline: none !important;
    box-shadow: none;
}

.btnSwitch:disabled
{
    opacity: 1.0;
    cursor: default;
}

.labeldetail
{
    width: 110px;
}

.pagospanel
{
    min-height: 145px;
}

.entradaContorno, .entradaContorno:focus, .entradaContorno:hover, .entradaContorno:active
{
    border-color: #262626;
    color: #262626;
    border-radius: 0px;
    border-width: 2px;
    width: 100%;
    
    outline: none !important;
    box-shadow: none;
}

.formlidropdown, .formlidropdown:focus, .formlidropdown:hover, .formlidropdown:active
{
    height: auto;
    min-height: 30px;
    border-radius: 0px !important;
    border-width: 0px 0px 1px 0px;
    width: 100%;
    border-color: #7F7F7F;
    
    outline: none !important;
    box-shadow: none !important;
}

.btnOptContrato, .btnOptContrato:active, .btnOptContrato:focus
{
    border: 1px solid lightgray;
    background: white;
    color: #262626;
    border-radius: 0px;
    width: 22px;
    
    outline: none !important;
    box-shadow: none !important;
}

.btnOptContrato:hover
{
    background: lightgray;
}

/*--------- Archivos Arrastar -------------------*/
.files input 
{
    outline: 2px dashed gray;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 60px 0px 70px 20%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
    border-radius: 0px;
    
    
    opacity: 0;
	filter: alpha(opacity=0);
}


.files:hover
{
    outline: 2px dashed #262626;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #262626;
    
    box-shadow: none;
 }

.files
{ 
    position:relative;
    background: white;
    outline: 2px dashed gray;
    outline-offset: -10px;
    text-align: center !important;
    border:1px solid gray;
}

.color input
{ 
    background-color:gray;
}

.files:after 
{  
    pointer-events: none;
    position: absolute;
    top: 25px;
    width: 100%;
    right: 0;
    
    content: "\f093";
    font-family: FontAwesome;
    font-size: 24pt;
    
    display: block;
    margin: 0 auto;
    
     text-align: center;
}

.files:before 
{
    position: absolute;
    bottom: 25px;
    left: 0;  
    pointer-events: none;
    width: 100%;
    right: 0;
    height: auto;
    content: " Selecciona o arrastra tu imagen aqui. ";
    display: block;
    margin: 0 auto;
    color: #262626;
    font-weight: 600;
    text-align: center;
}

.textoSaldos
{
    color: gray;
    font-size: 13pt;
}

.textoSaldosInfo
{
    font-size: 13pt;
    color: black;
}

@media (max-width: 767px)
{    
    .textoSaldos
    {
        color: gray;
        font-size: 11pt;
    }

    .textoSaldosInfo
    {
        font-size: 11pt;
    }
}

.marginDropdown
{
    margin-left:  50%;
}

/*----- Cancelar ---*/
.btnRed, .btnRed:focus, .btnRed:active
{
    background: white;  
    color:  #970000;
    border: 2px solid  #970000;
    border-radius: 0px;
    
    outline: none !important;
    box-shadow: none;
}

.btnRed:hover
{
    color: white;  
    background:  #970000; 
}