.botonDatePicker
{
    border: none;
    background: white;
    border-radius: 0px;
    color: rgba(250, 97, 21, 1.0);
    
    outline: none !important;
    box-shadow: none;
}

.botonDatePicker:hover
{
    background: rgba(250, 97, 21, 1.0);
    color: white;
    
}

.descripcionArea, .descripcionArea:focus, .descripcionArea:hover
{
    border:solid 2px #262626; 
    max-width:100%;
    border-radius: 0px;
    outline: none !important;
    box-shadow: none;
}

.descripcionAreaError, .descripcionAreaError:focus, .descripcionAreaError:hover
{
    border:solid 2px rgba(250, 97, 21, 1.0); 
    max-width:100%;
    border-radius: 0px;
    outline: none !important;
    box-shadow: none;
}

.labelEntrada
{
    color: rgb(89, 89, 89);
    opacity:1;
    font-weight:400;
    font-size:14px;
    font-weight: bold;
}


/*------------botones-------*/
.botonTabActive, .botonTabActive:hover, .botonTabActive:focus, .botonTabActive:active
{
    background: #262626;
    color: #D9D9D9;
    border-radius: 0px;
    
    outline: none !important;
    box-shadow: none;
}

.botonTab, .botonTab:focus, .botonTab:active
{
    background: white;
    color: #777;
    border: 0px;
    border-radius: 0px;
    
    outline: none !important;
    box-shadow: none;
}

.botonTab:hover
{
    background: white;
    color: #262626;
}

.panelSelector
{
    border: 2px solid #262626;
    padding: 20px !important;
}

.panelOpciones
{
    border: 2px solid #262626;
    border-radius: 0px;
}

.botonAcordion, .botonAcordion:hover, .botonAcordion:focus, .botonAcordion:active
{
    border-radius: 0px;
    background: white;
    border-width: 0px 0px 3px 0px;
    border-bottom: 3px solid #262626;
    
    outline: none !important;
    box-shadow: none;
}

.botonAcordion:disabled, .botonAcordion:disabled:hover
{
    background: rgb(234, 234, 234);
}

.botonAgregarAcordion, .botonAgregarAcordion:active, .botonAgregarAcordion:focus
{
    border-radius: 0px;
    border: none;
    background: white;
    color: #262626;
    font-size: 16pt;
    
    outline: none !important;
    box-shadow: none;
}

.botonAgregarAcordion:hover
{
    color: rgba(250, 97, 21, 1.0);
}

.botonBordeNegro, .botonBordeNegro:active, .botonBordeNegro:focus, .botonBordeNegro:disabled:hover
{
    border-radius: 0px;
    border: 2px solid #262626;
    
    background: white;
    color: #262626;
    
    outline: none !important;
    box-shadow: none;
}

.botonBordeNegro:hover
{
    background: rgba(250, 97, 21, 1.0);
    border-color: rgba(250, 97, 21, 1.0);
    color: white;
}



